workflows/[Evolution] - Disparo em massa - 20/05 20hrs.json
{
  "active": false,
  "connections": {
    "ler_planilha": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato": {
      "main": [
        [
          {
            "node": "notifica_responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "variaveis_evolution1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "excluir_enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "insere_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [],
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EnviaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "excluir_enviados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_telefone": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxa_lista": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_status": {
      "main": [
        [
          {
            "node": "Retorna Output Aleatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "puxa_lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis_evolution1": {
      "main": [
        [
          {
            "node": "ler_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna Output Aleatorio": {
      "main": [
        [
          {
            "node": "Saida Aleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida Aleatoria": {
      "main": [
        [
          {
            "node": "40s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "45s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "50s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "53s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "EnviaMensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "53s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40s": {
      "main": [
        [
          {
            "node": "separa_em_linhas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnviaMensagem": {
      "main": [
        [
          {
            "node": "atualiza_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20hrs": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-20T16:43:40.783Z",
  "id": "EaXMEe99iKvy0DAW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Evolution] - Disparo em massa - 20/05 20hrs",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rgg2JBWZZ7ZRuXwyDZJky8RmfgKxOVlFDz5ECq4SpQU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rgg2JBWZZ7ZRuXwyDZJky8RmfgKxOVlFDz5ECq4SpQU/edit#gid=0"
        },
        "options": {}
      },
      "id": "6461a1dc-7f69-4253-8087-82f7f06628a1",
      "name": "ler_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -380,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6haYpAmOsZXFxR68",
          "name": "[Google Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8d0e6c19-4d6d-485e-b34f-6a3971e7ce96",
      "name": "separa_em_linhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -180,
        380
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"dados\"].json[\"numero_notificacao\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"dados\"].json[\"nome_responsavel\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"dados\"].json[\"nome_responsavel\"].split(' ')[1] ? $node[\"dados\"].json[\"nome_responsavel\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"dados\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1940,
        220
      ],
      "id": "66148c46-5343-4c6d-bed9-08812a2866be",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "API-KEY"
            },
            {
              "name": "numero_notificacao",
              "stringValue": "5562981196678"
            },
            {
              "name": "nome_responsavel",
              "stringValue": "Mateus Diniz"
            }
          ]
        },
        "options": {}
      },
      "id": "18e2dcd9-5307-4989-af98-f8436b9adf3f",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -740,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "value2": "20/05/2024"
            }
          ]
        }
      },
      "id": "b485e303-3736-4d76-becc-6d88f9547120",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1100,
        400
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "a69d1a42-57ba-4a80-aabf-ca7a08b22334",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const telefoneOriginal = $node[\"separa_em_linhas\"].json[\"telefone\"].toString();\n\n// Removendo caracteres não numéricos\nconst telefoneLimpo = telefoneOriginal.replace(/\\D/g, '');\n\n// Define o DDI padrão\nconst ddiPadrao = '55';\n\n// Extrai o DDD e o número, considerando que o telefone limpo pode já vir com o DDI\nlet ddd, numero;\nif (telefoneLimpo.startsWith(ddiPadrao)) {\n    // Se o número já começa com o DDI padrão, extrai sem o DDI\n    ddd = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n} else {\n    // Se o número não contém o DDI, extrai o DDD e o número como estão\n    ddd = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n}\n\n// Monta o número de telefone final, adicionando o DDI apenas se não estava presente\nconst telefoneFinal = telefoneLimpo.startsWith(ddiPadrao) ? ddiPadrao + ddd + numero : ddiPadrao + telefoneLimpo;\n\nreturn { telefonefinal: telefoneFinal };\n"
      },
      "id": "f5e74a57-3e46-4caf-8757-aed8e2fd6980",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"status\"] }}",
              "value2": "enviado"
            }
          ]
        }
      },
      "id": "dd36f000-4d37-4e03-a86d-5525e8afd0ab",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "642d5a38-f7cb-4804-8b56-08ee9b1fc4cf",
      "name": "separa_em_linhas1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "status",
              "value": "enviado"
            }
          ]
        },
        "options": {}
      },
      "id": "4ca7b8af-b9a6-4942-9745-1df3f30ac992",
      "name": "excluir_enviados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -920,
        380
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"Code\"].json[\"telefonefinal\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f42d823b-6755-4320-a2b7-f0bbfcc3725e",
      "name": "insere_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        260,
        460
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "returnAll": true,
        "combineConditions": "OR",
        "options": {}
      },
      "id": "887b43a1-68d3-41a4-a304-1d3c66843cc2",
      "name": "puxa_lista",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        260,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "disparos_em_massa",
          "mode": "list",
          "cachedResultName": "disparos_em_massa"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "status",
              "value": "enviado"
            }
          ]
        },
        "options": {}
      },
      "id": "44877f8c-5894-4d47-99db-275c53bdd9bd",
      "name": "atualiza_status",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1060,
        400
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "359f8195-6219-4f38-a6ac-dc9140f914f6",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        60,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://evolutionapi.automagicbots.com.br"
            },
            {
              "name": "apikey",
              "value": "zogtwgh1lwjhqk6vy94kp"
            },
            {
              "name": "nome_da_instancia",
              "value": "Portus_Digital"
            },
            {
              "name": "nome_evento"
            },
            {
              "name": "link_do_audio"
            }
          ]
        },
        "options": {}
      },
      "id": "d3cff026-776d-4bd9-abab-1878ef8c9b5e",
      "name": "variaveis_evolution1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -560,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "return {aleatorio: Math.floor(Math.random() * 4)};"
      },
      "id": "ef60f006-3e2f-4923-b096-5ed06af5cedc",
      "name": "Retorna Output Aleatorio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ]
    },
    {
      "parameters": {
        "value1": "={{ $json[\"aleatorio\"] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "37c33882-6056-42a2-8f66-d658a742e156",
      "name": "Saida Aleatoria",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1420,
        400
      ]
    },
    {
      "parameters": {
        "amount": 40,
        "unit": "seconds"
      },
      "id": "1fde6e83-77f9-422a-b09c-49ca5f7921e1",
      "name": "40s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1740,
        380
      ],
      "webhookId": "86c6fe4a-b004-4288-af69-bab8cf8c5edd"
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "a7de0b68-c41d-4299-b31a-8467a93ae634",
      "name": "45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1740,
        520
      ],
      "webhookId": "205a6d51-a7f5-4456-812b-0d10b7b51cb8"
    },
    {
      "parameters": {
        "amount": 50,
        "unit": "seconds"
      },
      "id": "805a4e08-a9b8-478a-aed4-068c5a00bae4",
      "name": "50s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1740,
        660
      ],
      "webhookId": "2d1e355b-00f5-4bd1-a05d-59b792a1d7ac"
    },
    {
      "parameters": {
        "amount": 53,
        "unit": "seconds"
      },
      "id": "f31f0771-e9b7-469e-b3d1-06b142ace4c1",
      "name": "53s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1740,
        800
      ],
      "webhookId": "46b72339-5571-4a32-82b7-e88c337f262e"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato\"].json[\"id\"] }}/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "={{ $node[\"cadastrar_contato\"].json[\"first_name\"] }}, o disparo em massa na Evolution foi finalizado."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"dados\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "notifica_responsavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2140,
        220
      ],
      "id": "eaedf3d5-4f31-4676-9a89-6744f802bb3f",
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "a5c69ec6-7096-4a94-a4e5-61fb4af0cac2",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        200
      ],
      "webhookId": "1041a37a-2789-43a1-8f1b-129671827bd8"
    },
    {
      "parameters": {
        "phoneNumberId": "335894286266992",
        "recipientPhoneNumber": "=+{{ $node[\"dados\"].json[\"numero_notificacao\"] }}",
        "template": "disparo_concluido|pt_BR"
      },
      "id": "38ef3d2e-e86a-41c0-86c0-5922e8223956",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1340,
        20
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "jvqZJXjWJXwpV03j",
          "name": "[API Oficial WhatsApp] - Portus"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "335894286266992",
        "recipientPhoneNumber": "=+{{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}",
        "template": "falta_2_dias_disparo_18_05|pt_BR"
      },
      "id": "1e49cdfd-cdeb-4a5a-97c7-3e12c9a16528",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        240,
        720
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "jvqZJXjWJXwpV03j",
          "name": "[API Oficial WhatsApp] - Portus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"separa_em_linhas1\"].json[\"telefone\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Estamos ao vivo no ZOOM te esperando para a sala secreta. \n\nÉ só clicar no link para entrar: \n"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "0c16c885-9daf-46b2-8c5a-751f93be90b7",
      "name": "EnviaMensagem",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        400
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"variaveis_evolution1\"].json[\"url_base\"] }}/message/sendText/{{ $node[\"variaveis_evolution1\"].json[\"nome_da_instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"variaveis_evolution1\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"variaveis_evolution1\"].json[\"numero_notificacao\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "={{ $node[\"variaveis_evolution1\"].json[\"nome_responsavel\"].split (' ')[0] }}, disparo em massa finalizado na Evolution."
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "e9078e8e-17c5-47b8-bb0d-6dd9dae75670",
      "name": "EnviaMensagem1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1060,
        220
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "aa8bff11-4298-460c-95f2-02b498de5ddd",
      "name": "20hrs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1260,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "p3FaRDkYc5EoM9KR"
  },
  "staticData": {
    "node:12hrs": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-05-20T16:56:26.348Z",
  "versionId": "173970e6-11c4-4dd0-b56c-aa054294312c"
}