workflows/✅⌚[BANCO INTER] - CRIA CONTAS A PAGAR/RECEBER NO OMIE.json
{
  "active": false,
  "connections": {
    "atualiza_lead3": {
      "main": [
        [
          {
            "node": "add_conta_a_receber_omie3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_telefone": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe2": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_preenchido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido1": {
      "main": [
        [
          {
            "node": "atualiza_dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_tel_empresa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead3": {
      "main": [
        [
          {
            "node": "debito1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_tel_empresa1": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados1": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead2": {
      "main": [
        [
          {
            "node": "debito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_venda": {
      "main": [
        [
          {
            "node": "nao_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe1": {
      "main": [
        [
          {
            "node": "insert_data_vendas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_vendas": {
      "main": [
        [
          {
            "node": "id_conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_conversion": {
      "main": [
        [
          {
            "node": "pesquisa_venda1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_conversion1": {
      "main": [
        [
          {
            "node": "pesquisa_venda1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_venda1": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_hj_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_hj_data_lake": {
      "main": [
        [
          {
            "node": "nao_existe_conversion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nao_existe_conversion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia2": {
      "main": [
        [
          {
            "node": "insert_data_data_lake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia3": {
      "main": [
        [
          {
            "node": "update_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia": {
      "main": [
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia4": {
      "main": [
        [
          {
            "node": "nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_conversion": {
      "main": [
        [
          {
            "node": "lead_ja_existia2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_conversion1": {
      "main": [
        [
          {
            "node": "lead_ja_existia3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido": {
      "main": [
        [
          {
            "node": "telefone_preenchido1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_tel_normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_tel_normal": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_vendas": {
      "main": [
        [
          {
            "node": "id_conversion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados": {
      "main": [
        [
          {
            "node": "id_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "nao_existe2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead": {
      "main": [
        [
          {
            "node": "add_conta_a_receber_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_id_omie": {
      "main": [
        [
          {
            "node": "existe_cc_omie",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_cliente_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead1": {
      "main": [
        [
          {
            "node": "add_conta_a_receber_omie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_cc_omie": {
      "main": [
        [
          {
            "node": "atualiza_lead2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead2": {
      "main": [
        [
          {
            "node": "add_conta_a_receber_omie2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "debito": {
      "main": [
        [
          {
            "node": "add_cliente_omie3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_cliente_omie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_pagar_omie7": {
      "main": [
        [
          {
            "node": "baixa_conta_a_pagar_omie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead4": {
      "main": [
        [
          {
            "node": "add_conta_a_pagar_omie7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_id_omie1": {
      "main": [
        [
          {
            "node": "existe_cc_omie1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_cliente_omie2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead5": {
      "main": [
        [
          {
            "node": "add_conta_a_pagar_omie9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_cc_omie1": {
      "main": [
        [
          {
            "node": "atualiza_lead6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead6": {
      "main": [
        [
          {
            "node": "add_conta_a_pagar_omie10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_pagar_omie9": {
      "main": [
        [
          {
            "node": "baixa_conta_a_pagar_omie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_pagar_omie10": {
      "main": [
        [
          {
            "node": "baixa_conta_a_pagar_omie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead7": {
      "main": [
        [
          {
            "node": "add_conta_a_pagar_omie11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_pagar_omie11": {
      "main": [
        [
          {
            "node": "baixa_conta_a_pagar_omie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "debito1": {
      "main": [
        [
          {
            "node": "existe_id_omie1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "existe_id_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "atualiza_lead8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixa_conta_a_receber_omie": {
      "main": [
        [
          {
            "node": "pesquisa_venda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead8": {
      "main": [
        [
          {
            "node": "add_conta_a_receber_omie12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credito_ou_debito": {
      "main": [
        [
          {
            "node": "formata_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_receber_omie12": {
      "main": [
        [
          {
            "node": "baixa_conta_a_receber_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_receber_omie": {
      "main": [
        [
          {
            "node": "baixa_conta_a_receber_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_receber_omie1": {
      "main": [
        [
          {
            "node": "baixa_conta_a_receber_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_receber_omie2": {
      "main": [
        [
          {
            "node": "baixa_conta_a_receber_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_receber_omie3": {
      "main": [
        [
          {
            "node": "baixa_conta_a_receber_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe3": {
      "main": [
        [
          {
            "node": "atualiza_lead9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead9": {
      "main": [
        [
          {
            "node": "add_conta_a_receber_omie4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_receber_omie4": {
      "main": [
        [
          {
            "node": "baixa_conta_a_receber_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe4": {
      "main": [
        [
          {
            "node": "atualiza_lead10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_pagar_omie": {
      "main": [
        [
          {
            "node": "baixa_conta_a_pagar_omie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead10": {
      "main": [
        [
          {
            "node": "add_conta_a_pagar_omie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe5": {
      "main": [
        [
          {
            "node": "atualiza_lead11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_lead7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_conta_a_pagar_omie12": {
      "main": [
        [
          {
            "node": "baixa_conta_a_pagar_omie1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead11": {
      "main": [
        [
          {
            "node": "add_conta_a_pagar_omie12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixa_conta_a_pagar_omie1": {
      "main": [
        [
          {
            "node": "pesquisa_venda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_cliente_omie": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_cliente_omie1": {
      "main": [
        [
          {
            "node": "nao_existe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_cliente_omie2": {
      "main": [
        [
          {
            "node": "nao_existe4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_cliente_omie3": {
      "main": [
        [
          {
            "node": "nao_existe5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados1": {
      "main": [
        [
          {
            "node": "getNewToken2",
            "type": "main",
            "index": 0
          },
          {
            "node": "consultar_cobranca_imediata_pix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getNewToken": {
      "main": [
        [
          {
            "node": "atualiza_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetBoletos": {
      "main": [
        [
          {
            "node": "token_expirado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetToken": {
      "main": [
        [
          {
            "node": "dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "GetToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_token": {
      "main": [
        [
          {
            "node": "GetBoletos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetBoletos2": {
      "main": [
        [
          {
            "node": "token_expirado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "banco_inter": {
      "main": [
        [
          {
            "node": "Dados do Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "token_expirado2": {
      "main": [
        [
          {
            "node": "getNewToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_cobranca_imediata_pix": {
      "main": [
        [
          {
            "node": "token_expirado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "GetPagamentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPagamentos1": {
      "main": [
        [
          {
            "node": "consultar_cobranca_imediata_pix1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Evento": {
      "main": [
        [
          {
            "node": "Credito_ou_debito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T17:45:31.820Z",
  "id": "jRHrbzTpHi9u7IQt",
  "meta": null,
  "name": "✅⌚[BANCO INTER] - CRIA CONTAS A PAGAR/RECEBER NO OMIE",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"id_lead2\"].json[\"data\"][\"id_lead \"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "id_cliente_omie",
              "value": "={{ $node[\"add_cliente_omie1\"].json[\"codigo_cliente_omie\"] }}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b555d5a0-12ec-44f1-a8c2-9117044b3c4b",
      "name": "atualiza_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5180,
        3760
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Evento",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"0\"][\"tipoMovimentacao\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"0\"][\"codigoSolicitacao\"] }}"
            },
            {
              "name": "Data do Evento",
              "value": "={{ \n  DateTime.fromISO($node[\"banco_inter\"].json[\"body\"][\"0\"][\"dataHoraMovimento\"])\n    .toFormat('dd/MM/yyyy HH:mm') \n}}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"customer\"] }}"
            },
            {
              "name": "Valor Bruto do Pagamento",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"0\"][\"valor\"] }}"
            },
            {
              "name": "Valor Líquido do Pagamento",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"0\"][\"valor\"] }}"
            },
            {
              "name": "Descrição do Pagamento",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"0\"][\"tipoMovimentacao\"] }}"
            },
            {
              "name": "Forma de Pagamento",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"billingType\"].replace('BOLETO','Boleto Bancário').replace('CREDIT_CARD','Cartão de Crédito').replace('DEBIT_CARD','Cartão de Débito').replace('UNDEFINED','Escolha do Cliente').replace('TRANSFER','Transferência Bancária').replace('DEPOSIT','Depósito Bancário')   }}"
            },
            {
              "name": "Data de Vencimento",
              "value": "={{ $json[\"Data de Vencimento Formatada\"] }}"
            },
            {
              "name": "Status",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"0\"][\"status\"] }}"
            },
            {
              "name": "Data de Vencimento Original",
              "value": "={{ $json[\"Data de Vencimento Original Formatada\"] }}"
            },
            {
              "name": "Data do Pagamento",
              "value": "={{ \n  DateTime.fromISO($node[\"banco_inter\"].json[\"body\"][\"0\"][\"dataHoraMovimento\"])\n    .toFormat('dd/MM/yyyy HH:mm') \n}}"
            },
            {
              "name": "Numero da Parcela",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"installmentNumber\"] }}"
            },
            {
              "name": "Link da Fatura",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"invoiceUrl\"] }}"
            },
            {
              "name": "Numero da Fatura",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"invoiceNumber\"] }}"
            },
            {
              "name": "Data de Credito",
              "value": "={{ \n  DateTime.fromISO($node[\"banco_inter\"].json[\"body\"][\"0\"][\"dataHoraMovimento\"])\n    .toFormat('dd/MM/yyyy HH:mm') \n}}"
            },
            {
              "name": "Data de Credito Estimada",
              "value": "={{ \n  DateTime.fromISO($node[\"banco_inter\"].json[\"body\"][\"0\"][\"dataHoraMovimento\"])\n    .toFormat('dd/MM/yyyy HH:mm') \n}}"
            },
            {
              "name": "Nosso Numero",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"nossoNumero\"] }}"
            },
            {
              "name": "Link do Boleto",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"bankSlipUrl\"] }}"
            },
            {
              "name": "Data da Ultima Visualizacao da Fatura",
              "value": "={{ $json[\"Data de Ultima Visualizacao da Fatura Formatada\"] }}"
            },
            {
              "name": "Data da Ultima Visualizacao do Boleto",
              "value": "={{ $node[\"banco_inter\"].json[\"Data da Ultima Visualizacao do Boleto Formatada\"] }}"
            },
            {
              "name": "Valor do Desconto",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"discount\"][\"value\"] }}"
            },
            {
              "name": "Reembolso",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"refunds\"] }}"
            },
            {
              "name": "URL do Recibo",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"transactionReceiptUrl\"] }}"
            },
            {
              "name": "Nome do Produto",
              "value": "={{ $node[\"banco_inter\"].json.body.payment.description }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $node[\"banco_inter\"].json[\"mobilePhone\"] }}"
            },
            {
              "name": "API-KEY"
            },
            {
              "name": "ID EmailSE",
              "value": "1543685"
            },
            {
              "name": "id_campo_id_banco_de_dados",
              "value": "1543710"
            },
            {
              "name": "codServico",
              "value": "5208153175"
            },
            {
              "name": "nome_fantasia",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"0\"][\"recebedor\"][\"nome\"] }}"
            },
            {
              "name": "descricao_cc",
              "value": "Banco Inter"
            },
            {
              "name": "tipo_conta_corrente",
              "value": "CC"
            },
            {
              "name": "codigo_banco",
              "value": "077"
            },
            {
              "name": "descricao"
            },
            {
              "name": "cidade_prestacao_servico"
            },
            {
              "name": "OMIE_APP_KEY",
              "value": "4486352513643"
            },
            {
              "name": "OMIE_APP_SECRET",
              "value": "b639126e175094af1c6f9af953d3153a"
            },
            {
              "name": "nCodCC",
              "value": "1745966686"
            }
          ],
          "boolean": [
            {
              "name": "Pode pagar depois de expirar",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"canBePaidAfterDueDate\"] }}"
            },
            {
              "name": "Antecipado",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"anticipated\"] }}"
            }
          ],
          "number": [
            {
              "name": "saldo_inicial"
            }
          ]
        },
        "options": {}
      },
      "id": "c481d3c3-6a08-48c4-bbe0-a0920ef52ef5",
      "name": "Dados do Evento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2500,
        3520
      ]
    },
    {
      "parameters": {
        "jsCode": "//Formatar número Internacional\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    // Se o DDI for diferente de 55, manter o número como está\n    telefoneFormatado = telefoneLimpo;\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para formatação de nomes\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n\nfunction formatarInstagram(username) {\n  if (typeof username === 'string') {\n    // Remover espaços em branco extras\n    const usernameSemEspacos = username.trim();\n\n    // Remover o \"@\" do início do username, se existir\n    const usernameSemArroba = usernameSemEspacos.replace(/^@/, '');\n\n    // Converter para minúsculas\n    const usernameFormatado = usernameSemArroba.toLowerCase();\n\n    return usernameFormatado;\n  }\n  return '';\n}\n\nconst telefone = $node[\"Busca Cliente no Asaas\"].json[\"phone\"] || $node[\"Busca Cliente no Asaas\"].json[\"mobilePhone\"] || '';\nconst cpfCnpj = $node[\"Busca Cliente no Asaas\"].json[\"cpfCnpj\"] || '';\nlet cpfCnpjFormatado;\n\nif (cpfCnpj.length === 11) {\n  // Formatar como CPF: XXX.XXX.XXX-XX\n  cpfCnpjFormatado = cpfCnpj.replace(/(\\d{3})(\\d{3})(\\d{3})(\\d{2})/, '$1.$2.$3-$4');\n} else if (cpfCnpj.length === 14) {\n  // Formatar como CNPJ: XX.XXX.XXX/0001-XX\n  cpfCnpjFormatado = cpfCnpj.replace(/(\\d{2})(\\d{3})(\\d{3})(\\d{4})(\\d{2})/, '$1.$2.$3/$4-$5');\n} else {\n  // Formato inválido\n  cpfCnpjFormatado = \"Formato inválido\";\n}\n\n// Agora, você pode usar a variável 'cpfCnpjFormatado' para a formatação desejada\n\nconst resultado = {\n  telefone: telefone,\n  cpfCnpj: cpfCnpjFormatado\n}\n\n\n  return resultado;"
      },
      "id": "5f2103bf-ee2b-4fa7-8989-976e63891e85",
      "name": "formata_telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2940,
        3500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "cbf00005-96c1-4ea1-bb50-4d3bc18b340e",
      "name": "nao_existe2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3380,
        3500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "e2c32a51-f60b-4497-bd55-9d45d903dd43",
      "name": "telefone_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3760,
        3520
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "704fd668-1090-4859-bc59-12f4cfd327a1",
      "name": "id_lead3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4160,
        3520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"name\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"email\"] }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].runIndex >= 0 ? $node[\"cadastrar_contato\"].json[\"id\"] : '' }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "dbe8a62a-79f5-40a4-a21b-8edfa021796c",
      "name": "atualiza_dados_tel_empresa1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3940,
        3600
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"name\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"email\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].runIndex >= 0 ? $node[\"cadastrar_contato\"].json[\"id\"] : '' }}"
            },
            {
              "column": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "eb81e984-8656-4b31-be89-8baa8dd6ad5c",
      "name": "atualiza_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3940,
        3420
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "79afb46e-f166-43f0-b333-c3fa8c60c7e9",
      "name": "id_lead2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3880,
        3360
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "conversions",
          "mode": "list",
          "cachedResultName": "conversions"
        },
        "where": {
          "values": [
            {
              "column": "transaction_id",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"id\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "2a9d7317-8105-45a3-92dc-751f2973e5a7",
      "name": "pesquisa_venda",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5960,
        3460
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_venda\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ab5c5f8e-a363-44e4-a7f2-1b9142ff989b",
      "name": "nao_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6140,
        3460
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "conversions",
          "mode": "list",
          "cachedResultName": "conversions"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "transaction_id",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"id\"] }}"
            },
            {
              "column": "value",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"netValue\"] }}"
            },
            {
              "column": "gateway_comission",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"value\"] -  $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"netValue\"] }}"
            },
            {
              "column": "currency",
              "value": "=BRL"
            },
            {
              "column": "payment_method",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"billingType\"].replace('BOLETO','Boleto Bancário').replace('CREDIT_CARD','Cartão de Crédito').replace('DEBIT_CARD','Cartão de Débito').replace('UNDEFINED','Escolha do Cliente').replace('TRANSFER','Transferência Bancária').replace('DEPOSIT','Depósito Bancário') }}"
            },
            {
              "column": "trans_status",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"status\"].replace('RECEIVED','Compra Aprovada').replace('PENDING','Pendente').replace('REQUESTED','Solicitada').replace('DONE','Realizada') }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"id_lead2\"].runIndex >= 0 ? $node[\"insere_dados\"].json[\"data\"][\"insertId\"] : ($node[\"id_lead3\"].runIndex >= 0 ? $node[\"pesquisa_lead2\"].json[\"id_lead\"] : '') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "97e246e7-4b53-46df-81cc-db02e3027cee",
      "name": "insert_data_vendas",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6320,
        3340
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_conversion",
              "value": "={{ $node[\"insert_data_vendas\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08363384-d910-414e-8f4c-645914f21ea7",
      "name": "id_conversion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6540,
        3340
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_conversion",
              "value": "={{ $node[\"pesquisa_venda\"].json[\"id_conversion\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "04fd51b0-0373-48a5-a09b-58ae96718b12",
      "name": "id_conversion1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6540,
        3540
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "conversions",
          "mode": "list",
          "cachedResultName": "conversions"
        },
        "where": {
          "values": [
            {
              "column": "id_conversion",
              "value": "={{ $json[\"id_conversion\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "c14d0200-5ed0-4cb2-9905-46680703a16e",
      "name": "pesquisa_venda1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6720,
        3440
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "0292bb02-c162-4390-924a-c5f97cde5ab0",
      "name": "pesquisa_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6920,
        3440
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_vendas",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a5f9d1a1-5ceb-40b9-8f82-9e38db9835bc",
      "name": "insert_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7700,
        2940
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_data_data_lake\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "8733e40a-22e6-4898-9084-e9a53696142c",
      "name": "nao_encontrou_registro_hj_data_lake",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7100,
        3440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_vendas",
              "value": "={{ parseInt($node[\"pesquisa_data_data_lake\"].json[\"qtd_vendas\"] === undefined || $node[\"pesquisa_data_data_lake\"].json[\"qtd_vendas\"] === null ? 0 : $node[\"pesquisa_data_data_lake\"].json[\"qtd_vendas\"]) + 1\n}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b2aeaacf-414c-4c55-a6ab-4aefbb6a1df6",
      "name": "update_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7740,
        3700
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "f73c43e1-d5ba-473f-8845-5f84d25c1e70",
      "name": "lead_ja_existia2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7500,
        3020
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_vendas",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "dea5e926-7162-4288-b575-8034d032e6bb",
      "name": "insert_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7700,
        3100
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "db45ff77-5121-45f4-9918-693910dfe840",
      "name": "lead_ja_existia3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7540,
        3820
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_vendas",
              "value": "={{ parseInt($node[\"pesquisa_data_data_lake\"].json[\"qtd_vendas\"] === undefined || $node[\"pesquisa_data_data_lake\"].json[\"qtd_vendas\"] === null ? 0 : $node[\"pesquisa_data_data_lake\"].json[\"qtd_vendas\"]) + 1\n}}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ ($node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] === null ? 0 : $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"])  + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9edc48dc-1432-474b-bc61-21697eee1f3d",
      "name": "update_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7740,
        3900
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a5a26b1c-4aed-4c37-bb25-bf8051f385ca",
      "name": "lead_ja_existia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7480,
        3460
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "de7771c3-3efc-46eb-916d-fa9914a9fa0d",
      "name": "insert_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7680,
        3540
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {},
      "id": "5cd96baa-0215-4d13-8140-7664333c73e4",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7680,
        3340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "455f8771-8680-4978-a551-b18b8628628b",
      "name": "lead_ja_existia4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7520,
        4240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_leads",
              "value": "={{ parseInt($node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] === undefined || $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] === null ? 0 : $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"]) + 1\n}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9fc5d5bd-a958-4627-a130-04ba562bb8e4",
      "name": "update_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        7720,
        4320
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {},
      "id": "20db70fc-91d9-4c05-8357-512bf3052888",
      "name": "nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7720,
        4120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_venda\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e6be0163-9798-4350-aecb-d50d7a9fdbb3",
      "name": "nao_existe_conversion",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7300,
        3320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_venda\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "cc51a25d-3c39-497c-ad51-5308ead9607f",
      "name": "nao_existe_conversion1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7300,
        3780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7e3bf05c-72fb-4ebd-8edc-a71591ed1c91",
      "name": "telefone_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3580,
        3660
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"name\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].runIndex >= 0 ? $node[\"cadastrar_contato\"].json[\"id\"] : '' }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a202d7f2-0266-4588-afb4-eb8315d571d3",
      "name": "atualiza_dados_tel_normal",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3940,
        3780
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "conversions",
          "mode": "list",
          "cachedResultName": "conversions"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_conversion",
        "valueToMatchOn": "={{ $node[\"pesquisa_venda\"].json[\"id_conversion\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "transaction_id",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"id\"] }}"
            },
            {
              "column": "value",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"netValue\"] }}"
            },
            {
              "column": "gateway_comission",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"value\"] -  $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"netValue\"] }}"
            },
            {
              "column": "currency",
              "value": "=BRL"
            },
            {
              "column": "payment_method",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"billingType\"].replace('BOLETO','Boleto Bancário').replace('CREDIT_CARD','Cartão de Crédito').replace('DEBIT_CARD','Cartão de Débito').replace('UNDEFINED','Escolha do Cliente').replace('TRANSFER','Transferência Bancária').replace('DEPOSIT','Depósito Bancário') }}"
            },
            {
              "column": "trans_status",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"payment\"][\"status\"].replace('RECEIVED','Compra Aprovada').replace('PENDING','Pendente').replace('REQUESTED','Solicitada').replace('DONE','Realizada') }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"id_lead2\"].runIndex >= 0 ? $node[\"insere_dados\"].json[\"data\"][\"insertId\"] : ($node[\"id_lead3\"].runIndex >= 0 ? $node[\"pesquisa_lead2\"].json[\"id_lead\"] : '') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0b822d93-672b-483c-9e21-38d0218a1fe4",
      "name": "update_data_vendas",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6320,
        3540
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"name\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"email\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "column": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato\"].runIndex >= 0 ? $node[\"cadastrar_contato\"].json[\"id\"] : '' }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8231082a-396f-4547-8af4-0d2fa5d21b1b",
      "name": "insere_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3700,
        3360
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"email\"] || '-----------------------' }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"formata_telefone\"].json[\"telefone\"] || '-----------------------' }}"
            },
            {
              "column": "cpf_cnpj",
              "value": "={{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] || '-----------------------' }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"email\"] || '-----------------------' }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "f3174153-bc61-422d-b47a-5f06767faee9",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3160,
        3500
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "=+{{ $node[\"formata_telefone\"].json[\"telefone\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"name\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Busca Cliente no Asaas\"].json[\"name\"].split(\" \").slice(1).join(\" \") }}."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"Dados do Evento\"].json[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3320,
        4000
      ],
      "id": "d4b536e0-b411-4f24-90d5-d5516a80f340",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "id_cliente_omie",
              "value": "={{ $node[\"add_cliente_omie\"].json[\"codigo_cliente_omie\"] }}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "02a8c7e9-98a7-4e7e-b65d-24ab88b738af",
      "name": "atualiza_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5180,
        4580
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_cliente_omie\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "64366a8a-413b-4d6c-bffd-0ffd4bf4571d",
      "name": "existe_id_omie",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4460,
        4240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "09ccebeb-fe9f-4816-89ff-ca24a0ec4712",
      "name": "atualiza_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5160,
        4180
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"conta_corrente_omie\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ae17079e-638a-4b98-a6a4-40087420273e",
      "name": "existe_cc_omie",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4920,
        4060
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "8ca36f93-c57a-45a0-8c06-c7670a4eabf0",
      "name": "atualiza_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5160,
        4000
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/geral/contacorrente/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"ListarContasCorrentes\",\n    \"app_key\": \"{{ $json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n    \"pagina\": 1,\n  \"registros_por_pagina\": 100,\n  \"apenas_importado_api\": \"N\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "8e9c8973-655b-4dc6-bb71-3f249373cde6",
      "name": "consulta_cc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3140,
        4000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"LancarPagamento\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": 1764616579,\n  \"observacao\": \"Baixa de documento realizada via API.\",\n  \"codigo_conta_corrente\": 1745966686,\n  \"data\": \"21/06/2024\",\n  \"valor\": 10000\n        }\n    ]\n}",
        "options": {}
      },
      "id": "9644bb0f-98ac-46b6-9384-0bb4858b7df1",
      "name": "add_conta_a_pagar_omie4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3500,
        4000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"UpsertContaPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n    \"codigo_lancamento_integracao\": \"N8N\",\n  \"codigo_cliente_fornecedor\": 1764616555,\n  \"data_vencimento\": \"29/06/2024\",\n  \"valor_documento\": 10000,\n  \"codigo_categoria\": \"2.16.99\",\n  \"data_previsao\": \"21/06/2024\",\n  \"id_conta_corrente\": 1745966686,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "6791fae4-3cf8-42cb-8a02-c432229d02c7",
      "name": "add_conta_a_pagar_omie5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2960,
        4000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"ListarContasPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n   \"pagina\": 1,\n  \"registros_por_pagina\": 100,\n  \"apenas_importado_api\": \"N\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "e237a749-04fb-480e-bb13-f927e17e9a4f",
      "name": "add_conta_a_pagar_omie6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2780,
        4000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"pesquisa_lead2\"].json[\"id_cliente_omie\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"2.08.01\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": {{ parseInt($node[\"pesquisa_lead2\"].json[\"conta_corrente_omie\"]) }},\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "aee9ce85-3144-48de-abd8-7024b6260feb",
      "name": "add_conta_a_pagar_omie8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        4000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Dados do Evento\"].json[\"Evento\"] }}",
              "value2": "Tranferência Feita"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "9be9ad07-aaa7-4f60-ac4b-f460e5c3aec9",
      "name": "debito",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4200,
        3300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"add_cliente_omie2\"].json[\"codigo_cliente_omie2\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "1c42ab47-194a-479b-a579-f5a865e0ca0d",
      "name": "add_conta_a_pagar_omie7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5340,
        3320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "id_cliente_omie",
              "value": "={{ $node[\"add_cliente_omie2\"].json[\"codigo_cliente_omie\"] }}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "be72b7d8-15fd-419f-bb65-2d392f20c982",
      "name": "atualiza_lead4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5140,
        3320
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_cliente_omie\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c6352c3a-7715-4fef-ad29-8ae6c40f296d",
      "name": "existe_id_omie1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4660,
        3000
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "380c995a-8e25-448c-9156-659e709299af",
      "name": "atualiza_lead5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5140,
        2960
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"conta_corrente_omie\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "88afbb35-8861-4e52-a3ed-34d5c18c3bbe",
      "name": "existe_cc_omie1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4860,
        2860
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ae70602e-c4f0-4f25-aa4c-a0679d34839e",
      "name": "atualiza_lead6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5140,
        2780
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"pesquisa_lead2\"].json[\"id_cliente_omie\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "e83172c5-daf7-4d86-92b9-61adcb13105c",
      "name": "add_conta_a_pagar_omie9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5320,
        2960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"pesquisa_lead2\"].json[\"id_cliente_omie\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "bd14f39a-5a8e-412d-a1a3-7761d64885fe",
      "name": "add_conta_a_pagar_omie10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5320,
        2780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"id_lead2\"].json[\"data\"][\"id_lead \"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "id_cliente_omie",
              "value": "={{ $node[\"add_cliente_omie3\"].json[\"codigo_cliente_omie\"] }}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8578e553-bc47-4473-b5ed-2d0313626160",
      "name": "atualiza_lead7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5140,
        2600
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"add_cliente_omie3\"].json[\"codigo_cliente_omie\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "f270a7fd-4223-4582-8fc9-eb8f9de32fe0",
      "name": "add_conta_a_pagar_omie11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5320,
        2600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/geral/contacorrente/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call\": \"ListarContasCorrentes\",\n  \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n  \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n  \"param\": [\n    {\n       \"pagina\": 1,\n  \"registros_por_pagina\": 100,\n  \"apenas_importado_api\": \"N\"\n        }\n      ]\n    }\n ",
        "options": {}
      },
      "id": "de37bf80-01ae-4e35-a544-de845cc11d4a",
      "name": "contas_correntes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2400,
        4000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Dados do Evento\"].json[\"Evento\"] }}",
              "value2": "Tranferência Feita"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c2f4d5dd-d50f-4267-9561-f253b5b20644",
      "name": "debito1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4320,
        3600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fa6fc966-f98e-487f-a7ab-bdfbac7ea569",
              "leftValue": "={{ $node[\"add_cliente_omie\"].json[\"error\"][\"message\"] }}",
              "rightValue": "500",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4cde08fb-9f2c-48c0-ab22-dbd6cc41c558",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4920,
        4500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contareceber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"LancarRecebimento\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento\": {{ $json[\"codigo_lancamento_omie\"] }},\n  \"codigo_lancamento_integracao\": \"{{ $json[\"codigo_lancamento_integracao\"] }}\",\n  \"codigo_baixa\": \"\",\n  \"codigo_conta_corrente\": \"1745966235\",\n  \"valor\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"desconto\": 0,\n  \"juros\": 0,\n  \"multa\": 0,\n  \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"observacao\": \"Baixa de documento realizada via API.\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "3a6a2ca0-bda3-4105-93c9-dd8772babe9d",
      "name": "baixa_conta_a_receber_omie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5640,
        4000
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "id_cliente_omie",
              "value": "={{ $node[\"add_cliente_omie\"].json[\"error\"][\"message\"].match(/Id \\[([0-9]+)\\]/)[1] }}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0f4dd94-69b8-4657-a9a8-1597ad65942c",
      "name": "atualiza_lead8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5180,
        4380
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Dados do Evento\"].json[\"Evento\"] }}",
              "value2": "Cobrança Recebida"
            },
            {
              "value1": "={{ $node[\"Dados do Evento\"].json[\"Evento\"] }}",
              "value2": "Cobrança Antecipada"
            },
            {
              "value1": "={{ $node[\"Dados do Evento\"].json[\"Evento\"] }}",
              "value2": "Tranferência Feita"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "f436c0cb-ec8d-40b8-b4d1-6e011088ac0c",
      "name": "Credito_ou_debito",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2700,
        3520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contareceber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaReceber\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"add_cliente_omie\"].json[\"error\"][\"message\"].match(/Id \\[([0-9]+)\\]/)[1] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "1c97ab19-e715-417e-bc15-f6e5d7acad4d",
      "name": "add_conta_a_receber_omie12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5340,
        4380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contareceber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaReceber\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"add_cliente_omie\"].json[\"codigo_cliente_omie\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "d7e34a16-301f-4b75-a00b-c35e28577f08",
      "name": "add_conta_a_receber_omie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5340,
        4580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contareceber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaReceber\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"pesquisa_lead2\"].json[\"id_cliente_omie\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "be8d5095-dab8-4f4c-ab11-0902e4c46fcb",
      "name": "add_conta_a_receber_omie1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5340,
        4180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contareceber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaReceber\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"pesquisa_lead2\"].json[\"id_cliente_omie\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "fc5c3f6b-8c76-40a6-9b39-e3f2de25cc47",
      "name": "add_conta_a_receber_omie2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5340,
        4000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contareceber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaReceber\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"add_cliente_omie1\"].json[\"codigo_cliente_omie\"] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "59c62170-94c5-4ab0-b39e-cce28ee0d8b8",
      "name": "add_conta_a_receber_omie3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5340,
        3760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fa6fc966-f98e-487f-a7ab-bdfbac7ea569",
              "leftValue": "={{ $node[\"add_cliente_omie1\"].json[\"error\"][\"message\"] }}",
              "rightValue": "500",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6e8a9c0-fed9-4c48-9b73-8fe09ff50db4",
      "name": "nao_existe3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4960,
        3660
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"id_lead2\"].json[\"data\"][\"id_lead \"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "id_cliente_omie",
              "value": "={{ $node[\"add_cliente_omie1\"].json[\"error\"][\"message\"].match(/Id \\[([0-9]+)\\]/)[1] }}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "290e7251-767d-4a77-9cc8-8605df813821",
      "name": "atualiza_lead9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5180,
        3560
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contareceber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaReceber\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"add_cliente_omie1\"].json[\"error\"][\"message\"].match(/Id \\[([0-9]+)\\]/)[1] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "72a1f5dc-21d0-4e96-9c69-f3f896bbfa2a",
      "name": "add_conta_a_receber_omie4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5340,
        3560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fa6fc966-f98e-487f-a7ab-bdfbac7ea569",
              "leftValue": "={{ $node[\"add_cliente_omie2\"].json[\"error\"][\"message\"] }}",
              "rightValue": "500",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a400d40d-5b00-4d0f-9988-fe790821dd08",
      "name": "nao_existe4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4960,
        3260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"add_cliente_omie2\"].json[\"error\"][\"message\"].match(/Id \\[([0-9]+)\\]/)[1] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "7bbcb507-1fe8-400c-bf07-313c9f4693c8",
      "name": "add_conta_a_pagar_omie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5340,
        3160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "id_cliente_omie",
              "value": "={{ $node[\"add_cliente_omie2\"].json[\"error\"][\"message\"].match(/Id \\[([0-9]+)\\]/)[1] }}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8c9b7a61-b548-4979-8ffc-ef13f4ba1ee6",
      "name": "atualiza_lead10",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5140,
        3160
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fa6fc966-f98e-487f-a7ab-bdfbac7ea569",
              "leftValue": "={{ $node[\"add_cliente_omie3\"].json[\"error\"][\"message\"] }}",
              "rightValue": "500",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "92dbedd0-0fb0-4c59-a985-582f73dae9b6",
      "name": "nao_existe5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4860,
        2460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"IncluirContaPagar\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento_integracao\": \"{{ $node[\"Dados do Evento\"].json[\"id\"] }}\",\n  \"codigo_cliente_fornecedor\": {{ $node[\"add_cliente_omie3\"].json[\"error\"][\"message\"].match(/Id \\[([0-9]+)\\]/)[1] }},\n  \"data_vencimento\": \"{{ $node[\"Dados do Evento\"].json[\"Data de Vencimento\"] }}\",\n  \"valor_documento\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"codigo_categoria\": \"\",\n  \"data_previsao\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"id_conta_corrente\": 1745966235,\n  \"status_titulo\": \"1\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "8ddc478a-07c8-4c75-9c78-a76be2bbd7bb",
      "name": "add_conta_a_pagar_omie12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5320,
        2420
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"id_lead2\"].json[\"data\"][\"id_lead \"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{$now.toFormat('yyyy-MM-dd HH:mm ss')}}"
            },
            {
              "column": "id_cliente_omie",
              "value": "={{ $node[\"add_cliente_omie3\"].json[\"error\"][\"message\"].match(/Id \\[([0-9]+)\\]/)[1] }}"
            },
            {
              "column": "conta_corrente_omie",
              "value": "={{ $node[\"Dados do Evento\"].json[\"nCodCC\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4fca0f7-f4c0-447d-b7c9-d8dbbd671409",
      "name": "atualiza_lead11",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5140,
        2420
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/financas/contapagar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"call\": \"LancarPagamento\",\n    \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n    \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n    \"param\": [\n        {\n  \"codigo_lancamento\": {{ $json[\"codigo_lancamento_omie\"] }},\n  \"codigo_lancamento_integracao\": \"{{ $json[\"codigo_lancamento_integracao\"] }}\",\n  \"codigo_baixa_integracao\": \"\",\n  \"codigo_conta_corrente\": \"1745966235\",\n  \"valor\": {{ $node[\"Dados do Evento\"].json[\"Valor Bruto do Pagamento\"] }},\n  \"desconto\": 0,\n  \"juros\": 0,\n  \"multa\": 0,\n  \"data\": \"{{ $now.toFormat('dd/MM/yyyy') }}\",\n  \"observacao\": \"Baixa de documento realizada via API.\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "decefa85-28e8-4d30-9db2-50d0aa358f2d",
      "name": "baixa_conta_a_pagar_omie1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5620,
        2860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/geral/clientes/#IncluirCliente",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call\": \"IncluirCliente\",\n  \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n  \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n  \"param\": [\n    {\n      \"codigo_cliente_integracao\": \"{{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}\",\n      \"email\": \"{{ $node[\"Dados do Evento\"].json[\"email\"] }}\",\n      \"razao_social\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n      \"nome_fantasia\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n      \"cnpj_cpf\": \"{{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}\",\n      \"telefone1_ddd\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(2, 4) }}\",\n      \"telefone1_numero\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(4) }}\",\n      \"endereco\": \"{{ $node[\"Dados do Evento\"].json[\"address\"].slice(0,60) }}\",\n      \"estado\": \"{{ $node[\"Dados do Evento\"].json[\"state\"].slice(0,2) }}\",\n      \"cidade\": \"\",\n      \"cep\": \"{{ $node[\"Dados do Evento\"].json[\"postalCode\"] }}\",\n      \"observacao\": \"Cidade: {{ $node[\"Dados do Evento\"].json[\"cityName\"] }}\",\n      \"tags\": \"\",\n      \"obs_detalhadas\":\"\",\n      \"importado_api\": \"S\",\n      \"dadosBancarios\": [\n        {\n          \"codigo_banco\": \"461\",\n          \"agencia\": \"\",\n          \"conta_corrente\": \"\",\n          \"doc_titular\": \"{{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}\",\n          \"nome_titular\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "5c8b8c59-ab0b-4f6e-b292-2928a6a90bf8",
      "name": "add_cliente_omie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4740,
        4500
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/geral/clientes/#IncluirCliente",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call\": \"IncluirCliente\",\n  \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n  \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n  \"param\": [\n    {\n      \"codigo_cliente_integracao\": \"{{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}\",\n      \"email\": \"{{ $node[\"Dados do Evento\"].json[\"email\"] }}\",\n      \"razao_social\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n      \"nome_fantasia\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n      \"cnpj_cpf\": \"{{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}\",\n      \"telefone1_ddd\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(2, 4) }}\",\n      \"telefone1_numero\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(4) }}\",\n      \"endereco\": \"{{ $node[\"Dados do Evento\"].json[\"address\"].slice(0,60) }}\",\n      \"estado\": \"{{ $node[\"Dados do Evento\"].json[\"state\"].slice(0,2) }}\",\n      \"cidade\": \"\",\n      \"cep\": \"{{ $node[\"Dados do Evento\"].json[\"postalCode\"] }}\",\n      \"observacao\": \"Cidade: {{ $node[\"Dados do Evento\"].json[\"cityName\"] }}\",\n      \"tags\": \"\",\n      \"obs_detalhadas\":\"\",\n      \"importado_api\": \"S\",\n      \"dadosBancarios\": [\n        {\n          \"codigo_banco\": \"461\",\n          \"agencia\": \"\",\n          \"conta_corrente\": \"\",\n          \"doc_titular\": \"{{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}\",\n          \"nome_titular\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b0e063dd-d684-42eb-a6f1-5ff12821ac56",
      "name": "add_cliente_omie1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4800,
        3660
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/geral/clientes/#IncluirCliente",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call\": \"IncluirCliente\",\n  \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",{\n  \"call\": \"IncluirCliente\",\n  \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n  \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n  \"param\": [\n    {\n      \"codigo_cliente_integracao\": \"{{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}\",\n      \"email\": \"{{ $node[\"Dados do Evento\"].json[\"email\"] }}\",\n      \"razao_social\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n      \"nome_fantasia\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n      \"cnpj_cpf\": \"{{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}\",\n      \"telefone1_ddd\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(2, 4) }}\",\n      \"telefone1_numero\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(4) }}\",\n      \"endereco\": \"{{ $node[\"Dados do Evento\"].json[\"address\"].slice(0,60) }}\",\n      \"estado\": \"{{ $node[\"Dados do Evento\"].json[\"state\"].slice(0,2) }}\",\n      \"cidade\": \"\",\n      \"cep\": \"{{ $node[\"Dados do Evento\"].json[\"postalCode\"] }}\",\n      \"observacao\": \"Cidade: {{ $node[\"Dados do Evento\"].json[\"cityName\"] }}\",\n      \"tags\": \"\",\n      \"obs_detalhadas\":\"\",\n      \"importado_api\": \"S\",\n      \"dadosBancarios\": [\n        {\n          \"codigo_banco\": \"461\",\n          \"agencia\": \"\",\n          \"conta_corrente\": \"\",\n          \"doc_titular\": \"{{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}\",\n          \"nome_titular\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "8fcfdb0b-ee0f-4cae-afd8-b91740c82593",
      "name": "add_cliente_omie2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4780,
        3260
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.omie.com.br/api/v1/geral/clientes/#IncluirCliente",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call\": \"IncluirCliente\",\n  \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",{\n  \"call\": \"IncluirCliente\",\n  \"app_key\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_KEY\"] }}\",\n  \"app_secret\": \"{{ $node[\"Dados do Evento\"].json[\"OMIE_APP_SECRET\"] }}\",\n  \"param\": [\n    {\n      \"codigo_cliente_integracao\": \"{{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}\",\n      \"email\": \"{{ $node[\"Dados do Evento\"].json[\"email\"] }}\",\n      \"razao_social\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n      \"nome_fantasia\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\",\n      \"cnpj_cpf\": \"{{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}\",\n      \"telefone1_ddd\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(2, 4) }}\",\n      \"telefone1_numero\": \"{{ $node[\"formata_telefone\"].json[\"telefone\"].slice(4) }}\",\n      \"endereco\": \"{{ $node[\"Dados do Evento\"].json[\"address\"].slice(0,60) }}\",\n      \"estado\": \"{{ $node[\"Dados do Evento\"].json[\"state\"].slice(0,2) }}\",\n      \"cidade\": \"\",\n      \"cep\": \"{{ $node[\"Dados do Evento\"].json[\"postalCode\"] }}\",\n      \"observacao\": \"Cidade: {{ $node[\"Dados do Evento\"].json[\"cityName\"] }}\",\n      \"tags\": \"\",\n      \"obs_detalhadas\":\"\",\n      \"importado_api\": \"S\",\n      \"dadosBancarios\": [\n        {\n          \"codigo_banco\": \"461\",\n          \"agencia\": \"\",\n          \"conta_corrente\": \"\",\n          \"doc_titular\": \"{{ $node[\"formata_telefone\"].json[\"cpfCnpj\"] }}\",\n          \"nome_titular\": \"{{ $node[\"Dados do Evento\"].json[\"name\"] }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ffbedcb6-e27b-410c-94f0-71c5edaffef7",
      "name": "add_cliente_omie3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4680,
        2460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "3bc79b99-c5c0-40c7-9ada-0889572f66ff",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1920,
        2760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e16ddd08-bc09-497f-ae9a-989a3abc2d72",
              "name": "token",
              "value": "={{ $node[\"GetToken\"].json[\"token\"].trim() }}",
              "type": "string"
            },
            {
              "id": "5e989121-e816-4e51-aedf-38c6b570496d",
              "name": "client_id",
              "value": "={{ $node[\"GetToken\"].json[\"client_id\"].trim() }}",
              "type": "string"
            },
            {
              "id": "e2940eab-c73e-4130-9004-737db451e1d3",
              "name": "client_secret",
              "value": "={{ $node[\"GetToken\"].json[\"client_secret\"].trim() }}",
              "type": "string"
            },
            {
              "id": "0175eec8-cd44-4a09-99d3-d9bd0aca9a34",
              "name": "scope",
              "value": "={{ $node[\"GetToken\"].json[\"scope\"].trim()  }}",
              "type": "string"
            },
            {
              "id": "b013f962-4c27-4fa4-8461-71d93ce384e4",
              "name": "grant_type",
              "value": "={{ $node[\"GetToken\"].json[\"grant_type\"].trim()  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9fbc97d3-42ff-4253-aeef-4b1a797e5edb",
      "name": "dados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2300,
        2760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bancointer.automagicbots.com.br/oauth/v2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $node[\"dados1\"].json[\"client_id\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $node[\"dados1\"].json[\"client_secret\"] }}"
            },
            {
              "name": "grant_type",
              "value": "={{ $node[\"dados1\"].json[\"grant_type\"] }}"
            },
            {
              "name": "scope",
              "value": "={{ $node[\"GetToken\"].json[\"scope\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1251f261-3d03-48a1-af4f-7818b353ce7a",
      "name": "getNewToken",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2860,
        2640
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "token_inter",
          "mode": "list",
          "cachedResultName": "token_inter"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "1",
        "valuesToSend": {
          "values": [
            {
              "column": "token",
              "value": "={{ $node[\"getNewToken\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c56a264a-77c8-462a-9b4c-fe3cfb06acc2",
      "name": "atualiza_token",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3040,
        2640
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "url": "https://bancointer.automagicbots.com.br/cobranca/v2/boletos?dataFinal=2024-07-04&dataInicial=2024-07-01",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "346b0d8b-7bd9-45f1-8ec7-17cb117b7a0e",
      "name": "GetBoletos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3940,
        2980
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "token_inter",
          "mode": "list",
          "cachedResultName": "token_inter"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "1"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "8b0f1e6b-e827-4f90-8e38-2ec37ff2b0ba",
      "name": "GetToken",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2120,
        2760
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "url": "https://bancointer.automagicbots.com.br/cobranca/v2/boletos?dataFinal=2024-07-04&dataInicial=2024-07-01",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "scope",
              "value": "oob"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"getNewToken\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "1a3b80a2-bf03-4cfb-832a-57581e0933c2",
      "name": "GetBoletos1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3220,
        2640
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://bancointer.automagicbots.com.br/pix/v2/webhook/38407715000136",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "webhookUrl",
              "value": "https://n8nwebhookportus.automagicbots.com.br/webhook/80c50ab2-693e-45bb-95c2-51a62e5ea1b5"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "b6e88d2f-270a-40e2-8ff4-0a1f54f96a73",
      "name": "GetBoletos2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3520,
        3060
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://bancointer.automagicbots.com.br/cobranca/v3/cobrancas/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "webhookUrl",
              "value": "https://n8nwebhookportus.automagicbots.com.br/webhook/80c50ab2-693e-45bb-95c2-51a62e5ea1b5"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "313d6036-8ceb-45a3-8d6a-c7df9104e9e5",
      "name": "GetBoletos3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3500,
        2880
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://bancointer.automagicbots.com.br/cobranca/v2/boletos/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "webhookUrl",
              "value": "https://n8nwebhookportus.automagicbots.com.br/webhook/80c50ab2-693e-45bb-95c2-51a62e5ea1b5"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "c6de2503-e1d5-4188-b452-68b3882bb0fb",
      "name": "GetBoletos4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3700,
        2880
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://bancointer.automagicbots.com.br/banking/v2/webhooks/boleto-pagamento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "webhookUrl",
              "value": "https://n8nwebhookportus.automagicbots.com.br/webhook/80c50ab2-693e-45bb-95c2-51a62e5ea1b5"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "6c12c8c4-28bc-4ec3-a7d7-6c48f8f84eb1",
      "name": "GetBoletos5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3320,
        2900
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "80c50ab2-693e-45bb-95c2-51a62e5ea1b5",
        "options": {}
      },
      "id": "0f38fbbf-9318-493d-ad5d-126991698447",
      "name": "banco_inter",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2320,
        3520
      ],
      "webhookId": "80c50ab2-693e-45bb-95c2-51a62e5ea1b5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5fa7a877-6a23-4d68-a0dd-1683ad31afcd",
              "leftValue": "={{ $json[\"error\"][\"message\"] }}",
              "rightValue": "Token expirado",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ed555f4e-418c-46fb-baf4-e9544e01fc76",
              "leftValue": "={{ $json[\"error\"][\"message\"] }}",
              "rightValue": "Token inválido",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "65eae9bb-35d1-4ea6-9609-441795e22317",
      "name": "token_expirado2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2680,
        2760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5fa7a877-6a23-4d68-a0dd-1683ad31afcd",
              "leftValue": "={{ $json[\"error\"][\"message\"] }}",
              "rightValue": "Token expirado",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ed555f4e-418c-46fb-baf4-e9544e01fc76",
              "leftValue": "={{ $json[\"error\"][\"message\"] }}",
              "rightValue": "Token inválido",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ab7715b2-e8ce-474e-8aeb-1c767ae3e67d",
      "name": "token_expirado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3680,
        3060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5fa7a877-6a23-4d68-a0dd-1683ad31afcd",
              "leftValue": "={{ $json[\"error\"][\"message\"] }}",
              "rightValue": "Token expirado",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ed555f4e-418c-46fb-baf4-e9544e01fc76",
              "leftValue": "={{ $json[\"error\"][\"message\"] }}",
              "rightValue": "Token inválido",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "905dd8f6-0530-45f3-80f6-a1334347b067",
      "name": "token_expirado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4100,
        2980
      ]
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/cobranca/v2/boletos/webhook/callbacks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataHoraInicio",
              "value": "2024-10-01T00:00Z"
            },
            {
              "name": "dataHoraFim",
              "value": "2024-10-31T00:00Z"
            },
            {
              "name": "scope",
              "value": "={{ $node[\"dados1\"].json[\"scope\"].trim() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "ff68d509-c727-4773-aa6d-c2a52107cd15",
      "name": "consultar_cobranca_imediata_pix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2500,
        2760
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://bancointer.automagicbots.com.br/pix/v2/pix/eda548eddfde49dda6fbc259369c20a9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "ea99b5f0-d2ba-475e-8bc9-e8af0d9a87f4",
      "name": "consultar_cobranca_imediata_pix1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2740,
        2980
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/cobranca/v2/boletos/{nossoNumero}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "f0e662ae-3416-46d1-81e7-90a790ee8ede",
      "name": "Getboleto_detalhado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3340,
        1900
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/cobranca/v2/boletos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataInicial"
            },
            {
              "name": "dataFinal"
            },
            {
              "name": "email"
            },
            {
              "name": "cpfCnpj"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "8008d828-2794-424f-963b-736fda0bc0fb",
      "name": "GetColecao_boletos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3340,
        2060
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/cobranca/v2/boletos/{nossoNumero}/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "f35abedf-1813-49fc-9f75-5ea5284c01aa",
      "name": "GetBoleto_pdf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3340,
        2220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/cobranca/v3/cobrancas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataInicial"
            },
            {
              "name": "dataFinal"
            },
            {
              "name": "cpfCnpjPessoaPagadora"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "7d911a7c-9948-4e56-94b4-0d9ee8e7f0fb",
      "name": "GetColecao_cobrancas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3540,
        2060
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/cobranca/v3/cobrancas/{codigoSolicitacao}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "76e6559f-b276-4fce-834b-ccf77ebd7e8d",
      "name": "GetCobranca",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3540,
        1900
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/cobranca/v3/cobrancas/{codigoSolicitacao}/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d9c3426c-98a0-40d2-b346-ef8e6c637bac",
      "name": "GetCobranca_pdf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3540,
        2220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/banking/v2/pagamento",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "codigoTransacao",
              "value": "YYYY-MM-DD"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "2b54b1d8-72a1-4fee-bed9-9608096df473",
      "name": "GetPagamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        1900
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/banking/v2/pagamento/darf",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataInicio",
              "value": "YYYY-MM-DD"
            },
            {
              "name": "dataFim",
              "value": "YYYY-MM-DD"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "706aace8-d6e3-4220-a78f-4131316b561d",
      "name": "GetPagamentosDARF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        2060
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/banking/v2/pagamento/lote/{idLote}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "30cc8b2c-bfc8-4b66-b013-c6f209cd027f",
      "name": "GetLotePagamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        2220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/pix/v2/cob/{txid}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "7d4ec13a-9080-4497-9edd-4779efb37874",
      "name": "GetCobrancaImediata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3540,
        2380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/pix/v2/cob",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "inicio",
              "value": "2023-02-30T12:09:00Z"
            },
            {
              "name": "fim",
              "value": "2023-03-30T12:09:00Z"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "05065404-2c2d-46be-9d9b-adaa111e7e04",
      "name": "GetListaCobrancasImediatas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        2380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## BANCO INTER",
        "height": 754.6403105928161,
        "width": 596.3903848254957,
        "color": 4
      },
      "id": "e951ec6d-8623-4c2e-9cc7-61e33596b6f8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3300,
        1820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bancointer.automagicbots.com.br/oauth/v2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $node[\"dados1\"].json[\"client_id\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $node[\"dados1\"].json[\"client_secret\"] }}"
            },
            {
              "name": "grant_type",
              "value": "={{ $node[\"dados1\"].json[\"grant_type\"] }}"
            },
            {
              "name": "scope",
              "value": "={{ $node[\"dados1\"].json[\"scope\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "4e9ae261-f00d-427c-9411-c4e4e751034e",
      "name": "getNewToken1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3340,
        2380
      ]
    },
    {
      "parameters": {
        "url": "=https://bancointer.automagicbots.com.br/banking/v2/pagamento",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "codigoTransacao",
              "value": "={{ $node[\"banco_inter\"].json[\"body\"][\"0\"][\"codigoSolicitacao\"] }}"
            },
            {
              "name": "filtrarDataPor",
              "value": "PAGAMENTO"
            },
            {
              "name": "scope",
              "value": "oob"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "4663b148-565b-47c2-8f95-aadb6ddb4683",
      "name": "GetPagamentos1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2480,
        3000
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e16ddd08-bc09-497f-ae9a-989a3abc2d72",
              "name": "token",
              "value": "=f8046ab4-a3df-4c78-86c5-d5d394cba852",
              "type": "string"
            },
            {
              "id": "5e989121-e816-4e51-aedf-38c6b570496d",
              "name": "client_id",
              "value": "2f8c99ed-8466-4821-88dc-056786b03d44",
              "type": "string"
            },
            {
              "id": "e2940eab-c73e-4130-9004-737db451e1d3",
              "name": "client_secret",
              "value": "1261ced9-4f3e-4c81-b48d-3f2caeed5730",
              "type": "string"
            },
            {
              "id": "0175eec8-cd44-4a09-99d3-d9bd0aca9a34",
              "name": "scope",
              "value": "extrato.read boleto-cobranca.read boleto-cobranca.write pagamento-boleto.write pagamento-boleto.read pagamento-darf.write cob.write cob.read cobv.write cobv.read pix.write pix.read webhook.read webhook.write payloadlocation.write payloadlocation.read pagamento-pix.write pagamento-pix.read webhook-banking.write webhook-banking.read",
              "type": "string"
            },
            {
              "id": "b013f962-4c27-4fa4-8461-71d93ce384e4",
              "name": "grant_type",
              "value": "client_credentials",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3e7ded71-2050-4107-aaa8-7a71c002a50d",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2220,
        3140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bancointer.automagicbots.com.br/oauth/v2/token\n",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $node[\"dados1\"].json[\"client_id\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $node[\"dados1\"].json[\"client_secret\"] }}"
            },
            {
              "name": "grant_type",
              "value": "={{ $node[\"dados1\"].json[\"grant_type\"] }}"
            },
            {
              "name": "scope",
              "value": "={{ $node[\"dados1\"].json[\"scope\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "decbbe8c-7dc2-486c-accb-7789affe4881",
      "name": "getNewToken2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2500,
        2520
      ]
    },
    {
      "parameters": {
        "url": "https://bancointer.automagicbots.com.br/banking/v2/pix/56072ebf-fb76-4b74-9f7b-6aec9e16db0c",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "escopos necessários"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"dados1\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "56116be1-2e5d-4d41-b87d-8b23b8dd49d3",
      "name": "consultar_cobranca_imediata_pix2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2280,
        2940
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bancointer.automagicbots.com.br/oauth/v2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $node[\"dados1\"].json[\"client_id\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $node[\"dados1\"].json[\"client_secret\"] }}"
            },
            {
              "name": "grant_type",
              "value": "={{ $node[\"dados1\"].json[\"grant_type\"] }}"
            },
            {
              "name": "scope",
              "value": "={{ $node[\"dados1\"].json[\"scope\"] }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "8c7e039f-427d-46b6-9777-48a272f9b39d",
      "name": "getNewToken3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2940,
        2920
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "B5ErT6ObkzMJxzKU"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-04T17:45:31.820Z",
  "versionId": "9ea55291-95d5-43c9-8601-c6aba098bdec"
}