workflows/[SESSÃO ESTRATÉGICA] OPT-IN | PARTE 2.json
{
  "active": true,
  "connections": {
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dados_pipefy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_pipefy": {
      "main": [
        [
          {
            "node": "get_cards_via_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_cards_via_email": {
      "main": [
        [
          {
            "node": "existe_no_pipe_comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_no_pipe_comercial": {
      "main": [
        [
          {
            "node": "card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cc1": {
      "main": [
        [
          {
            "node": "get_cards_via_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "up>1fld1": {
      "main": [
        [
          {
            "node": "move_to_other_level_first_contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_checkbox": {
      "main": [
        [
          {
            "node": "add_tag3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criarContato": {
      "main": [
        [
          {
            "node": "addLista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addLista": {
      "main": [
        [
          {
            "node": "addAutomacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move_to_other_level_first_contact1": {
      "main": [
        [
          {
            "node": "update_checkbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addAutomacao": {
      "main": [
        [
          {
            "node": "WPP Portus X SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "card": {
      "main": [
        [
          {
            "node": "up>1fld1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_cards_via_email1": {
      "main": [
        [
          {
            "node": "update_checkbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag3": {
      "main": [
        [
          {
            "node": "criarContato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "insere_dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create/update_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead3": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead1": {
      "main": [
        [
          {
            "node": "create/update_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados1": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_existe": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe4": {
      "main": [
        [
          {
            "node": "insere_dados3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create/update_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead3": {
      "main": [
        [
          {
            "node": "create/update_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados3": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "nao_existe4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WPP Portus X SDR": {
      "main": [
        [
          {
            "node": "email_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados7": {
      "main": [
        [
          {
            "node": "entra_na_fila6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados8": {
      "main": [
        [
          {
            "node": "entra_na_fila6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados9": {
      "main": [
        [
          {
            "node": "entra_na_fila7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados10": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_lead": {
      "main": [
        [
          {
            "node": "create/update_deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_lead1": {
      "main": [
        [
          {
            "node": "create/update_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_lead2": {
      "main": [
        [
          {
            "node": "create/update_deal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_lead3": {
      "main": [
        [
          {
            "node": "create/update_deal3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_deal2": {
      "main": [
        [
          {
            "node": "dados9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_deal3": {
      "main": [
        [
          {
            "node": "dados10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_deal1": {
      "main": [
        [
          {
            "node": "dados7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_deal": {
      "main": [
        [
          {
            "node": "dados8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-12T21:43:37.222Z",
  "id": "wzesGuvSBRU9vvbY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[SESSÃO ESTRATÉGICA] OPT-IN | PARTE 2",
  "nodes": [
    {
      "parameters": {
        "queue": "opt-in - p2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "e351e5a1-c437-481e-9dbd-7d7d8b40953d",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        100,
        500
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "9519781a-fb37-4642-b8d6-119f528d4bc3",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        520,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d0f9822f-132d-427a-af4c-d07287a8a5e4",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{$node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[1] ? $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        300,
        680
      ],
      "id": "2c6a29aa-6b61-4c2a-895c-463bdefccdb7",
      "continueOnFail": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "id_pipe_comercial",
              "stringValue": "302838347"
            },
            {
              "name": "id_fase_pre_qualificados"
            },
            {
              "name": "id_fase_pre_desqualificados"
            }
          ]
        },
        "options": {}
      },
      "id": "6938a31d-1797-44f8-82e2-2903eca0b9dd",
      "name": "dados_pipefy",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        520,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query {\n  findCards(pipeId: {{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}, search: {fieldId: \"email\", fieldValue: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}) {\n    edges {\n      node {\n        fields {\n          date_value\n          datetime_value\n          filled_at\n          float_value\n          indexName\n          name\n          native_value\n          report_value\n          updated_at\n          value\n        }\n        title\n        done\n        id\n        updated_at\n        assignees {\n          name\n          email\n        }\n        attachments {\n          url\n          path\n        }\n        current_phase {\n          name\n        }\n        pipe {\n          name\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "589c759b-663d-45ba-9d01-b4d919abafd8",
      "name": "get_cards_via_email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fad7c009-7961-477a-a86c-0e7be8094a0c",
              "leftValue": "={{ $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"fields\"][\"0\"][\"filled_at\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3fb5edb-6440-4555-ae5f-ba83851dff00",
      "name": "existe_no_pipe_comercial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateFieldsValues(input: {\n    nodeId: {{ $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] }},\n    values: [\n      {fieldId: \"nome_do_lead\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"},\n      {fieldId: \"email\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"},\n      {fieldId: \"whatsapp_do_lead\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\"},\n      {fieldId: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"},\n      {fieldId: \"voc_est_com_alguma_vaga_aberta_agora\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}\"},\n      {fieldId: \"parceiro\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}\"},\n      {fieldId: \"respons_vel\", value: \"305290154\"}\n   ]\n }) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "2dc1bf1c-dfd8-437e-8052-2f4091a0a95e",
      "name": "up>1fld1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createCard(input: {\n    pipe_id: {{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}\n    title: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"\n    assignee_ids: [305290154]\n    fields_attributes: [\n      {field_id: \"nome_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"},\n      {field_id: \"email\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"},\n      {field_id: \"whatsapp_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\"},\n      {field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"},\n      {field_id: \"voc_est_com_alguma_vaga_aberta_agora\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}\"},\n      {field_id: \"parceiro\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}\"},\n      {field_id: \"origem\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}\"},\n      {field_id: \"funil\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"},\n      {field_id: \"c_lula\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}\"},\n      {field_id: \"respons_vel\", field_value: \"305290154\"}\n    ]\n  }) {\n    clientMutationId\n    card {\n      pipe {\n        id\n      }\n      assignees {\n        id\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "11d2f630-177e-4b0c-95fb-5e611436c3d1",
      "name": "cc1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  me { \n     id \t\n     name\n \t username\n   \t email \t\n     avatarUrl \t\n     created_at \t\n     locale \t\n     timeZone       \n   } \n}"
            }
          ]
        },
        "options": {}
      },
      "id": "1314bc16-df33-481b-bbdf-306684dad0f8",
      "name": "get_me",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  allCards(pipeId:302838347){\n    edges{\n      node{ \n        id\n        title\n \t    age     \n     } \n   }\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "905ad4fc-be2e-4e51-b938-9d32bc6774dc",
      "name": "get_cards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        -20
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  pipe(id:302838347){\n    phases{ \n        id\n        name\n   }\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf2bcf61-a7b8-4eca-be62-25637b5a9800",
      "name": "get_etapas_de_um_pipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        -20
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  phase(id:319617945){\n    cards{ \n      edges{\n        node{\n           age\n           id\n           title\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f4395b1-dc34-4742-8657-5aa6424ccb30",
      "name": "get_cards_de_uma_etapas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n card(id:915446239){\n    title\n    id\n    uuid\n    updated_at} }"
            }
          ]
        },
        "options": {}
      },
      "id": "0cf7ac30-8728-40e0-b705-bddbc43d2b9c",
      "name": "get_cards_via_id_unico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query{\n   pipe(id:302838347){\n   start_form_fields{\n     id\n     label\n     required\n     type\n     options\n}} }"
            }
          ]
        },
        "options": {}
      },
      "id": "df8b8d05-e1e3-4561-b004-d0c0568fec83",
      "name": "get_id_fields_por_card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n   createCard(input:{\n     pipe_id:303850985\n     fields_attributes:[\n       {field_id:\"nome_completo_aluno_a\", field_value:\"TesAPI\"}\n       {field_id:\"e_mail_do_aluno_a\", field_value:\"testeapi@teste.com\"}\n       {field_id:\"n_mero_de_telefone_aluno_a\", field_value:\"+5571992594557\"}\n]\n}) {\n  clientMutationId\n }\n} \n"
            }
          ]
        },
        "options": {}
      },
      "id": "5b485976-48a5-4481-8ba8-643676d92965",
      "name": "cc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1520,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  updateCardField(input:{\n      card_id: 915446239\n      field_id:\"nome_completo_aluno_a\"\n      new_value:\"Teste4\"\n}){\n clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f6cba54-d102-4ee1-b580-3b5be107dbce",
      "name": "up1f",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1520,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateFieldsValues(input: {\n    nodeId: 865577734,\n    values: [\n      {fieldId: \"nome_completo_aluno_a\", value: \"Teste2\"},\n      {fieldId: \"e_mail_do_aluno_a\", value: \"email2@gmail.com\"},\n      {fieldId: \"n_mero_de_telefone_aluno_a\", value: \"+557192594557\"}\n   ]\n }) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "5400cf10-de20-4630-939f-b5515bfc43fa",
      "name": "up>1fld",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1700,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  deleteCard(input: {\n    id: 865577734\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc6732da-07c8-4f34-b8aa-36208dc8267f",
      "name": "del_crd",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1700,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createPhaseField(input: {\n    phase_id: IDDAFASEAQUIOUETAPA\n    label:\"Campo Teste\"\n    type:\"time\"\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe9c3755-f7a4-4d14-a132-ca2cd6c9f77e",
      "name": "criar_field_numa_etapa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  moveCardToPhase(input: {\n    card_id: 873468816\n    destination_phase_id: 323802688\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "f11fe08d-2b0f-4622-93c0-50bea177ff9b",
      "name": "move_to_other_level",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1880,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query{\n  pipe(id:302838347){\n    labels {\n      id\n      color\n      name\n    }\n    name\n    }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "fa7e1b57-0157-465d-b8f8-d79109b183fd",
      "name": "get_tags_por_pipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        -200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  UpdateCardInput(input: { card_id: 871568196, labelIds: [\"Evento Cancelado\"] }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "15a674e4-f9f0-4917-b4cc-1b3be64aae9e",
      "name": "add_tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createPhaseField(input: {\n    phase_id: IDDAFASEAQUIOUETAPA\n    label:\"Campo Teste\"\n    type:\"time\"\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "300b38aa-acaf-4d23-a2c0-4d2b2ed3c4b1",
      "name": "criar_field_numa_etapa1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\na1: updateCardField(input:{ card_id: 871568196 field_id: \"310583340\"}) \n }"
            }
          ]
        },
        "options": {}
      },
      "id": "d2d05971-dfec-4aa6-bd90-c25d0b42de57",
      "name": "cc2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query {\n  findCards(pipeId: {{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}, search: {fieldId: \"email\", fieldValue: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}) {\n    edges {\n      node {\n        fields {\n          date_value\n          datetime_value\n          filled_at\n          float_value\n          indexName\n          name\n          native_value\n          report_value\n          updated_at\n          value\n        }\n        title\n        done\n        id\n        updated_at\n        assignees {\n          name\n          email\n        }\n        attachments {\n          url\n          path\n        }\n        current_phase {\n          name\n        }\n        pipe {\n          name\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "950549e6-213f-4db9-88d0-858ecb5d577d",
      "name": "get_cards_via_email1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateCardField(input: {card_id: {{ $node[\"up>1fld1\"].runIndex >= 0 ? $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : ($node[\"cc1\"].runIndex >= 0 ? $node[\"get_cards_via_email1\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : '') }}, field_id: \"j_conhece_a_port_s_digital\", new_value: [\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"].toLowerCase().includes('não'.toLowerCase()) ? ('Não') : $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"].toLowerCase().includes('sim','yes','yeah') ? ('Sim') : ''}}\"]}) {\n    card {\n      title\n    }\n  }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "28d16b54-342d-4395-9926-7f1e295c20ad",
      "name": "update_checkbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1760,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  card (id: 1077941112) {\n    assignees {\n      id\n      name\n    }\n\n  }\n\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "03c4a86d-8883-4a50-9cff-c50a1a01263e",
      "name": "get_id_user",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1720,
        -200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n   createCard(input:{\n     pipe_id:{{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}\n     fields_attributes:[\n       {field_id: \"nome_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"}\n      {field_id: \"email\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}\n      {field_id: \"whatsapp_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"]}}\"}\n      {field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"}\n      {field_id: \"quantas_pessoas_tem_no_time_atual\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"}\n      {field_id: \"cargo_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"}\n      {field_id: \"qual_profissional_voc_est_procurando\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}\"}\n      {field_id: \"assignee\", field_value: \"leticia@portusdigital.com.br\"}\n]\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "3f9e2ef6-e52a-4d40-964f-230692b43365",
      "name": "cc3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        760
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n   createCard(input:{\n     pipe_id:{{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}\n     fields_attributes:[\n       {field_id: \"nome_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"}\n      {field_id: \"email\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}\n      {field_id: \"whatsapp_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"]}}\"}\n      {field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"}\n      {field_id: \"quantas_pessoas_tem_no_time_atual\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"}\n      {field_id: \"cargo_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"}\n      {field_id: \"qual_profissional_voc_est_procurando\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}\"}\n      {field_id: \"assignee\", field_value: \"leticia@portusdigital.com.br\"}\n]\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "549a43ee-5a33-4e93-8c47-91779b3b17a4",
      "name": "cc4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        760
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateCardField(input: {card_id: {{ $node[\"up>1fld1\"].runIndex >= 0 ? $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : ($node[\"cc1\"].runIndex >= 0 ? $node[\"get_cards_via_email1\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : '') }}, field_id: \"j_conhece_a_port_s_digital\", new_value: [\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"].toLowerCase().includes('não'.toLowerCase()) ? ('Não') : $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"].toLowerCase().includes('sim','yes','yeah') ? ('Sim') : ''}}\"]}) {\n    card {\n      title\n    }\n  }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "abcac29f-a2b7-4537-8bf6-61f1a7448b8d",
      "name": "update_checkbox1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        -200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 2,
        "contactId": "={{ $node[\"criarContato\"].json[\"id\"] }}"
      },
      "id": "6862663b-592f-4785-9f9e-9fafe56ffcea",
      "name": "addLista",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2340,
        540
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "iBDDqEWUrrzxfz28",
          "name": "PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "ae2502e3-2a5d-44b2-b118-12f61afcc513",
      "name": "criarContato",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2160,
        540
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "iBDDqEWUrrzxfz28",
          "name": "PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portusdigital2.api-us1.com/api/3/contactAutomations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactAutomation.contact",
              "value": "={{ $node[\"criarContato\"].json[\"id\"] }}"
            },
            {
              "name": "contactAutomation.automation",
              "value": "={{ 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "405931b1-358b-4716-aceb-a15502b901c1",
      "name": "addAutomacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2520,
        540
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "iBDDqEWUrrzxfz28",
          "name": "PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  pipe(id: 302838347){\n    phases{\n      name\n      fields{\n        id\n        label\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "5392ce39-8079-4023-ba49-c6aa49cbbb18",
      "name": "get_id_fields_por_card1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query{\n   pipe(id:302838347){\n   start_form_fields{\n     id\n     label\n     required\n     type\n     options\n}} }"
            }
          ]
        },
        "options": {}
      },
      "id": "7049922e-b2e3-4710-8f65-3ffabe192bb9",
      "name": "get_id_fields_por_card2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        -20
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query {\n  findCards(pipeId: {{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}, search: {fieldId: \"email\", fieldValue: \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}) {\n    edges {\n      node {\n        fields {\n          date_value\n          datetime_value\n          filled_at\n          float_value\n          indexName\n          name\n          native_value\n          report_value\n          updated_at\n          value\n        }\n        title\n        done\n        id\n        updated_at\n        assignees {\n          name\n          email\n        }\n        attachments {\n          url\n          path\n        }\n        current_phase {\n          name\n        }\n        pipe {\n          name\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "73d48a27-a9e5-4f5b-8c66-d1431e4353b6",
      "name": "get_cards_via_email2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        820
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  moveCardToPhase(input: {\n    card_id: {{ $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] }}\n    destination_phase_id: 321485752\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "64a23213-233c-4209-9d65-1b7c92c4e192",
      "name": "move_to_other_level_first_contact1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1520,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/portus-notificacao",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=xxus6gpgn1fr37j4epdglp"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5516974073113"
            },
            {
              "name": "textMessage.text",
              "value": "=NOVO LEAD\n\nNome: {{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\nE-mail: {{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\nTelefone: {{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\nLink WhatsApp: https://wa.me/{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\nLink Pipefy: https://app.pipefy.com/open-cards/{{ $node[\"card\"].runIndex >= 0 ? $node[\"card\"].json[\"id_deal\"] : $node[\"get_cards_via_email1\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ Number(1200) }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ $json[\"linkPreview\"] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "6a59ed36-6ee1-40fe-a8d7-bfb8ae0dad34",
      "name": "WPP Portus X SDR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2720,
        540
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5403ed8f-ccf2-4241-a363-c13e761c74e1",
              "name": "id_deal",
              "value": "={{ $json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c916d0e7-0fe8-4c52-955c-2781aa9d751e",
      "name": "card",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1160,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/portus-sdr01",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eu9xrxqyu0dh3yvazp1x5n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Olá, {{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}.\n\nRecebemos a sua aplicação para a reunião com nosso estrategista de times e estamos analisando as suas respostas.\n\nLogo alguém da nossa equipe entrará em contato para agendar a análise do seu negócio com o estrategista. Fique de olho nesse número para não perder a sua vez.\n\nEquipe Portüs 💚"
            },
            {
              "name": "options.delay",
              "value": "={{ Number(1200) }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ $json[\"linkPreview\"] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "17b51841-b8af-494a-965d-0a231e5e0f92",
      "name": "WPP SDR X Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2720,
        720
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateCardField(input: {\n    card_id: {{ $node[\"up>1fld1\"].runIndex >= 0 ? $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : ($node[\"cc1\"].runIndex >= 0 ? $node[\"get_cards_via_email1\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : '') }}\n    field_id: \"tags\"\n    new_value: {{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"].replace('Sessão Estratégica','311141379').replace('Trafego','314498375').replace('RH CONNECTION','314555818').replace('GOOGLE ADS','314633274') }}\n  }) {\n    clientMutationId\n    success\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "56f18367-8f87-4530-9b81-a87e5c5ae7a7",
      "name": "add_tag3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1960,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZrEMMiehYrEAsQ7Z",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead3\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "087f077e-544f-41ea-ba95-f498039bfbce",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3680,
        520
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '-----------------------'}}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '-----------------------'}}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "0d61d591-98ca-47db-9120-0f19c31e064c",
      "name": "pesquisa_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3280,
        520
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "2323cbba-92d9-4786-b730-3079079ed47d",
      "name": "insert_data_utm_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4300,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"criarContato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "967f98ce-4014-4095-9715-2729d8209528",
      "name": "insere_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4140,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d93ab561-05c5-493f-b0cf-de2ccd119619",
      "name": "email_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3080,
        540
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || '-----------------------'}}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "71ba5af5-2c3f-4a85-91bb-a01a336ba975",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3280,
        760
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "35432c64-350d-4c63-a2d6-37dae9ce80fd",
      "name": "nao_existe4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3680,
        760
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "2b2f4566-fd2a-4ab4-8ded-161057cb143e",
      "name": "insert_data_utm_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4300,
        680
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"criarContato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e882dc36-f91e-49b9-a23d-d8d580785689",
      "name": "insere_dados3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4140,
        680
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "13810370-94f1-4363-b7fa-6979550dde94",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        3480,
        520
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "697ecf38-56b0-4594-ad19-097e859b7226",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        3480,
        760
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "6c9013a2-8f0f-478c-85f0-487b2ae70f1d",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        5040,
        500
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "d0ebc2c7-4198-4ef3-bbc9-908a2883abb5",
      "name": "entra_na_fila7",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        5040,
        680
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "e855ba41-d269-4236-b6f6-e576897b2483",
      "name": "entra_na_fila6",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        5080,
        1000
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "id_pipeline_ac"
            },
            {
              "name": "id_stage_preencheu_aplicacao"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_campo_deal_momento_atual"
            },
            {
              "name": "id_campo_deal_principal_desafio"
            },
            {
              "name": "id_campo_deal_renda_mensal"
            },
            {
              "name": "id_campo_deal_instagram"
            },
            {
              "name": "id_stage_desqualificado"
            },
            {
              "name": "id_pipeline_downsell"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_deal_oportunidade"
            },
            {
              "name": "id_campo_deal_porque_voce"
            },
            {
              "name": "id_campo_deal_quando_iniciar"
            },
            {
              "name": "id_campo_deal_concorda_com_o_investimento"
            },
            {
              "name": "id_campo_deal_estrategias_de_vendas"
            },
            {
              "name": "id_campo_deal_conhece_a_mentoria"
            },
            {
              "name": "id_campo_deal_tem_socio"
            },
            {
              "name": "id_campo_deal_preferencia"
            },
            {
              "name": "id_campo_deal_aceita_6_meses"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_deal_origem"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_deal_empreende_no_digital"
            },
            {
              "name": "id_campo_deal_e_terapeuta"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_a_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_conhece_a_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_margem_lucro_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_margem_lucro_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_faturamento_medio_ultimo_semestre_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_medio_ultimo_semestre_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_nivel_experiencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_nivel_experiencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_operacoes_ativas_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_operacoes_ativas_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_renda_mensal_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_renda_mensal_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_investimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_principais_objetivos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_principais_objetivos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "instagram_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"instagram\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"]}}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"]}}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "3230e3c8-e303-4ed8-90de-a16b913fab60",
      "name": "dados7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4860,
        1100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "id_pipeline_ac"
            },
            {
              "name": "id_stage_preencheu_aplicacao"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_campo_deal_momento_atual"
            },
            {
              "name": "id_campo_deal_principal_desafio"
            },
            {
              "name": "id_campo_deal_renda_mensal"
            },
            {
              "name": "id_campo_deal_instagram"
            },
            {
              "name": "id_stage_desqualificado"
            },
            {
              "name": "id_pipeline_downsell"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_deal_oportunidade"
            },
            {
              "name": "id_campo_deal_porque_voce"
            },
            {
              "name": "id_campo_deal_quando_iniciar"
            },
            {
              "name": "id_campo_deal_concorda_com_o_investimento"
            },
            {
              "name": "id_campo_deal_estrategias_de_vendas"
            },
            {
              "name": "id_campo_deal_conhece_a_mentoria"
            },
            {
              "name": "id_campo_deal_tem_socio"
            },
            {
              "name": "id_campo_deal_preferencia"
            },
            {
              "name": "id_campo_deal_aceita_6_meses"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_deal_origem"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_deal_empreende_no_digital"
            },
            {
              "name": "id_campo_deal_e_terapeuta"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_a_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_conhece_a_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_margem_lucro_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_margem_lucro_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_faturamento_medio_ultimo_semestre_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_medio_ultimo_semestre_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_nivel_experiencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_nivel_experiencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_operacoes_ativas_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_operacoes_ativas_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_renda_mensal_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_renda_mensal_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_investimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_principais_objetivos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_principais_objetivos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "instagram_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"instagram\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"telefone\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"]}}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"]}}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"]}}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "1b69d7cb-a2a3-423d-af5d-d5cfcfa2a069",
      "name": "dados8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4860,
        900
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "id_pipeline_ac"
            },
            {
              "name": "id_stage_preencheu_aplicacao"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_campo_deal_momento_atual"
            },
            {
              "name": "id_campo_deal_principal_desafio"
            },
            {
              "name": "id_campo_deal_renda_mensal"
            },
            {
              "name": "id_campo_deal_instagram"
            },
            {
              "name": "id_stage_desqualificado"
            },
            {
              "name": "id_pipeline_downsell"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_deal_oportunidade"
            },
            {
              "name": "id_campo_deal_porque_voce"
            },
            {
              "name": "id_campo_deal_quando_iniciar"
            },
            {
              "name": "id_campo_deal_concorda_com_o_investimento"
            },
            {
              "name": "id_campo_deal_estrategias_de_vendas"
            },
            {
              "name": "id_campo_deal_conhece_a_mentoria"
            },
            {
              "name": "id_campo_deal_tem_socio"
            },
            {
              "name": "id_campo_deal_preferencia"
            },
            {
              "name": "id_campo_deal_aceita_6_meses"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_deal_origem"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_deal_empreende_no_digital"
            },
            {
              "name": "id_campo_deal_e_terapeuta"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_a_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_conhece_a_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_margem_lucro_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_margem_lucro_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_faturamento_medio_ultimo_semestre_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_medio_ultimo_semestre_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_nivel_experiencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_nivel_experiencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_operacoes_ativas_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_operacoes_ativas_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_renda_mensal_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_renda_mensal_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_investimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_principais_objetivos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_principais_objetivos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"]}}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"]}}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d8b4aef-2481-4d29-9f07-57e33fd77160",
      "name": "dados9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4860,
        680
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_campo_deal_momento_atual"
            },
            {
              "name": "id_campo_deal_principal_desafio"
            },
            {
              "name": "id_campo_deal_renda_mensal"
            },
            {
              "name": "id_campo_deal_instagram"
            },
            {
              "name": "id_stage_desqualificado"
            },
            {
              "name": "id_pipeline_downsell"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_deal_oportunidade"
            },
            {
              "name": "id_campo_deal_porque_voce"
            },
            {
              "name": "id_campo_deal_quando_iniciar"
            },
            {
              "name": "id_campo_deal_concorda_com_o_investimento"
            },
            {
              "name": "id_campo_deal_estrategias_de_vendas"
            },
            {
              "name": "id_campo_deal_conhece_a_mentoria"
            },
            {
              "name": "id_campo_deal_tem_socio"
            },
            {
              "name": "id_campo_deal_preferencia"
            },
            {
              "name": "id_campo_deal_aceita_6_meses"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_deal_origem"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_deal_empreende_no_digital"
            },
            {
              "name": "id_campo_deal_e_terapeuta"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_a_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_conhece_a_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_margem_lucro_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_margem_lucro_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_faturamento_medio_ultimo_semestre_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_medio_ultimo_semestre_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_nivel_experiencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_nivel_experiencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_operacoes_ativas_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_operacoes_ativas_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_renda_mensal_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_renda_mensal_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_investimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_principais_objetivos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_principais_objetivos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"success\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"]}}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"]}}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "38a7f72f-cd88-4eb0-9584-f341fe370b52",
      "name": "dados10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4860,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/80cf8c3b-6a07-4c85-9679-0e13782fcd7f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] ? '@' + $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] : '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "id_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "name": "nome_da_empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "origem_do_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29b91b36-d7dd-4207-b39b-20c6b7ad6cf0",
      "name": "create/update_lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4480,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8f76af8a-50cb-444c-84ff-14b032160598",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "conhece_a_portus",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "qnt_pessoas_na_equipe",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "cargo",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "produto_servido_validado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "faturamento_mensal",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "meta_faturamento_2024",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "vaga_aberta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "profissional_procurado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "modelo_negocio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "data_aplicacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type_milesegundos\"].split(' ')[0] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "dono_negocio"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "tags",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"].replace('Sessão Estratégica','Sessão Estratégica').replace('Trafego','Trafego Pago') }}"
            },
            {
              "name": "etapa",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "0fd9875c-5446-44e8-9883-c9fcc2968d7c",
      "name": "create/update_deal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4680,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/80cf8c3b-6a07-4c85-9679-0e13782fcd7f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] ? '@' + $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] : '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "id_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            },
            {
              "name": "nome_da_empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "origem_do_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a267c5c8-e2b5-43c1-bfcd-119d99a5c2ef",
      "name": "create/update_lead1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4480,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8f76af8a-50cb-444c-84ff-14b032160598",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "conhece_a_portus",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "qnt_pessoas_na_equipe",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "cargo",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "produto_servido_validado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "faturamento_mensal",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "meta_faturamento_2024",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "vaga_aberta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "profissional_procurado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "modelo_negocio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "data_aplicacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type_milesegundos\"].split(' ')[0] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "dono_negocio"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "tags",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"].replace('Sessão Estratégica','Sessão Estratégica').replace('Trafego','Trafego Pago') }}"
            },
            {
              "name": "etapa",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "e532b2d7-6c2b-445b-95f1-b17f80e1eb81",
      "name": "create/update_deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4680,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/80cf8c3b-6a07-4c85-9679-0e13782fcd7f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] ? '@' + $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] : '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "id_bd",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "nome_da_empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "origem_do_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "568dafac-4078-4249-9993-ed12b5183694",
      "name": "create/update_lead2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4480,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8f76af8a-50cb-444c-84ff-14b032160598",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "conhece_a_portus",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "qnt_pessoas_na_equipe",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "cargo",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "produto_servido_validado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "faturamento_mensal",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "meta_faturamento_2024",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "vaga_aberta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "profissional_procurado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "modelo_negocio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "data_aplicacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type_milesegundos\"].split(' ')[0] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "dono_negocio"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "tags",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"].replace('Sessão Estratégica','Sessão Estratégica').replace('Trafego','Trafego Pago') }}"
            },
            {
              "name": "etapa",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "505f4574-7771-4e6f-ab30-260de4039f9e",
      "name": "create/update_deal2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4680,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/80cf8c3b-6a07-4c85-9679-0e13782fcd7f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] ? '@' + $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] : '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "id_bd",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "nome_da_empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "origem_do_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4613ee49-15b6-4607-be45-c05b4471427b",
      "name": "create/update_lead3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4480,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8f76af8a-50cb-444c-84ff-14b032160598",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "conhece_a_portus",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "qnt_pessoas_na_equipe",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "cargo",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "produto_servido_validado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "faturamento_mensal",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "meta_faturamento_2024",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "vaga_aberta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "profissional_procurado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "modelo_negocio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "data_aplicacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type_milesegundos\"].split(' ')[0] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "dono_negocio"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "tags",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"].replace('Sessão Estratégica','Sessão Estratégica').replace('Trafego','Trafego Pago') }}"
            },
            {
              "name": "etapa",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "87cb57d7-d03c-4c8a-9d9b-9dedb8dc4ad9",
      "name": "create/update_deal3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4680,
        500
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-7MNMAPpOrZbJCsSa8Mq_cg",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "opt-in - p2"
          },
          "properties": {},
          "content": {
            "Nome do Cliente": "Mateus",
            "E-mail do Cliente": "mateusdiniz@automagicbots.com.br",
            "Telefone do Cliente - Formato BC": "+5562981196678",
            "Telefone do Cliente - Formato Z-API": "5562981196678",
            "Instagram": "www.automagicbots.com.br",
            "pergunta4": "5",
            "pergunta17": "Google",
            "pergunta19": "Automagic Bots",
            "pergunta20": "Gestor de Automações Pleno",
            "data_resposta_type": "26/02/2025 11:16",
            "data_ultima_quinzena": "2025-02-11",
            "id_fluxo_nao_agendou_10_min": "3065086",
            "id_fluxo_nao_agendou_10_min_desqualificados": "",
            "API-KEY": "46dacadf-10d0-47db-a81d-69263aca1959",
            "id_campo_id_banco_de_dados_bot_conversa": "1776703",
            "id_campo_utm_source_bot_conversa": "1780336",
            "id_campo_utm_campaign_bot_conversa": "1780335",
            "id_campo_utm_term_bot_conversa": "1780334",
            "id_campo_utm_medium_bot_conversa": "1780337",
            "id_campo_utm_content_bot_conversa": "1780338",
            "id_campo_utm_fun_bot_conversa": "1780345",
            "id_campo_utm_var_bot_conversa": "1780344",
            "id_campo_instagram_bot_conversa": "1776705",
            "id_campo_emailse_bot_conversa": "1780340",
            "id_campo_id_lead_crm_bot_conversa": "1780343",
            "id_campo_data_resposta_type_bot_conversa": "1789193",
            "id_tag_desqualificado_bot_conversa": "6979786",
            "id_tag_qualificado_bot_conversa": "7005347",
            "id_campo_pergunta0_bot_conversa": "1654521",
            "id_campo_pergunta1_bot_conversa": "1654523",
            "id_campo_pergunta2_bot_conversa": "1654886",
            "id_campo_pergunta3_bot_conversa": "1654541",
            "id_campo_pergunta4_bot_conversa": "1689038",
            "id_campo_pergunta5_bot_conversa": "1772554",
            "id_campo_pergunta6_bot_conversa": "1772555",
            "id_campo_pergunta7_bot_conversa": "1782967",
            "id_campo_pergunta8_bot_conversa": "1814217",
            "id_campo_pergunta9_bot_conversa": "",
            "id_campo_pergunta10_bot_conversa": "",
            "id_campo_pergunta11_bot_conversa": "",
            "id_campo_pergunta12_bot_conversa": "",
            "id_campo_pergunta13_bot_conversa": "",
            "id_campo_pergunta14_bot_conversa": "",
            "id_campo_pergunta15_bot_conversa": "",
            "id_campo_pergunta16_bot_conversa": "",
            "id_campo_pergunta17_bot_conversa": "",
            "id_campo_pergunta18_bot_conversa": "",
            "id_campo_pergunta19_bot_conversa": "",
            "id_campo_pergunta20_bot_conversa": "",
            "id_status_preencheu_aplicacao_crm": "bbf14072-e675-4a28-915a-ede90e9d31fa",
            "id_campo_email_crm": "43a14a28-119a-4e43-a0a1-58bc64e739a2",
            "id_campo_telefone_crm": "4f5b17cc-999f-4779-8a66-155632cf59b4",
            "id_campo_link_do_instagram_crm": "4d4434db-7404-4ca3-8586-88aacbe0069f",
            "id_campo_utm_source_crm": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11",
            "id_campo_utm_campaign_crm": "e545d10b-616e-450d-aef6-d8e65b0944a3",
            "id_campo_utm_term_crm": "21c541c6-2224-4d82-91da-825808a1edea",
            "id_campo_utm_medium_crm": "d65c4dd8-d243-4416-8349-2d7f341b3bcf",
            "id_campo_utm_content_crm": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2",
            "id_campo_utm_fun_crm": "2e435a89-b633-4100-a0b5-6810746db2c4",
            "id_campo_utm_var_crm": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0",
            "id_campo_pergunta0_crm": "38f71e36-b8c8-42a4-aab3-0eede967e3ec",
            "id_campo_pergunta1_crm": "cfdc19bd-7efe-48e2-8b83-ee721b0bf56c",
            "id_campo_pergunta2_crm": "9f7b4da0-1df8-45cc-8d19-3dc13b3c6120",
            "id_campo_pergunta3_crm": "ce42f281-0ad4-491b-b918-25754365f2fb",
            "id_campo_pergunta4_crm": "04fc4778-f22a-4343-8217-03257f178662",
            "id_campo_pergunta5_crm": "",
            "id_campo_pergunta6_crm": "",
            "id_campo_pergunta7_crm": "",
            "id_campo_pergunta8_crm": "6d05cee0-28f8-474c-84cd-35e76468094c",
            "id_campo_pergunta9_crm": "",
            "id_campo_pergunta10_crm": "",
            "id_campo_pergunta11_crm": "",
            "id_campo_pergunta12_crm": "",
            "id_campo_pergunta13_crm": "",
            "id_campo_pergunta14_crm": "",
            "id_campo_pergunta15_crm": "",
            "id_campo_pergunta16_crm": "",
            "id_campo_pergunta17_crm": "",
            "id_campo_pergunta18_crm": "",
            "id_campo_pergunta19_crm": "",
            "id_campo_pergunta20_crm": "",
            "id_stage_desqualificado_crm": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3",
            "id_pipeline_downsell_crm": "",
            "valor_produto_principal_em_centavos": "",
            "valor_produto_downsell_em_centavos": "",
            "url_api_activecampaign": "",
            "id_sdr": "",
            "id_campo_id_banco_de_dados_crm": "d23569b0-b471-45e0-a1e9-840a6711d052",
            "id_campo_crm_origem": "ba2292d8-b72b-48b1-b2b6-159456a98d63",
            "variacao_do_funil": "v1",
            "id_campo_id_botconversa_crm": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59",
            "status_sessao_estrategica_crm": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef",
            "id_campo_qualificado_crm": "b1bdbadf-406b-4272-ae97-18b3c214005b",
            "id_campo_desqualificado_crm": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3",
            "id_pipeline_crm": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9",
            "id_ending_typeform": "",
            "id_campo_iddealac_bot_conversa": "",
            "id_campo_idleadac_bot_conversa": "",
            "id_campo_status_do_lead_crm": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec",
            "id_campo_status_do_lead_qualificado_crm": "b1bdbadf-406b-4272-ae97-18b3c214005b",
            "id_campo_status_do_lead_desqualificado_crm": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3",
            "id_campo_modelo_da_call_crm": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f",
            "id_campo_modelo_da_call_sessao_estrategica_crm": "36a55391-29e3-4168-9caf-67ac756b79f8",
            "id_campo_modelo_da_call_aplicacao_direta_crm": "5883faf4-ebef-4b10-976a-0f88f4c25331",
            "id_campo_funil_sessao_estrategica_crm": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67",
            "id_campo_funil_aplicacao_direta_crm": "1be63c76-92ea-4be1-a028-5301b1c9fa4e",
            "id_campo_produto_mentoria_escala_ sem_caos_crm": "fbd2bb16-6676-43bd-9938-fca73139fede",
            "id_campo_produto_implementacao_escala_ sem_caos_crm": "49b06aaf-209a-4a2c-84e0-65a6e135ab12",
            "etapa_pre_desqualificados_crm": "77544d86-43b7-4cf6-bc87-ea059abbd7a5",
            "etapa_pre_qualificados_crm": "2c64ca7b-3988-4ce5-9163-be272209072b",
            "id_campo_id_bc_crm": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59",
            "id_campo_data_da_aplicacao_crm": "00ad74e6-783f-4153-8bfd-9bf9a5b39857",
            "id_campo_data_da_aplicacao_bot_conversa": "1814725",
            "id_campo_nome_completo_crm": "1c438058-b654-4a19-9ea3-438bc2f5a078",
            "id_campo_status_sessao_ou_aplicacao_crm": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef",
            "id_campo_status_aplicacao_realizada_crm": "bbf14072-e675-4a28-915a-ede90e9d31fa",
            "id_fluxo_popular_campos": "3317483",
            "parceiro": "GOOGLE ADS",
            "origem": "https://portusdigital.com.br/paraempresa-gform/",
            "form_id": "3ab1e50"
          }
        }
      }
    ],
    "get_me": [
      {
        "json": {
          "data": {
            "me": {
              "id": "302186720",
              "name": "Paulo  Lacerda",
              "username": "atendimento-paulolacerda",
              "email": "atendimento@paulolacerda.com.br",
              "avatarUrl": "https://app.pipefy.com/storage/v1/signed/avatar/store/user/302186720/avatar/small-8db0f9ff5889a94e04cf73a898721a4d.png?expires_on=1707433229&signature=k4Xysji8z113KZe1p3xRC70Amt7pTMwaUByFWvPurEw%3D",
              "created_at": "2022-10-22 12:26:24 -0300",
              "locale": "pt-BR",
              "timeZone": "America/Sao_Paulo"
            }
          }
        }
      }
    ],
    "cc": [
      {
        "json": {
          "data": {
            "createCard": {
              "clientMutationId": null
            }
          }
        }
      }
    ],
    "up>1fld": [
      {
        "json": {
          "data": {
            "updateFieldsValues": {
              "clientMutationId": null
            }
          }
        }
      }
    ],
    "del_crd": [
      {
        "json": {
          "data": {
            "deleteCard": {
              "clientMutationId": null
            }
          }
        }
      }
    ],
    "criar_field_numa_etapa": [
      {
        "json": {
          "data": {
            "deleteCard": {
              "clientMutationId": null
            }
          }
        }
      }
    ],
    "move_to_other_level": [
      {
        "json": {
          "data": {
            "moveCardToPhase": {
              "clientMutationId": null
            }
          }
        }
      }
    ],
    "criar_field_numa_etapa1": [
      {
        "json": {
          "data": {
            "deleteCard": {
              "clientMutationId": null
            }
          }
        }
      }
    ],
    "get_etapas_de_um_pipe": [
      {
        "json": {
          "data": {
            "pipe": {
              "phases": [
                {
                  "id": "321485752",
                  "name": "NOVO LEAD"
                },
                {
                  "id": "317628280",
                  "name": "PRIMEIRO CONTATO"
                },
                {
                  "id": "317628283",
                  "name": "CONECTADO"
                },
                {
                  "id": "319617945",
                  "name": "OFERTA / REUNIÃO"
                },
                {
                  "id": "319618284",
                  "name": "FOLLOW-UP"
                },
                {
                  "id": "322398971",
                  "name": "CONTRATO ENVIADO"
                },
                {
                  "id": "317720323",
                  "name": "VENDA REALIZADA"
                },
                {
                  "id": "317762640",
                  "name": "PERDIDOS"
                }
              ]
            }
          }
        }
      }
    ],
    "get_cards_de_uma_etapas": [
      {
        "json": {
          "data": {
            "phase": {
              "cards": {
                "edges": [
                  {
                    "node": {
                      "age": 5367087,
                      "id": "856478680",
                      "title": "Fabiano Carvalho"
                    }
                  },
                  {
                    "node": {
                      "age": 5185303,
                      "id": "857468755",
                      "title": "Flávia Carvalho"
                    }
                  },
                  {
                    "node": {
                      "age": 4558432,
                      "id": "861567771",
                      "title": "Camila Kurdian"
                    }
                  },
                  {
                    "node": {
                      "age": 2508400,
                      "id": "876275745",
                      "title": "Angela Rodrigues"
                    }
                  },
                  {
                    "node": {
                      "age": 2414349,
                      "id": "877065252",
                      "title": "Lídia"
                    }
                  },
                  {
                    "node": {
                      "age": 2028819,
                      "id": "879884477",
                      "title": "Lilian Cidreira"
                    }
                  },
                  {
                    "node": {
                      "age": 1952722,
                      "id": "880643457",
                      "title": "Petrik Valtingojer"
                    }
                  },
                  {
                    "node": {
                      "age": 1950368,
                      "id": "880664161",
                      "title": "Zau Spínola"
                    }
                  },
                  {
                    "node": {
                      "age": 1879963,
                      "id": "881241225",
                      "title": "Bruno Marchi"
                    }
                  },
                  {
                    "node": {
                      "age": 1733385,
                      "id": "882315471",
                      "title": "Pedro Oliveira Marques"
                    }
                  },
                  {
                    "node": {
                      "age": 1440582,
                      "id": "884147813",
                      "title": "Bruna Coimbra"
                    }
                  },
                  {
                    "node": {
                      "age": 1275301,
                      "id": "885546894",
                      "title": "Mayra Brito Haas"
                    }
                  },
                  {
                    "node": {
                      "age": 1265955,
                      "id": "885611458",
                      "title": "Marina Zinn"
                    }
                  },
                  {
                    "node": {
                      "age": 866918,
                      "id": "887553170",
                      "title": "Ana Carolina"
                    }
                  },
                  {
                    "node": {
                      "age": 786537,
                      "id": "888087897",
                      "title": "Guilherme Santos"
                    }
                  },
                  {
                    "node": {
                      "age": 617293,
                      "id": "889296598",
                      "title": "Verônica / Henry Santos"
                    }
                  },
                  {
                    "node": {
                      "age": 499035,
                      "id": "890311763",
                      "title": "Ademir Garcia"
                    }
                  },
                  {
                    "node": {
                      "age": 438667,
                      "id": "890559106",
                      "title": "Junior Zanardi"
                    }
                  },
                  {
                    "node": {
                      "age": 426965,
                      "id": "890600594",
                      "title": "Michelle Tamura"
                    }
                  },
                  {
                    "node": {
                      "age": 265487,
                      "id": "891110766",
                      "title": "Fernanda Freitas"
                    }
                  },
                  {
                    "node": {
                      "age": 249728,
                      "id": "891275024",
                      "title": "Camila"
                    }
                  },
                  {
                    "node": {
                      "age": 245556,
                      "id": "891321205",
                      "title": "Boaz Oliveira"
                    }
                  },
                  {
                    "node": {
                      "age": 77380,
                      "id": "892569027",
                      "title": "Leonardo Castiglio"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    ],
    "get_id_fields_por_card2": [
      {
        "json": {
          "data": {
            "pipe": {
              "start_form_fields": [
                {
                  "id": "respons_vel",
                  "label": "Responsável",
                  "required": true,
                  "type": "assignee_select",
                  "options": []
                },
                {
                  "id": "closer_respons_vel",
                  "label": "Closer Responsável",
                  "required": false,
                  "type": "assignee_select",
                  "options": []
                },
                {
                  "id": "cliente",
                  "label": "Cliente",
                  "required": false,
                  "type": "connector",
                  "options": []
                },
                {
                  "id": "contatos",
                  "label": "Contato",
                  "required": false,
                  "type": "connector",
                  "options": []
                },
                {
                  "id": "nome_do_representante_p_blico",
                  "label": "Nome do Representante Público",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "nome_da_vaga",
                  "label": "Nome da vaga",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "nome_do_lead",
                  "label": "Nome do Lead",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "email",
                  "label": "Email",
                  "required": false,
                  "type": "email",
                  "options": []
                },
                {
                  "id": "whatsapp_do_lead",
                  "label": "Whatsapp do Lead",
                  "required": false,
                  "type": "phone",
                  "options": []
                },
                {
                  "id": "cargo_do_lead",
                  "label": "Cargo do Lead",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "quantas_pessoas_tem_no_time_atual",
                  "label": "Quantas pessoas tem no time atual?",
                  "required": false,
                  "type": "number",
                  "options": []
                },
                {
                  "id": "quantas_pessoas_trabalham_na_sua_empresa",
                  "label": "Quantas pessoas trabalham na sua empresa?",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "qual_o_seu_modelo_de_neg_cio_aqui_no_digital",
                  "label": "Qual é o seu modelo de negócio aqui no digital?",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "qual_tipo_de_servi_o_deseja_contratar",
                  "label": "Qual tipo de serviço deseja contratar?",
                  "required": false,
                  "type": "select",
                  "options": [
                    "Consultoria de Estruturação de Times",
                    "Recrutamento e Seleção",
                    "Ambos"
                  ]
                },
                {
                  "id": "j_conhece_a_port_s_digital",
                  "label": "Já conhece a Portüs Digital? ",
                  "required": false,
                  "type": "select",
                  "options": [
                    "Sim",
                    "Não",
                    "Não conheço",
                    "Já ouvi falar",
                    "Conheço bem"
                  ]
                },
                {
                  "id": "como_ficou_sabendo_da_portus",
                  "label": "💬 Como ficou sabendo da Portus?",
                  "required": false,
                  "type": "select",
                  "options": [
                    "Indicação",
                    "Instagram",
                    "Linkedin",
                    "Google",
                    "Outros",
                    "ARENA",
                    "Instagram da Kelly",
                    "Evento"
                  ]
                },
                {
                  "id": "qual_foi_o_evento",
                  "label": "Qual foi o Evento?",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "de_quem_foi_a_indica_o",
                  "label": "De quem foi a Indicação?",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "empresa",
                  "label": "Nome da Empresa",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar",
                  "label": "Sites e/ou redes sociais da empresa ou projetos em que o candidato atuará",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "qual_foi_o_seu_faturamento_em_2023",
                  "label": "Qual foi o seu faturamento em 2023?",
                  "required": false,
                  "type": "select",
                  "options": [
                    "Abaixo de 1M",
                    "Entre 1 e 3M",
                    "Entre 3 e 5M",
                    "Entre 5 e 10M",
                    "Entre 10 e 20M",
                    "Acima de 20M"
                  ]
                },
                {
                  "id": "qual_a_meta_de_faturamento_anual_para_2024",
                  "label": "Qual é a meta de faturamento anual para 2024?",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "voc_s_j_t_m_um_produto_servi_o_validado",
                  "label": "Vocês já têm um produto/serviço validado?",
                  "required": false,
                  "type": "select",
                  "options": [
                    "Sim",
                    "Não"
                  ]
                },
                {
                  "id": "qual_profissional_voc_est_procurando",
                  "label": "Qual profissional você está procurando?",
                  "required": false,
                  "type": "long_text",
                  "options": []
                },
                {
                  "id": "voc_est_com_alguma_vaga_aberta_agora",
                  "label": "Você está com alguma vaga aberta AGORA?",
                  "required": false,
                  "type": "select",
                  "options": [
                    "Estou com uma vaga aberta.",
                    "Estou com MAIS de uma vaga aberta, inclusive.",
                    "Não estou com vagas abertas e não pretendo contratar agora.",
                    "Ainda não, mas sinto que preciso de gente e abrirei em breve."
                  ]
                },
                {
                  "id": "tipo_de_contrato",
                  "label": "Tipo de Contrato",
                  "required": false,
                  "type": "radio_horizontal",
                  "options": [
                    "Retainer",
                    "Taxa de Sucesso",
                    "Certificação",
                    "Estruturação",
                    "Especial",
                    "Partner Start",
                    "Partner Pro",
                    "RPO"
                  ]
                },
                {
                  "id": "valor_da_vaga",
                  "label": "Valor do contrato",
                  "required": false,
                  "type": "currency",
                  "options": []
                },
                {
                  "id": "copy_of_garantia",
                  "label": "Forma de pagamento",
                  "required": false,
                  "type": "select",
                  "options": [
                    "Taxa de Abertura + Diferença",
                    "Pagamento 50% entrada + 50% finalização",
                    "Parcelado em 3x",
                    "Parcelado em 6x",
                    "Parcelado em 12x",
                    "Valor Total à Vista - Pix/Débito",
                    "Valor Total à Vista - Cartão de Crédito"
                  ]
                },
                {
                  "id": "garantia",
                  "label": "Garantia",
                  "required": false,
                  "type": "select",
                  "options": [
                    "30 dias",
                    "45 dias",
                    "60 dias",
                    "90 dias",
                    "6 meses",
                    "12 meses"
                  ]
                },
                {
                  "id": "explique_um_pouco_sobre_o_seu_desafio_com_a_gest_o_de_pessoas",
                  "label": "Explique um pouco sobre o seu desafio com a Gestão de Pessoas",
                  "required": false,
                  "type": "long_text",
                  "options": []
                },
                {
                  "id": "outras_observa_es_sobre_a_vaga",
                  "label": "Informações importantes relacionadas a vaga",
                  "required": false,
                  "type": "long_text",
                  "options": []
                },
                {
                  "id": "parceiro",
                  "label": "Parceiro",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "anexo",
                  "label": "Anexo",
                  "required": false,
                  "type": "attachment",
                  "options": []
                },
                {
                  "id": "motivo_de_perda_move_para_perdidos",
                  "label": "MOTIVO DE PERDA (MOVE PARA PERDIDOS)",
                  "required": false,
                  "type": "radio_vertical",
                  "options": [
                    "Ausência de Resposta",
                    "Não Precisa mais da Vaga",
                    "Não Aderiu ao Valor da Proposta",
                    "Recusa por Objeção a Cláusulas Contratuais",
                    "Fora do ICP",
                    "Outros (DEIXAR MOTIVO NOS COMENTÁRIOS)"
                  ]
                },
                {
                  "id": "tags",
                  "label": "tags",
                  "required": false,
                  "type": "label_select",
                  "options": []
                },
                {
                  "id": "c_lula",
                  "label": "Célula",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "funil",
                  "label": "Funil",
                  "required": false,
                  "type": "short_text",
                  "options": []
                },
                {
                  "id": "origem",
                  "label": "Origem",
                  "required": false,
                  "type": "short_text",
                  "options": []
                }
              ]
            }
          }
        }
      }
    ],
    "get_tags_por_pipe": [
      {
        "json": {
          "data": {
            "pipe": {
              "labels": [
                {
                  "id": "307948012",
                  "color": "#FF0000",
                  "name": "QUENTE🔥"
                },
                {
                  "id": "309586372",
                  "color": "#A5EBFE",
                  "name": "FRIO"
                },
                {
                  "id": "309586382",
                  "color": "#FFE886",
                  "name": "MORNO"
                },
                {
                  "id": "309660221",
                  "color": "#009C15",
                  "name": "RECOMPRA"
                },
                {
                  "id": "309824743",
                  "color": "#000000",
                  "name": "NO SHOW"
                },
                {
                  "id": "309841288",
                  "color": "#F13046",
                  "name": "CONTRATO ENVIADO"
                },
                {
                  "id": "309841303",
                  "color": "#32E694",
                  "name": "CONTRATO ASSINADO"
                },
                {
                  "id": "309841309",
                  "color": "#000000",
                  "name": "PENDENTE CONTRATO"
                },
                {
                  "id": "309855370",
                  "color": "#A01D6B",
                  "name": "DIFICULDADE DE CONTATO"
                },
                {
                  "id": "309894347",
                  "color": "#382999",
                  "name": "PAGAMENTO DE ENTRADA"
                },
                {
                  "id": "309962848",
                  "color": "#24B734",
                  "name": "Imersão High Ticket"
                },
                {
                  "id": "310085580",
                  "color": "#F62B90",
                  "name": "CONTATO FUTURO"
                },
                {
                  "id": "310421292",
                  "color": "#DC90E2",
                  "name": "Influência Brazil"
                },
                {
                  "id": "311078625",
                  "color": "#7F5BF9",
                  "name": "PENDENTE DE AGENDAMENTO"
                },
                {
                  "id": "311141379",
                  "color": "#1197AA",
                  "name": "Funil SE"
                },
                {
                  "id": "311211266",
                  "color": "#26BF40",
                  "name": "MQL"
                },
                {
                  "id": "311211267",
                  "color": "#4D400D",
                  "name": "SQL"
                },
                {
                  "id": "311211268",
                  "color": "#5A5564",
                  "name": "Não qualificado"
                },
                {
                  "id": "311261201",
                  "color": "#52488A",
                  "name": "Imersão Escala Sem Fórmula"
                },
                {
                  "id": "311363721",
                  "color": "#5DF34E",
                  "name": "NF EMITIDA"
                },
                {
                  "id": "311378114",
                  "color": "#D0021B",
                  "name": "WEBINÁRIO"
                },
                {
                  "id": "311412362",
                  "color": "#DA4DDB",
                  "name": "MANYCHAT"
                },
                {
                  "id": "311464525",
                  "color": "#4D6C86",
                  "name": "SE - Escala"
                },
                {
                  "id": "311464526",
                  "color": "#DB0BCB",
                  "name": "SE - High Ticket"
                },
                {
                  "id": "311486631",
                  "color": "#009FF8",
                  "name": "PARCERIA HENRIQUE MARINHO"
                },
                {
                  "id": "311486632",
                  "color": "#BD10E0",
                  "name": "PARCERIA CLINT"
                },
                {
                  "id": "311684452",
                  "color": "#9013FE",
                  "name": "NÍVEL 1"
                },
                {
                  "id": "311684453",
                  "color": "#4A90E2",
                  "name": "NÍVEL 2"
                },
                {
                  "id": "311684454",
                  "color": "#50E3C2",
                  "name": "NÍVEL 3"
                },
                {
                  "id": "311684455",
                  "color": "#417505",
                  "name": "NÍVEL 4"
                },
                {
                  "id": "311684457",
                  "color": "#F8E71C",
                  "name": "AVULSA"
                },
                {
                  "id": "311684458",
                  "color": "#F5A623",
                  "name": "COMBOS"
                },
                {
                  "id": "311692735",
                  "color": "#41A252",
                  "name": "Kiwify"
                },
                {
                  "id": "311826736",
                  "color": "#417505",
                  "name": "ENVIAR CONTRATO"
                },
                {
                  "id": "311826749",
                  "color": "#D0021B",
                  "name": "NÃO APROVADO"
                },
                {
                  "id": "311826794",
                  "color": "#E239EF",
                  "name": "ENVIADO PARA APROVAÇÃO"
                },
                {
                  "id": "312067321",
                  "color": "#4A90E2",
                  "name": "GIANTS"
                },
                {
                  "id": "312137744",
                  "color": "#FF0000",
                  "name": "FIRE 2024"
                },
                {
                  "id": "312284889",
                  "color": "#D0021B",
                  "name": "AGUARDANDO PAGAMENTO"
                },
                {
                  "id": "312308327",
                  "color": "#84E46D",
                  "name": "Outbound"
                },
                {
                  "id": "312453826",
                  "color": "#689FC9",
                  "name": "PG META"
                },
                {
                  "id": "312533713",
                  "color": "#417505",
                  "name": "INDICAÇÃO"
                },
                {
                  "id": "312681589",
                  "color": "#C82CBF",
                  "name": "RAY GONÇALVES"
                },
                {
                  "id": "312681590",
                  "color": "#5FE94A",
                  "name": "CHATGURU"
                },
                {
                  "id": "312705386",
                  "color": "#63DD89",
                  "name": "INSTAGRAM KELLY"
                },
                {
                  "id": "312729279",
                  "color": "#64DAAE",
                  "name": "BLOG PORTUS"
                },
                {
                  "id": "312784580",
                  "color": "#2D0196",
                  "name": "MICHA MENEZES"
                },
                {
                  "id": "312784591",
                  "color": "#3BC1EC",
                  "name": "CONTASY"
                },
                {
                  "id": "312784600",
                  "color": "#C3CE01",
                  "name": "VINICIUS AREB"
                },
                {
                  "id": "314498375",
                  "color": "#BB6FFD",
                  "name": "Tráfego pago"
                },
                {
                  "id": "314504491",
                  "color": "#5F357C",
                  "name": "Reconexão"
                },
                {
                  "id": "314529363",
                  "color": "#50E3C2",
                  "name": "Whatsapp SIte"
                },
                {
                  "id": "314529367",
                  "color": "#9B114D",
                  "name": "Whatsapp Site"
                },
                {
                  "id": "314555818",
                  "color": "#F5A623",
                  "name": "RH CONNECTION"
                },
                {
                  "id": "314633274",
                  "color": "#D523CC",
                  "name": "GOOGLE ADS"
                }
              ],
              "name": "Comercial"
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "p3FaRDkYc5EoM9KR"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-14T13:33:33.882Z",
      "updatedAt": "2024-03-14T13:33:33.882Z",
      "id": "faI7RrAwjmyqxwGa",
      "name": "[NAG]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-26T14:23:46.666Z",
  "versionId": "7e8a4a41-3e68-4e8d-aea3-54008874c7ae"
}