workflows/[SESSÃO ESTRATÉGICA] APLICAÇÃO | PARTE 3.json
{
  "active": true,
  "connections": {
    "telefone_igual2": {
      "main": [
        [
          {
            "node": "email_preenchido5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido2": {
      "main": [
        [
          {
            "node": "telefone_igual2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual4": {
      "main": [
        [
          {
            "node": "instagram_preenchido9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "instagram_preenchido10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido4": {
      "main": [
        [
          {
            "node": "email_igual7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "instagram_preenchido17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual7": {
      "main": [
        [
          {
            "node": "instagram_preenchido15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "instagram_preenchido16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_sem_email_e_telefone2": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_e_instagram3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido5": {
      "main": [
        [
          {
            "node": "email_igual4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "instagram_preenchido11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido9": {
      "main": [
        [
          {
            "node": "instagram_igual2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_e_instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual2": {
      "main": [
        [
          {
            "node": "atualiza_dados_sem_email_e_telefone2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_e_instagram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_e_instagram1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido10": {
      "main": [
        [
          {
            "node": "instagram_igual10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_e_instagram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual10": {
      "main": [
        [
          {
            "node": "atualiza_dados_email_secundario1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email_e_instagram_secundario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email_secundario1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email_e_instagram_secundario1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_e_instagram2": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido11": {
      "main": [
        [
          {
            "node": "instagram_igual11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_e_instagram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual11": {
      "main": [
        [
          {
            "node": "atualiza_dados_email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email4": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_e_instagram3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido6": {
      "main": [
        [
          {
            "node": "email_igual8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "instagram_preenchido14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual8": {
      "main": [
        [
          {
            "node": "instagram_preenchido12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "instagram_preenchido13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido12": {
      "main": [
        [
          {
            "node": "instagram_igual12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_e_instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual12": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone_e_instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido13": {
      "main": [
        [
          {
            "node": "instagram_igual13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_e_email2_e_instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual13": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone2_e_email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_e_email2_e_instagram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido14": {
      "main": [
        [
          {
            "node": "instagram_igual14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_e_email1_e_instagram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual14": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone2_e_email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_e_email1_e_instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido15": {
      "main": [
        [
          {
            "node": "instagram_igual15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone1_instagram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual15": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone1_instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido16": {
      "main": [
        [
          {
            "node": "instagram_igual16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone1_email2_instagram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual16": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone1_email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone1_email2_instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_preenchido17": {
      "main": [
        [
          {
            "node": "instagram_igual17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone1_email1_instagram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram_igual17": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone1_email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone1_email1_instagram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone_e_instagram": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_e_instagram": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_e_email": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_e_email2_e_instagram3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_e_email2_e_instagram1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_e_email1_e_instagram": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_e_email3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_e_email1_e_instagram3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1_instagram": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1_instagram3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1_email": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1_email2_instagram": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1_email2_instagram3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1_email3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1_email1_instagram3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1_email1_instagram1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_preenchido2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-30T17:16:56.147Z",
  "id": "Aya5OrDKu3shPwnm",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[SESSÃO ESTRATÉGICA] APLICAÇÃO | PARTE 3",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        }
      },
      "id": "7244335e-2d2e-4509-a1e4-ca949e15318f",
      "name": "telefone_igual2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -360,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"telefone_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "bf3bedbd-cfa4-4b5b-9b08-192e8593459d",
      "name": "telefone_preenchido2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -520,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "a32f4558-cb5c-4983-b521-1525e8ee4b9c",
      "name": "email_igual4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "da3067a3-5b40-4ec8-9484-82a5f200ffbe",
      "name": "email_preenchido4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        3500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "1c8ec3ee-1ed8-46f7-9c72-24ad7b910c5b",
      "name": "email_igual7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        20,
        3400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "841a7551-7582-4d1a-9787-a62143f5e09e",
      "name": "atualiza_dados_sem_email_e_telefone2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0a794e3f-f25e-4593-81d4-4bdf3f78b33c",
      "name": "atualiza_dados_e_instagram3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        460,
        640
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "58e541a9-5232-46fb-9105-bfe3f8694b52",
      "name": "atualiza_dados_email3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        380,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "29667cec-3bce-4b7b-97c4-8e208b4fad2f",
      "name": "email_preenchido5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "25097232-5d46-4dbd-8424-62faa67e3f28",
      "name": "instagram_preenchido9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "f497a447-a48c-46c7-8f31-ac903eb7fdd9",
      "name": "instagram_igual2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        280,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0e57f8c2-baa6-4fbf-9ea5-e9f2a26af1d7",
      "name": "atualiza_dados_e_instagram1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        280,
        780
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d760a9ef-f4d8-49bf-b1e7-f21755585bfc",
      "name": "instagram_preenchido10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "a48db693-f7ed-4d53-9230-3cc6b7e08998",
      "name": "instagram_igual10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        920
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b6b0f780-9ed6-4ebf-b4ec-85119d8437d3",
      "name": "atualiza_dados_email_secundario1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        480,
        880
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "93a045e3-d04f-4447-8a56-79a56e1c88d5",
      "name": "atualiza_dados_email_e_instagram_secundario1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        480,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "db3bdb3b-6585-4fbb-83b0-0cc0f9357355",
      "name": "atualiza_dados_email2_e_instagram2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        300,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d6fd011b-3bbb-4f3e-9929-2e58f8792249",
      "name": "instagram_preenchido11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -20,
        1440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "829eef49-4a17-4b1e-a13f-ff987b295735",
      "name": "instagram_igual11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        1360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8041e866-dd00-44a7-9a6e-cb7840bab32d",
      "name": "atualiza_dados_email4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        380,
        1480
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "eead68d1-8cd1-4026-ba2e-d3b20d74d575",
      "name": "atualiza_dados_email2_e_instagram3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        160,
        1680
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "47ffab6e-4f75-4dff-a6cb-67afacaa6bed",
      "name": "email_preenchido6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        2020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "10751fdd-daa2-43d2-83cb-e6ecdd6425c4",
      "name": "email_igual8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        1900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7df13101-6e27-4d40-be4e-1358b1d2cff5",
      "name": "instagram_preenchido12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        1860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "75f58f5f-5852-4d56-8f24-8e6f3c837583",
      "name": "instagram_igual12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        1780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2316b232-b125-4e40-abef-f3c92171a9ea",
      "name": "instagram_preenchido13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        2220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "d062a932-9eec-42b8-94f4-f79f85bb385b",
      "name": "instagram_igual13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        360,
        2140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f0e10538-8189-4050-b8fc-e185e29a8065",
      "name": "instagram_preenchido14",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        2560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "bad95c8f-98dc-4b0a-b79f-b372bab97605",
      "name": "instagram_igual14",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        2480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "baf3e11d-8e97-4a80-a21e-606c88fa7ee2",
      "name": "instagram_preenchido15",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        3300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "07ae4c64-304a-4202-845d-cc5971d8f94b",
      "name": "instagram_igual15",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        360,
        3160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "57668331-4bd9-4ffd-bfb0-5be4cec804d1",
      "name": "instagram_preenchido16",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        3580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "2c155289-37dc-4aec-8f29-52a63aa21ab9",
      "name": "instagram_igual16",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        3540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c16f8a5f-2fea-43b1-8a6a-ae55badeb5e8",
      "name": "instagram_preenchido17",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        4120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram_bd\"] }}",
              "value2": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        }
      },
      "id": "f5383ee5-1746-4468-a5a3-6d01892aad4b",
      "name": "instagram_igual17",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        260,
        4040
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "13842e31-6ddd-4158-9908-24c42aa1a1f5",
      "name": "atualiza_dados_telefone3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        560,
        1660
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8ff392c3-24e6-4a00-b365-d3a1663840a7",
      "name": "atualiza_dados_telefone_e_instagram",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        560,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9a899f6c-d6d8-4e85-9e13-0e4c6f0864aa",
      "name": "atualiza_dados_telefone2_e_instagram",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        380,
        1940
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "735ef141-9e29-414c-9ce6-1d5b942130a0",
      "name": "atualiza_dados_telefone2_e_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        560,
        2060
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "03bc9757-e0ff-4434-8805-2e5380ebb8fc",
      "name": "atualiza_dados_telefone2_e_email2_e_instagram3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        560,
        2240
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "90188cd3-d82b-408c-a1b0-cc693523cff9",
      "name": "atualiza_dados_telefone2_e_email2_e_instagram1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        360,
        2300
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "12906274-602c-4767-9d64-585adf09d522",
      "name": "atualiza_dados_telefone2_e_email1_e_instagram",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        340,
        2660
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e8aa7cbb-d235-4fbd-86d3-63959360d63c",
      "name": "atualiza_dados_telefone2_e_email3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        340,
        2480
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5b73b8b3-6f4a-4f32-860a-2b91a20b7423",
      "name": "atualiza_dados_telefone2_e_email1_e_instagram3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        160,
        2820
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "39968cbb-6e37-425f-b788-7a1d67efe5a8",
      "name": "atualiza_dados_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        560,
        3060
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ec4c4257-dc39-4621-a962-2c638b4ff596",
      "name": "atualiza_dados_telefone1_instagram",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        560,
        3240
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b8c4cbae-a3d3-4f73-ac01-8fcabd467742",
      "name": "atualiza_dados_telefone1_instagram3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        380,
        3340
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "409a6c38-25ca-411a-95f1-9bd0e118a87f",
      "name": "atualiza_dados_telefone1_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        580,
        3440
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6123ca72-28af-4ebb-b109-146caebb9866",
      "name": "atualiza_dados_telefone1_email2_instagram",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        580,
        3640
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d790707a-748e-4c74-aaff-53f81d320974",
      "name": "atualiza_dados_telefone1_email2_instagram3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        380,
        3700
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "730414ec-6e90-4753-a051-4a021aca959b",
      "name": "atualiza_dados_telefone1_email3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        460,
        3920
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "726d09e2-27cd-4fbb-b10c-3dbf27899304",
      "name": "atualiza_dados_telefone1_email1_instagram3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        460,
        4120
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "=telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "011b1a52-c2a9-4da9-8aca-56bcc6998d32",
      "name": "atualiza_dados_telefone1_email1_instagram1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        260,
        4260
      ],
      "credentials": {
        "mySql": {
          "id": "DS41BflHYyPSAI7U",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "54fa82f0-f7f0-4bea-867c-aa9640431cbe",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        1100
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "19521d8c-5aee-4a0d-b69e-63bb6b8836d5",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -520,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "07e33d31-6321-4f97-9bd3-1c827282094b",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -740,
        1100
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "ca6fd253-7c34-4945-966a-2ad25f81d0f4",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1000,
        760
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_ac\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_iddealac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_idleadac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_motivo_de_preenchimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_motivo_de_preenchimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_cargo_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_cargo_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tempo_de_emprego_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tempo_de_emprego_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_o_que_esta_buscando_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_o_que_esta_buscando_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_objetivo2023_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_objetivo2023_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_obstaculo_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_obstaculo_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_motivacao_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_motivacao_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_escolaridade_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_escolaridade_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_salario_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_salario_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_salario_dos_sonhos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_salario_dos_sonhos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_porque_te_escolher_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_te_escolher_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_comprometimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_bot_conversa\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualif",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_desqualif\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desempregados_4a10k",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_desempregados_4a10k\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_empregados_8a10k",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_empregados_8a10k\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_empregados_maior10k",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_empregados_maior10k\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_4a6k",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min_4a6k\"] }}"
            },
            {
              "name": "escolaridade",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"escolaridade\"] }}"
            },
            {
              "name": "url_api_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"url_api_activecampaign\"] }}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "data_1quinzena_atras_formatada",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_1quinzena_atras_formatada\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad238b16-f6e6-4a68-bd4e-a5b93c7eb2aa",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        800,
        760
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-Mvbo4TPwYcEOL98Y7GI_qA",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Não Agendamentos - Sessão - Parte 3"
          },
          "properties": {},
          "content": {
            "verificacao_lead": false,
            "Nome do Cliente": "Mateus Diniz (automagic Bots)",
            "E-mail do Cliente": "mateusdiniz@automagicbots.com.br",
            "Telefone do Cliente - Formato BC": "+556281196678",
            "Telefone do Cliente - Formato Z-API": "556281196678",
            "utm_content": "",
            "utm_source": "",
            "utm_campaign": "",
            "utm_medium": "",
            "utm_term": "",
            "instagram": "prmateusdiniz",
            "id_fluxo_nao_agendou_10_min": "3065086",
            "API-KEY": "46dacadf-10d0-47db-a81d-69263aca1959",
            "pergunta0": "Automagic Bots",
            "pergunta1": "Sim",
            "pergunta2": "Entre 5 e 10M",
            "pergunta3": "10 Milhões",
            "pergunta4": "⁠6 a 15 pessoas",
            "pergunta5": "Prestação de serviços",
            "pergunta6": "SDR",
            "pergunta7": "",
            "parceiro": "Sessão Estratégica",
            "id_pipeline_ac": "",
            "id_stage_preencheu_aplicacao": "",
            "id_campo_utm_source_ac": "",
            "id_campo_utm_campaign_ac": "",
            "id_campo_utm_term_ac": "",
            "id_campo_utm_medium_ac": "",
            "id_campo_utm_content_ac": "",
            "id_campo_utm_fun_ac": "",
            "id_campo_utm_var_ac": "",
            "id_campo_deal_momento_atual": "",
            "id_campo_deal_principal_desafio": "",
            "id_campo_deal_renda_mensal": "",
            "id_campo_deal_instagram": "",
            "id_stage_desqualificado": "",
            "id_pipeline_downsell": "",
            "valor_produto_principal_em_centavos": "",
            "valor_produto_downsell_em_centavos": "",
            "url_api_activecampaign": "",
            "id_campo_deal_oportunidade": "",
            "id_campo_deal_porque_voce": "",
            "id_campo_deal_quando_iniciar": "",
            "id_campo_deal_concorda_com_o_investimento": "",
            "id_campo_deal_estrategias_de_vendas": "",
            "id_campo_deal_conhece_a_mentoria": "",
            "id_campo_deal_tem_socio": "",
            "id_campo_deal_preferencia": "",
            "id_campo_deal_aceita_6_meses": "",
            "id_sdr": "",
            "id_campo_deal_origem": "",
            "id_ending_typeform": "",
            "id_campo_deal_empreende_no_digital": "",
            "id_campo_deal_e_terapeuta": "",
            "id_campo_id_banco_de_dados_bot_conversa": "1776703",
            "id_campo_id_banco_de_dados_ac": "",
            "id_campo_iddealac_bot_conversa": "",
            "id_campo_idleadac_bot_conversa": "",
            "id_campo_utm_source_bot_conversa": "1780336",
            "id_campo_utm_campaign_bot_conversa": "1780335",
            "id_campo_utm_term_bot_conversa": "1780334",
            "id_campo_utm_medium_bot_conversa": "1780337",
            "id_campo_utm_content_bot_conversa": "1780338",
            "id_campo_utm_fun_bot_conversa": "1780345",
            "id_campo_utm_var_bot_conversa": "1780344",
            "id_campo_instagram_bot_conversa": "1776705",
            "funil": "Prestação de serviços",
            "variacao_do_funil": "v1",
            "data_ultima_quinzena": "2024-04-15",
            "id_campo_emailse_bot_conversa": "1780340",
            "id_tag_desqualificado_bot_conversa": "6979786",
            "id_tag_qualificado_bot_conversa": "7005347",
            "data_resposta_type": "30/04/2024 16:38",
            "id_campo_data_resposta_type_bot_conversa": "1789193",
            "qualificacao": "Qualificado",
            "instagram_bd": "prmateusdiniz",
            "telefone_bd": "556281196678",
            "id_lead_bd": 42
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "p3FaRDkYc5EoM9KR"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-05-07T15:48:39.523Z",
  "versionId": "69f50cf6-9c25-4ac8-9fae-070c2e90274d"
}