workflows/[SESSÃO ESTRATÉGICA] APLICAÇÃO | PARTE 4.json
{
  "active": true,
  "connections": {
    "segundo_ou_mais_erro3": {
      "main": [
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_hj_data_lake": {
      "main": [
        [
          {
            "node": "qualificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake1": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia2": {
      "main": [
        [
          {
            "node": "insert_data_data_lake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake3": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia3": {
      "main": [
        [
          {
            "node": "update_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake3": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake1": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_hj_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qualificado": {
      "main": [
        [
          {
            "node": "lead_ja_existia2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake4": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia4": {
      "main": [
        [
          {
            "node": "insert_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake5": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qualificado1": {
      "main": [
        [
          {
            "node": "lead_ja_existia3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake4": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia5": {
      "main": [
        [
          {
            "node": "update_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake5": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead5": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_aplicacao": {
      "main": [
        [
          {
            "node": "insert_data_utm_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_aplicacao": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados1": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "insere_dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead1": {
      "main": [
        [
          {
            "node": "insert_data_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T17:45:33.290Z",
  "id": "dugp1gaG9rKzBiYM",
  "meta": null,
  "name": "[SESSÃO ESTRATÉGICA] APLICAÇÃO | PARTE 4",
  "nodes": [
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "017a950b-b6fc-4f8f-8f96-4dcc2964e634",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        1340
      ],
      "credentials": {
        "rabbitmq": {
          "id": "quc6gfdQpKCDLaHX",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "7296fcfd-4d70-43f0-8937-bbb4a3c9f54b",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        260,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2324b2fc-cc72-427d-92f5-e937b5cf0525",
      "name": "segundo_ou_mais_erro3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        1340
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4295e820-71bd-4818-80d5-2f1e1e17fcdb",
      "name": "insert_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "f049d4fc-eb24-4f41-81ab-50b487e72bc9",
      "name": "nao_encontrou_registro_hj_data_lake",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        1320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes_qualificadas\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "488718a7-9f2c-46d1-9f5c-e6616445c861",
      "name": "update_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1440
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "6568c089-fc58-45b0-8cd4-fc4ac315fc4a",
      "name": "lead_ja_existia2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        840
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f912a25f-d31e-4d14-a615-12617817e98a",
      "name": "insert_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "38c9ec18-e977-4a7e-a542-e38c9d20457d",
      "name": "lead_ja_existia3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        1440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes_qualificadas\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "56f14c2e-1761-4593-9674-e5f9cf44c88c",
      "name": "update_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1620
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "bb4a2b60-cefa-4679-8b23-6c226213cec1",
      "name": "pesquisa_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1360,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}",
              "value2": "ba4bae2f-2cf5-4dbe-ac38-bc38b40e2aab"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "db28a3aa-6e17-44c5-b982-41d180d13ecf",
      "name": "qualificado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1020
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "914c2fbb-94aa-4433-a9d8-afc10cead5e8",
      "name": "insert_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1080
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "75657dc2-8113-457a-b0de-6e4d1a2f763f",
      "name": "lead_ja_existia4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2020,
        1180
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d00fbbf9-3947-41da-a54b-06d30be0e968",
      "name": "insert_data_data_lake5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1260
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}",
              "value2": "ba4bae2f-2cf5-4dbe-ac38-bc38b40e2aab"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "7dd9a6fb-d9dc-48d6-9a5e-6241d8878056",
      "name": "qualificado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes_medias\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "7cb92222-230e-40a5-a905-bb50b434dfb9",
      "name": "update_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2f6ae67f-c452-4c91-aab0-00ef4470cdc2",
      "name": "lead_ja_existia5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes_medias\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f03f8f30-4ea7-41c7-acd8-e9c283d88e71",
      "name": "update_data_data_lake5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        2020
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"insere_dados1\"].runIndex >= 0 ? $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] : $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "968e6901-c60f-41f5-920e-cb734571bc17",
      "name": "update_qualificacao_qualificado",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2640,
        820
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"insere_dados1\"].runIndex >= 0 ? $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] : $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Médio Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9bd3c76c-e3cc-4893-81c4-51a2c6c8cb16",
      "name": "update_qualificacao_qualificado1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2640,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"insere_dados1\"].runIndex >= 0 ? $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] : $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e288329d-5fbe-4e50-97ef-0eb1150d3ad8",
      "name": "update_qualificacao_qualificado2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2640,
        1500
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"insere_dados1\"].runIndex >= 0 ? $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] : $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Médio Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c5f14bcf-0c2e-4a31-8648-70aafc6afc5a",
      "name": "update_qualificacao_qualificado3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2640,
        1920
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        740,
        620
      ],
      "id": "9b1785d6-b108-4a1f-8036-bf4577f9549a"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs das Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 527.2145142349068
      },
      "id": "048977aa-479e-4e29-9ad1-45ef5d62c208",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada"
            }
          ]
        },
        "options": {}
      },
      "id": "c4364492-dcfc-458c-b73d-ab7966d7fea7",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "2f7f4ed1-8391-4448-9d8d-a206e7152091",
      "name": "pesquisa_lead5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        300,
        1340
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes",
          "mode": "list",
          "cachedResultName": "aplicacoes"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados1\"].runIndex >= 0 ? $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] : $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}"
            },
            {
              "column": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "column": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "column": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "column": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "column": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "column": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "column": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "column": "data_aplicacao",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "column": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "column": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "column": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9f97feb5-5bb7-47d7-b4e0-2338a46e2f01",
      "name": "insert_data_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        980,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes_2_utms",
          "mode": "list",
          "cachedResultName": "aplicacoes_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_aplicacao",
              "value": "={{ $node[\"insert_data_aplicacao\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "6c4d7963-fa9f-4432-bdba-493d5d4f10ba",
      "name": "insert_data_utm_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1160,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fed4b5ce-bc05-4bd3-9c2f-3c78c8770a8c",
              "leftValue": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd9498be-e4f9-4700-8dd0-665cca4bf982",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1340
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "6dcc1386-190b-4252-8566-c2318496fa2c",
      "name": "insert_data_utm_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        840,
        1140
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "webnar",
          "mode": "list",
          "cachedResultName": "webnar"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data_de_entrada",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"id_lead_activecampaign\"] }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2b0f40e8-52f8-4c56-8243-3d62271adca8",
      "name": "insere_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        680,
        1140
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "errorWorkflow": "B5ErT6ObkzMJxzKU"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-04T20:38:05.171Z",
  "versionId": "68518b99-0d23-4bf1-a284-56d85e8b36af"
}