workflows/[SESSÃO MANYCHAT] APLICAÇÃO | PARTE 2.json
{
  "active": true,
  "connections": {
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dados_pipefy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_pipefy": {
      "main": [
        [
          {
            "node": "cria_tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_cards_via_email": {
      "main": [
        [
          {
            "node": "existe_no_pipe_comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_no_pipe_comercial": {
      "main": [
        [
          {
            "node": "nao_e_ganho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cc1": {
      "main": [
        [
          {
            "node": "get_cards_via_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "up>1fld1": {
      "main": [
        [
          {
            "node": "move_to_other_level_first_contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_checkbox": {
      "main": [
        [
          {
            "node": "add_tag3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criarContato": {
      "main": [
        [
          {
            "node": "addLista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addLista": {
      "main": [
        [
          {
            "node": "addAutomacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move_to_other_level_first_contact1": {
      "main": [
        [
          {
            "node": "update_checkbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "addAutomacao": {
      "main": [
        [
          {
            "node": "WPP Portus X SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "card": {
      "main": [
        [
          {
            "node": "up>1fld1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_cards_via_email1": {
      "main": [
        [
          {
            "node": "update_checkbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WPP Portus X SDR": {
      "main": [
        [
          {
            "node": "WPP SDR X Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag3": {
      "main": [
        [
          {
            "node": "criarContato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "insere_dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create/update_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead3": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead1": {
      "main": [
        [
          {
            "node": "create/update_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados1": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_existe": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe4": {
      "main": [
        [
          {
            "node": "insere_dados3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create/update_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead3": {
      "main": [
        [
          {
            "node": "create/update_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados3": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "nao_existe4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WPP SDR X Cliente": {
      "main": [
        [
          {
            "node": "email_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados7": {
      "main": [
        [
          {
            "node": "entra_na_fila6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados8": {
      "main": [
        [
          {
            "node": "entra_na_fila6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados9": {
      "main": [
        [
          {
            "node": "entra_na_fila7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados10": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_tabela_no_database": {
      "main": [
        [
          {
            "node": "existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe": {
      "main": [
        [
          {
            "node": "update_nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_nome": {
      "main": [
        [
          {
            "node": "update_data_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_instagram": {
      "main": [
        [
          {
            "node": "update_nome_empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_entrada": {
      "main": [
        [
          {
            "node": "update_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_telefone": {
      "main": [
        [
          {
            "node": "update_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_email": {
      "main": [
        [
          {
            "node": "update_instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_nome_empresa": {
      "main": [
        [
          {
            "node": "servico_validado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "servico_validado": {
      "main": [
        [
          {
            "node": "update_faturamento_2023",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_faturamento_2023": {
      "main": [
        [
          {
            "node": "update_faturamento_2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_faturamento_2024": {
      "main": [
        [
          {
            "node": "update_quantas_pessoas_na_equipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_quantas_pessoas_na_equipe": {
      "main": [
        [
          {
            "node": "update_modelo_negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_modelo_negocio": {
      "main": [
        [
          {
            "node": "update_profissional_procurado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_profissional_procurado": {
      "main": [
        [
          {
            "node": "update_parceiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_parceiro": {
      "main": [
        [
          {
            "node": "update_celula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_celula": {
      "main": [
        [
          {
            "node": "update_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_funil": {
      "main": [
        [
          {
            "node": "update_origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_tabela": {
      "main": [
        [
          {
            "node": "id_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_title_table": {
      "main": [
        [
          {
            "node": "get_cards_via_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_db": {
      "main": [
        [
          {
            "node": "update_title_table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_e_ganho": {
      "main": [
        [
          {
            "node": "cc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_lead": {
      "main": [
        [
          {
            "node": "create/update_deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_lead1": {
      "main": [
        [
          {
            "node": "create/update_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_lead2": {
      "main": [
        [
          {
            "node": "create/update_deal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_lead3": {
      "main": [
        [
          {
            "node": "create/update_deal3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_deal1": {
      "main": [
        [
          {
            "node": "dados7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_deal": {
      "main": [
        [
          {
            "node": "dados8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_deal2": {
      "main": [
        [
          {
            "node": "dados9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create/update_deal3": {
      "main": [
        [
          {
            "node": "dados10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T17:45:33.580Z",
  "id": "6gyIylwTa5CdHVjk",
  "meta": null,
  "name": "[SESSÃO MANYCHAT] APLICAÇÃO | PARTE 2",
  "nodes": [
    {
      "parameters": {
        "queue": "p2 - manychat",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "07fa5813-98f9-44da-88d4-85414eeb761f",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -4080,
        620
      ],
      "credentials": {
        "rabbitmq": {
          "id": "quc6gfdQpKCDLaHX",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "7701c0c5-ab19-486a-92e9-c5d7e154bd46",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3660,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fcaf2c7b-b8b3-44cd-a7dd-42576ee5743a",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3880,
        620
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{$node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[1] ? $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ').slice(1).join(\" \") : \".\"}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json.content[\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -3280,
        80
      ],
      "id": "de2c229e-ecf5-4082-9071-1b68af1970ad",
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "id_pipe_comercial",
              "stringValue": "302838347"
            },
            {
              "name": "id_fase_pre_qualificados"
            },
            {
              "name": "id_fase_pre_desqualificados"
            },
            {
              "name": "id_database_aplicacoes",
              "stringValue": "304286560"
            },
            {
              "name": "id_tag_manychat",
              "stringValue": "311412362"
            }
          ]
        },
        "options": {}
      },
      "id": "c60463e5-1945-4120-8bf3-89756b08ebce",
      "name": "dados_pipefy",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -3660,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query {\n  findCards(pipeId: {{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}, search: {fieldId: \"email\", fieldValue: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}) {\n    edges {\n      node {\n        fields {\n          date_value\n          datetime_value\n          filled_at\n          float_value\n          indexName\n          name\n          native_value\n          report_value\n          updated_at\n          value\n        }\n        title\n        done\n        id\n        updated_at\n        assignees {\n          name\n          email\n        }\n        attachments {\n          url\n          path\n        }\n        current_phase {\n          name\n        }\n        pipe {\n          name\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "186604e5-703b-47b7-ad9c-2e904dd788cc",
      "name": "get_cards_via_email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2940,
        680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fad7c009-7961-477a-a86c-0e7be8094a0c",
              "leftValue": "={{ $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"fields\"][\"0\"][\"filled_at\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4aa0ae54-dbd0-4568-a4dd-f37bd0301806",
      "name": "existe_no_pipe_comercial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2740,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateFieldsValues(input: {\n    nodeId: {{ $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] }},\n    values: [\n      {fieldId: \"nome_do_lead\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"},\n      {fieldId: \"email\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"},\n      {fieldId: \"whatsapp_do_lead\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\"},\n      {fieldId: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"},\n      {fieldId: \"empresa\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}\"},\n      {fieldId: \"voc_s_j_t_m_um_produto_servi_o_validado\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"},\n      {fieldId: \"faturamento_mensal\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"},\n      {fieldId: \"qual_a_meta_de_faturamento_anual_para_2024\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}\"},\n      {fieldId: \"quantas_pessoas_trabalham_na_sua_empresa\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}\"},\n      {fieldId: \"qual_o_seu_modelo_de_neg_cio_aqui_no_digital\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}\"},\n      {fieldId: \"qual_profissional_voc_est_procurando\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}\"},\n      {fieldId: \"parceiro\", value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}\"},\n      {fieldId: \"id_do_lead_no_database_de_aplica_es\", value: \"{{ $node[\"id_db\"].json[\"id_do_lead_database\"] }}\"},\n      {fieldId: \"respons_vel\", value: \"303175486\"}\n   ]\n }) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c426c7ff-394f-4eed-9200-5aa43d9da49f",
      "name": "up>1fld1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2040,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createCard(input: {\n    pipe_id: {{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}\n    title: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"\n    assignee_ids: [303175486]\n    fields_attributes: [\n      {field_id: \"nome_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"},\n      {field_id: \"email\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"},\n      {field_id: \"whatsapp_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\"},\n      {field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"},\n      {field_id: \"empresa\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}\"},\n      {field_id: \"voc_s_j_t_m_um_produto_servi_o_validado\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"},\n      {field_id: \"faturamento_mensal\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"},\n      {field_id: \"qual_a_meta_de_faturamento_anual_para_2024\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}\"},\n      {field_id: \"quantas_pessoas_trabalham_na_sua_empresa\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}\"},\n      {field_id: \"qual_o_seu_modelo_de_neg_cio_aqui_no_digital\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}\"},\n      {field_id: \"qual_profissional_voc_est_procurando\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}\"},\n      {field_id: \"parceiro\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}\"},\n      {field_id: \"funil\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\"},\n      {field_id: \"c_lula\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}\"},\n      {field_id: \"origem\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}\"},\n      {field_id: \"id_do_lead_no_database_de_aplica_es\", field_value: \"{{ $node[\"id_db\"].json[\"id_do_lead_database\"] }}\"},\n      {field_id: \"respons_vel\", field_value: \"303175486\"}\n    ]\n  }) {\n    clientMutationId\n    card {\n      pipe {\n        id\n      }\n      assignees {\n        id\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "5f18b495-6693-4646-903b-df44190ac121",
      "name": "cc1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2220,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  me { \n     id \t\n     name\n \t username\n   \t email \t\n     avatarUrl \t\n     created_at \t\n     locale \t\n     timeZone       \n   } \n}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3e69145-58dc-418f-869b-bc8339dd2dd6",
      "name": "get_me",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3640,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  allCards(pipeId:302838347){\n    edges{\n      node{ \n        id\n        title\n \t    age     \n     } \n   }\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "ee9ab002-5c95-4e4f-aef9-a51255ff54d1",
      "name": "get_cards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3460,
        -280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  pipe(id:302838347){\n    phases{ \n        id\n        name\n   }\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "33a9a25c-96b4-4ec0-bcb5-e0c540c2ea38",
      "name": "get_etapas_de_um_pipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3280,
        -280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  phase(id:319617945){\n    cards{ \n      edges{\n        node{\n           age\n           id\n           title\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "20374015-ee02-481f-8ea5-58e6380a2d35",
      "name": "get_cards_de_uma_etapas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3280,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n card(id:892569027){\n    title\n    id\n    uuid\n    updated_at} }"
            }
          ]
        },
        "options": {}
      },
      "id": "af90a754-22f9-4458-af38-de30f847589f",
      "name": "get_cards_via_id_unico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3460,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query{\n   pipe(id:302838347){\n   start_form_fields{\n     id\n     label\n     required\n     type\n     options\n}} }"
            }
          ]
        },
        "options": {}
      },
      "id": "fe691ba9-d224-4196-9485-ba066af94f94",
      "name": "get_id_fields_por_card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3640,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n   createCard(input:{\n     pipe_id:303850985\n     fields_attributes:[\n       {field_id:\"nome_completo_aluno_a\", field_value:\"TesAPI\"}\n       {field_id:\"e_mail_do_aluno_a\", field_value:\"testeapi@teste.com\"}\n       {field_id:\"n_mero_de_telefone_aluno_a\", field_value:\"+5571992594557\"}\n]\n}) {\n  clientMutationId\n }\n} \n"
            }
          ]
        },
        "options": {}
      },
      "id": "64d8f4cb-3904-40c0-8d71-28fdd5256ac9",
      "name": "cc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3100,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  updateCardField(input:{\n      card_id: 865577734\n      field_id:\"nome_completo_aluno_a\"\n      new_value:\"Teste4\"\n}){\n clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "fc4e5c9e-faf0-4d0d-846c-7a1d2129ca21",
      "name": "up1f",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3100,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateFieldsValues(input: {\n    nodeId: 865577734,\n    values: [\n      {fieldId: \"nome_completo_aluno_a\", value: \"Teste2\"},\n      {fieldId: \"e_mail_do_aluno_a\", value: \"email2@gmail.com\"},\n      {fieldId: \"n_mero_de_telefone_aluno_a\", value: \"+557192594557\"}\n   ]\n }) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "f441d776-e2e3-42a2-a5c6-ea19bc35f4b8",
      "name": "up>1fld",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2920,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  deleteCard(input: {\n    id: 865577734\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8eb6997-2602-4c37-a588-7451c19fa079",
      "name": "del_crd",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2920,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createPhaseField(input: {\n    phase_id: IDDAFASEAQUIOUETAPA\n    label:\"Campo Teste\"\n    type:\"time\"\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "efb27384-1ff6-4835-9448-fcf866c53ddd",
      "name": "criar_field_numa_etapa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2740,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  moveCardToPhase(input: {\n    card_id: 873468816\n    destination_phase_id: 323802688\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "c55e461a-2d2e-471b-a1b3-3c7e509b1d39",
      "name": "move_to_other_level",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2740,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query{\n  pipe(id:302838347){\n    labels {\n      id\n      color\n      name\n    }\n    name\n    }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2a8b1a7-6e46-4f02-84ef-8da09abcc149",
      "name": "get_tags_por_pipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3700,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  UpdateCardInput(input: { card_id: 871568196, labelIds: [\"Evento Cancelado\"] }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "62704fe3-586f-413e-b6bb-b7a8abbac9df",
      "name": "add_tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3520,
        -460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createPhaseField(input: {\n    phase_id: IDDAFASEAQUIOUETAPA\n    label:\"Campo Teste\"\n    type:\"time\"\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "59be7b81-1041-429a-98d9-cbbd7a083580",
      "name": "criar_field_numa_etapa1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3340,
        -460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc0MDE0MzYsImp0aSI6IjhlNGMwOGYwLTg0MjUtNGM4NC05M2E0LTY5MTY0NDU0OTA5ZiIsInN1YiI6MzAyMTg2NzIwLCJ1c2VyIjp7ImlkIjozMDIxODY3MjAsImVtYWlsIjoiYXRlbmRpbWVudG9AcGF1bG9sYWNlcmRhLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjAxMDksInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.lBYXcbW1DX8Szp2dpqqcOJ7Y8foVCvsexHwNF1zpAiuawCBnyO0VD8BvtE9svxY2us4_GTYwZL8uMQStKjtizA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\na1: updateCardField(input:{ card_id: 871568196 field_id: \"310583340\"}) \n }"
            }
          ]
        },
        "options": {}
      },
      "id": "93bd97a8-95ff-47f1-a4eb-2be74acd01ea",
      "name": "cc2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3140,
        -460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query {\n  findCards(pipeId: {{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}, search: {fieldId: \"email\", fieldValue: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}) {\n    edges {\n      node {\n        fields {\n          date_value\n          datetime_value\n          filled_at\n          float_value\n          indexName\n          name\n          native_value\n          report_value\n          updated_at\n          value\n        }\n        title\n        done\n        id\n        updated_at\n        assignees {\n          name\n          email\n        }\n        attachments {\n          url\n          path\n        }\n        current_phase {\n          name\n        }\n        pipe {\n          name\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "8ccb7375-72a3-4963-afb2-2d63510b6e87",
      "name": "get_cards_via_email1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2040,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateCardField(input: {card_id: {{ $node[\"up>1fld1\"].runIndex >= 0 ? $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : ($node[\"cc1\"].runIndex >= 0 ? $node[\"get_cards_via_email1\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : '') }}, field_id: \"j_conhece_a_port_s_digital\", new_value: [\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"].toLowerCase().includes('não'.toLowerCase()) ? ('Não') : $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"].toLowerCase().includes('sim','yes','yeah') ? ('Sim') : ''}}\"]}) {\n    card {\n      title\n    }\n  }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "b67c5947-3eb7-415d-8365-29bb35dee8c4",
      "name": "update_checkbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1620,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  card (id: 884459980) {\n    assignees {\n      id\n      name\n    }\n\n  }\n\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a341dd6-a3a3-4d27-b341-fa23a97d7fab",
      "name": "get_id_user",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2960,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n   createCard(input:{\n     pipe_id:{{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}\n     fields_attributes:[\n       {field_id: \"nome_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"}\n      {field_id: \"email\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}\n      {field_id: \"whatsapp_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"]}}\"}\n      {field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"}\n      {field_id: \"quantas_pessoas_tem_no_time_atual\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"}\n      {field_id: \"cargo_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"}\n      {field_id: \"qual_profissional_voc_est_procurando\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}\"}\n      {field_id: \"assignee\", field_value: \"leticia@portusdigital.com.br\"}\n]\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "3dce764c-f56e-4982-b6b1-f47118c239d1",
      "name": "cc3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3840,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "[PIPEFY] - PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n   createCard(input:{\n     pipe_id:{{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}\n     fields_attributes:[\n       {field_id: \"nome_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"}\n      {field_id: \"email\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}\n      {field_id: \"whatsapp_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"]}}\"}\n      {field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\"}\n      {field_id: \"quantas_pessoas_tem_no_time_atual\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\"}\n      {field_id: \"cargo_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\"}\n      {field_id: \"qual_profissional_voc_est_procurando\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}\"}\n      {field_id: \"assignee\", field_value: \"leticia@portusdigital.com.br\"}\n]\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "fc22a2f9-6338-4d41-9e5b-56bdebd339cc",
      "name": "cc4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3640,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "[PIPEFY] - PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateCardField(input: {card_id: {{ $node[\"up>1fld1\"].runIndex >= 0 ? $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : ($node[\"cc1\"].runIndex >= 0 ? $node[\"get_cards_via_email1\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : '') }}, field_id: \"j_conhece_a_port_s_digital\", new_value: [\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"].toLowerCase().includes('não'.toLowerCase()) ? ('Não') : $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"].toLowerCase().includes('sim','yes','yeah') ? ('Sim') : ''}}\"]}) {\n    card {\n      title\n    }\n  }\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "2a40b259-eade-45d3-8424-abc0eba7ae57",
      "name": "update_checkbox1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3860,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 2,
        "contactId": "={{ $node[\"criarContato\"].json[\"id\"] }}"
      },
      "id": "ae284890-d39e-427c-9a87-47d70536ee53",
      "name": "addLista",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1100,
        600
      ],
      "credentials": {
        "activeCampaignApi": {
          "name": "[ORTUS] - PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "250a50cf-2ab1-4e2f-b2ca-4e46042f400f",
      "name": "criarContato",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1280,
        600
      ],
      "credentials": {
        "activeCampaignApi": {
          "name": "[ORTUS] - PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portusdigital2.api-us1.com/api/3/contactAutomations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactAutomation.contact",
              "value": "={{ $node[\"criarContato\"].json[\"id\"] }}"
            },
            {
              "name": "contactAutomation.automation",
              "value": "={{ 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ea032438-39f1-4d1f-b752-6f4e23da7192",
      "name": "addAutomacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -920,
        600
      ],
      "credentials": {
        "activeCampaignApi": {
          "name": "[ORTUS] - PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  pipe(id: 302838347){\n    phases{\n      name\n      fields{\n        id\n        label\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "86cdaa56-29c4-4046-a6f1-4a39b19659af",
      "name": "get_id_fields_por_card1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3840,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query{\n   pipe(id:302838347){\n   start_form_fields{\n     id\n     label\n     required\n     type\n     options\n}} }"
            }
          ]
        },
        "options": {}
      },
      "id": "bb6e5bbe-bf78-4af9-a68a-bc6e57cbc329",
      "name": "get_id_fields_por_card2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3840,
        -280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query {\n  findCards(pipeId: {{ $node[\"dados_pipefy\"].json[\"id_pipe_comercial\"] }}, search: {fieldId: \"email\", fieldValue: \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}) {\n    edges {\n      node {\n        fields {\n          date_value\n          datetime_value\n          filled_at\n          float_value\n          indexName\n          name\n          native_value\n          report_value\n          updated_at\n          value\n        }\n        title\n        done\n        id\n        updated_at\n        assignees {\n          name\n          email\n        }\n        attachments {\n          url\n          path\n        }\n        current_phase {\n          name\n        }\n        pipe {\n          name\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "8dc150ae-8e43-4421-a2d9-d528dd53c0c8",
      "name": "get_cards_via_email2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3460,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "[PIPEFY] - PORTUS"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  moveCardToPhase(input: {\n    card_id: {{ $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] }}\n    destination_phase_id: 321485752\n}) {\n  clientMutationId\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab3e1955-951d-4e06-999f-81d28fb37527",
      "name": "move_to_other_level_first_contact1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1860,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/portus-notificacao",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=xxus6gpgn1fr37j4epdglp"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5516974073113"
            },
            {
              "name": "textMessage.text",
              "value": "=APLICAÇÃO PREENCHIDA\n\nNome: {{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\nE-mail: {{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\nTelefone: {{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\nLink WhatsApp: https://wa.me/{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\nLink Pipefy: https://app.pipefy.com/open-cards/{{ $node[\"card\"].runIndex >= 0 ? $node[\"card\"].json[\"id_deal\"] : $node[\"get_cards_via_email1\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ Number(1200) }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ $json[\"linkPreview\"] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "066795be-308b-4545-9f74-8e6cc501191f",
      "name": "WPP Portus X SDR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -720,
        600
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5403ed8f-ccf2-4241-a363-c13e761c74e1",
              "name": "id_deal",
              "value": "={{ $json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "29015fb6-ff86-46e0-bbb5-d5d7e716a7f1",
      "name": "card",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2220,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.automagicbots.com.br/message/sendText/portus-sdr01",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=r34lvhl8gjh7sy7df37v0y"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Olá, {{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}.\n\nRecebemos a sua aplicação para a reunião com nosso estrategista de times e estamos analisando as suas respostas.\n\nLogo alguém da nossa equipe entrará em contato para agendar a análise do seu negócio com o estrategista. Fique de olho nesse número para não perder a sua vez.\n\nEquipe Portüs 💚"
            },
            {
              "name": "options.delay",
              "value": "={{ Number(1200) }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ $json[\"linkPreview\"] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a1816e0e-18f2-468d-800e-75e1dff14451",
      "name": "WPP SDR X Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -520,
        600
      ],
      "typeVersion": 4,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateCardField(input: {\n    card_id: {{ $node[\"up>1fld1\"].runIndex >= 0 ? $node[\"get_cards_via_email\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : ($node[\"cc1\"].runIndex >= 0 ? $node[\"get_cards_via_email1\"].json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"id\"] : '') }}\n    field_id: \"tags\"\n    new_value: {{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"].replace('Sessão Estratégica','311141379').replace('Manychat','311412362') }}\n  }) {\n    clientMutationId\n    success\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "46e86e8c-5f91-41d6-affa-d1a04a40bf06",
      "name": "add_tag3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead3\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "10da19f1-2bfe-4ede-9bab-1361d21c5d70",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        580
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '-----------------------'}}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------'}}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '-----------------------'}}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"]|| '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "a7e9cfcb-84b4-4309-9b75-eb8b92135e58",
      "name": "pesquisa_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -100,
        580
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "0cfe9c6a-e2fe-4f06-b461-757e70fb99df",
      "name": "insert_data_utm_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        920,
        560
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"criarContato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "fbfd4bd0-523b-4ba1-989b-a90aa7ebd065",
      "name": "insere_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        760,
        560
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "7593a3f2-6ad0-49d0-9f79-f278e89cad15",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1680,
        560
      ],
      "credentials": {
        "rabbitmq": {
          "id": "quc6gfdQpKCDLaHX",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "bb04c3b8-dd48-4b1e-bc2c-64043b77cc8c",
      "name": "email_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -300,
        600
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '-----------------------'}}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || '-----------------------'}}"
            },
            {
              "column": "instagram2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] || '-----------------------'}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "6715683d-a66e-4b15-a658-46dadcded36d",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -100,
        820
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8f3a7f45-bbf1-486c-920a-8ccab78a286c",
      "name": "nao_existe4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        820
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "73049a61-2cb3-4fea-b3ca-58986a162c86",
      "name": "insert_data_utm_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        920,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"criarContato\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6db1618f-644e-4936-9b31-b4d6681e54e9",
      "name": "insere_dados3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        760,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "hjxCwlzjBFkdT0gG",
          "name": "[MySQL] - Portus"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "7c52b58a-938b-4cac-b2f7-a2876c35de27",
      "name": "entra_na_fila7",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1680,
        740
      ],
      "credentials": {
        "rabbitmq": {
          "id": "quc6gfdQpKCDLaHX",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "723e3997-0e91-4a30-bc31-aed4542ff4ce",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        100,
        580
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "7e1397d0-4d3f-48f6-8b79-877e2e7b7e99",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        100,
        820
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "99c50519-07d0-4ab1-a41e-a41058fca081",
      "name": "entra_na_fila6",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1360,
        1020
      ],
      "credentials": {
        "rabbitmq": {
          "id": "quc6gfdQpKCDLaHX",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "id_pipeline_ac"
            },
            {
              "name": "id_stage_preencheu_aplicacao"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_campo_deal_momento_atual"
            },
            {
              "name": "id_campo_deal_principal_desafio"
            },
            {
              "name": "id_campo_deal_renda_mensal"
            },
            {
              "name": "id_campo_deal_instagram"
            },
            {
              "name": "id_stage_desqualificado"
            },
            {
              "name": "id_pipeline_downsell"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_deal_oportunidade"
            },
            {
              "name": "id_campo_deal_porque_voce"
            },
            {
              "name": "id_campo_deal_quando_iniciar"
            },
            {
              "name": "id_campo_deal_concorda_com_o_investimento"
            },
            {
              "name": "id_campo_deal_estrategias_de_vendas"
            },
            {
              "name": "id_campo_deal_conhece_a_mentoria"
            },
            {
              "name": "id_campo_deal_tem_socio"
            },
            {
              "name": "id_campo_deal_preferencia"
            },
            {
              "name": "id_campo_deal_aceita_6_meses"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_deal_origem"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_deal_empreende_no_digital"
            },
            {
              "name": "id_campo_deal_e_terapeuta"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_a_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_conhece_a_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_margem_lucro_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_margem_lucro_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_faturamento_medio_ultimo_semestre_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_medio_ultimo_semestre_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_nivel_experiencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_nivel_experiencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_operacoes_ativas_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_operacoes_ativas_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_renda_mensal_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_renda_mensal_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_investimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_principais_objetivos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_principais_objetivos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "instagram_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"instagram\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"telefone\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"]}}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"]}}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"]}}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "1aadab50-f626-461f-93b0-66aa9b2af53f",
      "name": "dados7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1140,
        1120
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "id_pipeline_ac"
            },
            {
              "name": "id_stage_preencheu_aplicacao"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_campo_deal_momento_atual"
            },
            {
              "name": "id_campo_deal_principal_desafio"
            },
            {
              "name": "id_campo_deal_renda_mensal"
            },
            {
              "name": "id_campo_deal_instagram"
            },
            {
              "name": "id_stage_desqualificado"
            },
            {
              "name": "id_pipeline_downsell"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_deal_oportunidade"
            },
            {
              "name": "id_campo_deal_porque_voce"
            },
            {
              "name": "id_campo_deal_quando_iniciar"
            },
            {
              "name": "id_campo_deal_concorda_com_o_investimento"
            },
            {
              "name": "id_campo_deal_estrategias_de_vendas"
            },
            {
              "name": "id_campo_deal_conhece_a_mentoria"
            },
            {
              "name": "id_campo_deal_tem_socio"
            },
            {
              "name": "id_campo_deal_preferencia"
            },
            {
              "name": "id_campo_deal_aceita_6_meses"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_deal_origem"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_deal_empreende_no_digital"
            },
            {
              "name": "id_campo_deal_e_terapeuta"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_a_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_conhece_a_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_margem_lucro_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_margem_lucro_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_faturamento_medio_ultimo_semestre_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_medio_ultimo_semestre_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_nivel_experiencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_nivel_experiencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_operacoes_ativas_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_operacoes_ativas_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_renda_mensal_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_renda_mensal_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_investimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_principais_objetivos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_principais_objetivos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "instagram_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"instagram\"] }}"
            },
            {
              "name": "telefone_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"telefone\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"]}}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"]}}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"]}}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead"
            }
          ]
        },
        "options": {}
      },
      "id": "1c685644-7e31-4a4f-b429-3ad782ddaafd",
      "name": "dados8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1140,
        940
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "id_pipeline_ac"
            },
            {
              "name": "id_stage_preencheu_aplicacao"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_campo_deal_momento_atual"
            },
            {
              "name": "id_campo_deal_principal_desafio"
            },
            {
              "name": "id_campo_deal_renda_mensal"
            },
            {
              "name": "id_campo_deal_instagram"
            },
            {
              "name": "id_stage_desqualificado"
            },
            {
              "name": "id_pipeline_downsell"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_deal_oportunidade"
            },
            {
              "name": "id_campo_deal_porque_voce"
            },
            {
              "name": "id_campo_deal_quando_iniciar"
            },
            {
              "name": "id_campo_deal_concorda_com_o_investimento"
            },
            {
              "name": "id_campo_deal_estrategias_de_vendas"
            },
            {
              "name": "id_campo_deal_conhece_a_mentoria"
            },
            {
              "name": "id_campo_deal_tem_socio"
            },
            {
              "name": "id_campo_deal_preferencia"
            },
            {
              "name": "id_campo_deal_aceita_6_meses"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_deal_origem"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_deal_empreende_no_digital"
            },
            {
              "name": "id_campo_deal_e_terapeuta"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_a_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_conhece_a_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_margem_lucro_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_margem_lucro_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_faturamento_medio_ultimo_semestre_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_medio_ultimo_semestre_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_nivel_experiencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_nivel_experiencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_operacoes_ativas_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_operacoes_ativas_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_renda_mensal_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_renda_mensal_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_investimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_principais_objetivos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_principais_objetivos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"]}}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"]}}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e627a72-232d-40ac-bd82-d27f3a0aa26a",
      "name": "dados9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1500,
        740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_campo_deal_momento_atual"
            },
            {
              "name": "id_campo_deal_principal_desafio"
            },
            {
              "name": "id_campo_deal_renda_mensal"
            },
            {
              "name": "id_campo_deal_instagram"
            },
            {
              "name": "id_stage_desqualificado"
            },
            {
              "name": "id_pipeline_downsell"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_deal_oportunidade"
            },
            {
              "name": "id_campo_deal_porque_voce"
            },
            {
              "name": "id_campo_deal_quando_iniciar"
            },
            {
              "name": "id_campo_deal_concorda_com_o_investimento"
            },
            {
              "name": "id_campo_deal_estrategias_de_vendas"
            },
            {
              "name": "id_campo_deal_conhece_a_mentoria"
            },
            {
              "name": "id_campo_deal_tem_socio"
            },
            {
              "name": "id_campo_deal_preferencia"
            },
            {
              "name": "id_campo_deal_aceita_6_meses"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_deal_origem"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_deal_empreende_no_digital"
            },
            {
              "name": "id_campo_deal_e_terapeuta"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_conhece_a_mentoria_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_conhece_a_mentoria_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_margem_lucro_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_margem_lucro_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_faturamento_medio_ultimo_semestre_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_medio_ultimo_semestre_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_nivel_experiencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_nivel_experiencia_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_operacoes_ativas_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_operacoes_ativas_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_renda_mensal_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_renda_mensal_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_investimento_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_principais_objetivos_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_principais_objetivos_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_tem_socio_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_tem_socio_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_preferencia_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_preferencia_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"success\"] }}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"]}}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"]}}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "517316ab-18d9-410f-9838-667f39ed66c9",
      "name": "dados10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1500,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createTableRecord(\n    input: {\n      table_id: \"{{ $node[\"dados_pipefy\"].json[\"id_database_aplicacoes\"] }}\"\n      title: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n      fields_attributes: [\n        { field_id: \"nome_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\" },\n        { field_id: \"data_da_aplica_o\", field_value: \"{{$now.toFormat('dd/MM/yyyy HH:mm')}}\" },\n        { field_id: \"telefone_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\" },\n        { field_id: \"e_mail\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\" },\n        { field_id: \"instagram\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\" },\n        { field_id: \"cargo_do_lead\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}\" },\n        { field_id: \"quantas_pessoas_trabalham_na_sua_empresa\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\" },\n        { field_id: \"qual_o_seu_modelo_de_neg_cio_aqui_no_digital\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\" },\n        { field_id: \"nome_da_empresa\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}\" },\n        { field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}\" },\n        { field_id: \"qual_o_seu_modelo_de_neg_cio_aqui_no_digital_1\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}\" },\n        { field_id: \"qual_profissional_voc_est_procurando_se_ainda_n_o_tem_certeza_descreva_a_fun_o_que_precisa_ser_realizada\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}\" },\n        { field_id: \"parceiro\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}\" },\n        { field_id: \"c_lula\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}\" },\n        { field_id: \"funil\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\" },\n        { field_id: \"origem\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}\" },\n        { field_id: \"utm_source\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}\" },\n        { field_id: \"utm_content\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}\" },\n        { field_id: \"utm_term\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}\" },\n        { field_id: \"utm_medium\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}\" },\n        { field_id: \"utm_campaign\", field_value: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}\" }\n      ]\n    }\n  ) {\n    table_record {\n      id\n      title\n      due_date\n      record_fields {\n        name\n        value\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e6f1f6f-0b41-4951-8ba4-a8ee2404fa7d",
      "name": "cria_tabela",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3480,
        680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={ \n  table_records(search: {title : \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"}, table_id: \"{{ $node[\"dados_pipefy\"].json[\"id_database_aplicacoes\"] }}\")\n   { \n        edges \n        { \n            cursor node \n            { \n                id title url\n          } \n      } \n    pageInfo \n    { \n      endCursor hasNextPage hasPreviousPage startCursor \n    } \n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "04223e00-d84f-4aab-ba0c-1b33cb1b9627",
      "name": "busca_tabela_no_database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2600,
        -480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9bc0822b-ef58-4733-bb45-cb7c0799e59a",
              "leftValue": "={{ $json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9feede0e-74c3-43c9-9d65-2802190aab9a",
      "name": "existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2460,
        -480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"nome_do_lead\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "47af6bcf-cfac-48c5-b764-1c2805f3da6e",
      "name": "update_nome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2260,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"instagram\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "53da7c53-eace-469a-aa29-a90641e7639f",
      "name": "update_instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1460,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"data_da_aplica_o\" \n    value:\"{{ $now.toFormat('dd/MM/yyyy HH:mm') }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "fdad7ac2-67ac-4ad4-9d7d-51d35b0178a7",
      "name": "update_data_entrada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2060,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  table(id:\"304286560\"){\n    table_fields{\n      id\n      label\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "5f59662d-c347-407f-904f-29f766b4c7a1",
      "name": "get_id_fields_database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2740,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"telefone_do_lead\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8fa1d4b-8c02-4ed0-b0ba-d7e54b824c80",
      "name": "update_telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1860,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"e_mail\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "87e172ed-ac10-4731-98ca-751cc3343248",
      "name": "update_email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1660,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"cargo_do_lead\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b931a1a-64df-48a3-8551-c45d953232cb",
      "name": "update_nome_empresa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1260,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"quantas_pessoas_trabalham_na_sua_empresa\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "82c8f866-3c49-41b2-a789-d53bc8512c09",
      "name": "servico_validado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1060,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"qual_o_seu_modelo_de_neg_cio_aqui_no_digital\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "6bef351a-0147-466f-a906-9775160cfa77",
      "name": "update_faturamento_2023",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -860,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"nome_da_empresa\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4c8ec9a-bb2b-4613-adc7-ef398bab7a74",
      "name": "update_faturamento_2024",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -660,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad51d99a-6e22-4c29-9ad2-dd9d2fe5bbbc",
      "name": "update_quantas_pessoas_na_equipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -440,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"qual_o_seu_modelo_de_neg_cio_aqui_no_digital_1\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "cbc1c214-d1b5-44dd-ab59-2c8d216748b3",
      "name": "update_modelo_negocio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -240,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"qual_profissional_voc_est_procurando_se_ainda_n_o_tem_certeza_descreva_a_fun_o_que_precisa_ser_realizada\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "862c8906-a112-4afe-90f4-be3b0102e798",
      "name": "update_profissional_procurado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -20,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"parceiro\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c3f4734-b5b6-4e2c-8f04-3434b4c519e3",
      "name": "update_parceiro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        180,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"c_lula\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "2612bb52-453c-4a82-bdcc-7f7697235e10",
      "name": "update_celula",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        360,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"funil\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "cfbd4074-d582-4800-8a6d-9622d452e66d",
      "name": "update_funil",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation{\n  setTableRecordFieldValue(input:{\n    table_record_id:{{ $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] }} \n    field_id:\"origem\" \n    value:\"{{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}\" \n  }) {\n    clientMutationId\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "ed08cee2-9699-4c22-9e70-1771ca3499bb",
      "name": "update_origem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        -460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04e2400e-e101-46b8-911d-969ccb68e6e4",
              "name": "id_do_lead_database",
              "value": "={{ $node[\"update_nome\"].runIndex >= 0 ? $node[\"busca_tabela_no_database\"].json[\"data\"][\"table_records\"][\"edges\"][\"0\"][\"node\"][\"id\"] : $node[\"cria_tabela\"].json[\"data\"][\"createTableRecord\"][\"table_record\"][\"id\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "id": "2e53b48d-9fae-4fa4-a23e-6c6b6e9c5961",
      "name": "id_db",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -3300,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  updateTableRecord(\n    input: {\n      id: \"{{ $node[\"id_db\"].json[\"id_do_lead_database\"] }}\"\n      title: \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\"\n      due_date: \"{{new Date(new Date().getTime() - 3 * 60 * 60 * 1000).toISOString().slice(0, -1) + \"-03:00\"}}\"\n    }\n  ) {\n    table_record {\n      id\n      title\n      due_date\n      record_fields {\n        name\n        value\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "267fe0f2-be4a-4050-9ab2-11439e2d09a9",
      "name": "update_title_table",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3120,
        680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7F0hUjKvKkREj86b",
          "name": "[PIPEFY] - Portus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fad7c009-7961-477a-a86c-0e7be8094a0c",
              "leftValue": "={{ $json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"current_phase\"][\"name\"] }}",
              "rightValue": "VENDA REALIZADA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e44d786b-0356-4422-ad8e-a07d43c922d8",
              "leftValue": "={{ $json[\"data\"][\"findCards\"][\"edges\"][\"0\"][\"node\"][\"current_phase\"][\"name\"] }}",
              "rightValue": "CONTRATO ENVIADO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "95c44845-4cc5-4faf-9869-ae2aef174e78",
      "name": "nao_e_ganho",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2500,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/80cf8c3b-6a07-4c85-9679-0e13782fcd7f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] ? '@' + $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] : '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "id_bd",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "name": "nome_da_empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "origem_do_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6ea25ba0-8b34-4a6e-a137-3008c5e68abe",
      "name": "create/update_lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8f76af8a-50cb-444c-84ff-14b032160598",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "conhece_a_portus",
              "value": "="
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "qnt_pessoas_na_equipe",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "cargo"
            },
            {
              "name": "produto_servido_validado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "faturamento_mensal",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "meta_faturamento_2024",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "vaga_aberta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "profissional_procurado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "modelo_negocio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "data_aplicacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type_milesegundos\"].split(' ')[0] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "dono_negocio"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "tags",
              "value": "Sessão Estratégica"
            },
            {
              "name": "etapa",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "69c6f4b5-2e16-43d4-b943-7ac954b2a891",
      "name": "create/update_deal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/80cf8c3b-6a07-4c85-9679-0e13782fcd7f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] ? '@' + $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] : '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "id_bd",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}"
            },
            {
              "name": "nome_da_empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "origem_do_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "92051316-168d-420e-891f-4c9823c716aa",
      "name": "create/update_lead1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8f76af8a-50cb-444c-84ff-14b032160598",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "conhece_a_portus",
              "value": "="
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "qnt_pessoas_na_equipe",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "cargo"
            },
            {
              "name": "produto_servido_validado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "faturamento_mensal",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "meta_faturamento_2024",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "vaga_aberta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "profissional_procurado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "modelo_negocio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "data_aplicacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type_milesegundos\"].split(' ')[0] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "dono_negocio"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "tags",
              "value": "Sessão Estratégica"
            },
            {
              "name": "etapa",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "d6dc456b-b950-4af0-844c-c64728989aa9",
      "name": "create/update_deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/80cf8c3b-6a07-4c85-9679-0e13782fcd7f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] ? '@' + $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] : '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "id_bd",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "nome_da_empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "origem_do_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "300837ce-6f5d-4687-b919-cf84aa36be64",
      "name": "create/update_lead2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8f76af8a-50cb-444c-84ff-14b032160598",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "conhece_a_portus",
              "value": "="
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "qnt_pessoas_na_equipe",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "cargo"
            },
            {
              "name": "produto_servido_validado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "faturamento_mensal",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "meta_faturamento_2024",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "vaga_aberta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "profissional_procurado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "modelo_negocio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "data_aplicacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type_milesegundos\"].split(' ')[0] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "dono_negocio"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "tags",
              "value": "Sessão Estratégica"
            },
            {
              "name": "etapa",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "a09abf73-1cf2-41b2-b329-ec3604eb658b",
      "name": "create/update_deal2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/80cf8c3b-6a07-4c85-9679-0e13782fcd7f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] ? '@' + $node[\"chega_da_fila\"].json[\"content\"][\"Instagram\"] : '' }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "id_bd",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "name": "nome_da_empresa"
            },
            {
              "name": "cargo"
            },
            {
              "name": "origem_do_contato",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8980a27d-59f7-402f-b3c7-2d970eb46981",
      "name": "create/update_lead3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8f76af8a-50cb-444c-84ff-14b032160598",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "conhece_a_portus",
              "value": "="
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "qnt_pessoas_na_equipe",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "cargo"
            },
            {
              "name": "produto_servido_validado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "faturamento_mensal",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "meta_faturamento_2024",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "vaga_aberta",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "profissional_procurado",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"celula\"] }}"
            },
            {
              "name": "modelo_negocio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "data_aplicacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type_milesegundos\"].split(' ')[0] }}"
            },
            {
              "name": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "dono_negocio"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "tags",
              "value": "Sessão Estratégica"
            },
            {
              "name": "etapa",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "dc3d45af-67d6-4add-8332-6cc5748e6341",
      "name": "create/update_deal3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        560
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "errorWorkflow": "B5ErT6ObkzMJxzKU"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-04T20:37:26.868Z",
  "versionId": "bb239a83-24e2-4765-ba31-505fcf33b8ce"
}