workflows/✅⌚[SESSÃO ESTRATÉGICA] APLICAÇÃO | PARTE 1.json
{
  "active": true,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados_validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_validados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao_realizada": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados1": {
      "main": [
        [
          {
            "node": "dados_validados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao_manychat": {
      "main": [
        [
          {
            "node": "formata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_validados1": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados2": {
      "main": [
        [
          {
            "node": "dados_validados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao_SE_highTicket": {
      "main": [
        [
          {
            "node": "formata_dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados3": {
      "main": [
        [
          {
            "node": "dados_validados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao_SE_escala": {
      "main": [
        [
          {
            "node": "formata_dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_validados3": {
      "main": [
        [
          {
            "node": "entra_na_fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_validados2": {
      "main": [
        [
          {
            "node": "entra_na_fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados5": {
      "main": [
        [
          {
            "node": "dados_validados5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao_parcerias": {
      "main": [
        [
          {
            "node": "formata_dados5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_validados5": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-19T12:30:37.653Z",
  "id": "znTGQFqTXfOGw2GP",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "✅⌚[SESSÃO ESTRATÉGICA] APLICAÇÃO | PARTE 1",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  table(id:\"302838347\"){\n    table_fields{\n      id\n      label\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "39d60cc4-e48a-4dfc-8602-585fec65d7db",
      "name": "get_id_campos_tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        140,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  pipe(id:302838347){\n    phases{ \n        id\n        name\n   }\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "ca33683e-1dc6-4b58-b478-c786cdfeea68",
      "name": "id_etapas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -40,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  organization(id:300890854) {\n    id\n    name\n    members{\n      role_name\n      user {\n        id\n        email\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "4f0e681a-0ca3-4a36-bf17-07ddfc5e8f20",
      "name": "get_users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  card(id: 884459980) {\n    id\n    fields {\n      name\n      value\n    }\n  }\n}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "cd7f3299-d391-4969-9049-8994edd0d2c2",
      "name": "get_values_fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createCard(input: {\n    pipe_id: \"302838347\",\n    phase_id: \"321485752\",\n    title: \"@heltonrdgs\",\n    fields_attributes: [\n      {field_id: \"respons_vel\", field_value: \"302208885\"},\n      {field_id: \"nome_do_representante_p_blico\", field_value: \"@heltonrdgs\"},\n      {field_id: \"nome_da_vaga\", field_value: \"@heltonrdgs\"},\n      {field_id: \"nome_do_lead\", field_value: \"@heltonrdgs\"},\n      {field_id: \"email\", field_value: \"contato@heltonrodrigues.com.br\"},\n      {field_id: \"whatsapp_do_lead\", field_value: \"+558398539693\"},\n      {field_id: \"cargo_do_lead\", field_value: \"@heltonrdgs\"},\n      {field_id: \"quantas_pessoas_tem_no_time_atual\", field_value: \"1\"},\n      {field_id: \"qual_tipo_de_servi_o_deseja_contratar\", field_value: \"Ambos\"},\n      {field_id: \"como_ficou_sabendo_da_portus\", field_value: \"Instagram\"},\n      {field_id: \"de_quem_foi_a_indica_o\", field_value: \"@heltonrdgs\"},\n      {field_id: \"empresa\", field_value: \"@heltonrdgs\"},\n      {field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"@heltonrdgs\"},\n      {field_id: \"tipo_de_contrato\", field_value: \"Certificação\"},\n      {field_id: \"valor_da_vaga\", field_value: \"1\"},\n      {field_id: \"copy_of_garantia\", field_value: \"Taxa de Abertura + Diferença\"},\n      {field_id: \"garantia\", field_value: \"12 meses\"},\n      {field_id: \"explique_um_pouco_sobre_o_seu_desafio_com_a_gest_o_de_pessoas\", field_value: \"@heltonrdgs\"},\n      {field_id: \"outras_observa_es_sobre_a_vaga\", field_value: \"@heltonrdgs\"}\n    ]\n  }) {\n    card {\n      id\n    }\n  }\n}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "17d9977c-33d2-48cb-a039-968b84a9b026",
      "name": "create_deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        340,
        -60
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4dab1d07-8668-41bd-8969-395536f51e8e",
        "options": {}
      },
      "id": "53064b43-c92c-4858-bdde-f091ee08bdff",
      "name": "aplicacao_realizada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        460
      ],
      "webhookId": "6d98d62e-2ca9-48f8-b747-5c0915fa0c81"
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = items[0].json;\nconst respostas = inputData.body;\n\n// Função para obter a data atual menos 15 dias no formato brasileiro (dia/mês/ano)\nfunction getDataMenos15Dias() {\n  const dataAtual = new Date();\n  dataAtual.setDate(dataAtual.getDate() - 15);\n  const dia = dataAtual.getDate().toString().padStart(2, '0');\n  const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); // +1 porque o mês começa em 0\n  const ano = dataAtual.getFullYear();\n  return `${ano}-${mes}-${dia}`;\n}\n\n// Função para formatação de usernames do Instagram/site\nfunction formatarInstagram(input) {\n  if (input) {\n    // Verificar se é um site\n    const siteRegex = /^(http|https):\\/\\/(.*)\\.(.*)$/;\n    if (siteRegex.test(input)) {\n      // Se for um site, retornar o input sem formatação\n      return input;\n    } else {\n      // Remover espaços em branco extras e o símbolo \"@\"\n      const usernameSemEspacosOuArroba = input.trim().replace(/@/g, '');\n\n      // Converter para minúsculas\n      const usernameFormatado = usernameSemEspacosOuArroba.toLowerCase();\n\n      return usernameFormatado;\n    }\n  }\n  return '';\n}\n\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// UTMS\nconst utmContent = utms.utm_content || '';\nconst utmSource = utms.utm_source || '';\nconst utmCampaign = utms.utm_campaign || '';\nconst utmMedium = utms.utm_medium || '';\nconst utmTerm = utms.utm_term || '';\n\n// Função para formatação de emails\nfunction formatarEmail(email) {\n  // Remover espaços em branco extras\n  const emailSemEspacos = email.trim();\n\n  // Converter para minúsculas\n  const emailFormatado = emailSemEspacos.toLowerCase();\n\n  return emailFormatado;\n}\n\n// Função para formatação de nomes\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n// Data da aplicação em milissefundos\nconst dataAtualEmMilissegundos = new Date().getTime();\n\n// Data atual\nconst dataAtual = new Date();\n\n// Função para adicionar um zero à esquerda se o número for menor que 10\nfunction adicionarZero(numero) {\n  if (numero < 10) {\n    return '0' + numero;\n  }\n  return numero;\n}\n\n// Formatar a data\nconst formatDate = (dateStr) => {\n  const months = {\n    \"Janeiro\": \"01\",\n    \"Fevereiro\": \"02\",\n    \"Março\": \"03\",\n    \"Abril\": \"04\",\n    \"Maio\": \"05\",\n    \"Junho\": \"06\",\n    \"Julho\": \"07\",\n    \"Agosto\": \"08\",\n    \"Setembro\": \"09\",\n    \"Outubro\": \"10\",\n    \"Novembro\": \"11\",\n    \"Dezembro\": \"12\"\n  };\n  const [month, day, year] = dateStr.split(\" \");\n  return `${day.replace(\",\", \"\").padStart(2, \"0\")}/${months[month]}/${year}`;\n};\n\nconst formatTime = (timeStr) => {\n  const [time, meridiem] = timeStr.split(\" \");\n  let [hour, minute] = time.split(\":\").map(Number);\n  if (meridiem === \"pm\" && hour !== 12) hour += 12;\n  if (meridiem === \"am\" && hour === 12) hour = 0;\n  return `${hour.toString().padStart(2, \"0\")}:${minute.toString().padStart(2, \"0\")}`;\n};\n\nconst dateStr = $node[\"aplicacao_realizada\"].json[\"body\"][\"Date\"] || '';\nconst timeStr = $node[\"aplicacao_realizada\"].json[\"body\"][\"Time\"] || '';\n\nconst formattedDateTime = `${formatDate(dateStr)} ${formatTime(timeStr)}`;\n\n// INFORMAÇÕES PESSOAIS\nconst nome = formatarNome($node[\"aplicacao_realizada\"].json[\"body\"][\"Seu primeiro nome\"]) || \"\";\nconst telefone = formatarTelefone($node[\"aplicacao_realizada\"].json[\"body\"][\"Seu DDD+WhatsApp\"]) || '';\nconst instagram = formatarInstagram($node[\"aplicacao_realizada\"].json[\"body\"][\"Informe o @ do seu Instagram\"]) || '';\nconst email = formatarEmail($node[\"aplicacao_realizada\"].json[\"body\"][\"Seu melhor e-mail\"]) || \"\";\n\n//PERGUNTAS\nconst pergunta0 = $node[\"aplicacao_realizada\"].json[\"body\"][\"Qual é o nome da sua empresa?\"] || '';\nconst pergunta1 = $node[\"aplicacao_realizada\"].json[\"body\"][\"Você já tem um produto/serviço validado?\"] || '';\nconst pergunta2 = $node[\"aplicacao_realizada\"].json[\"body\"][\"Qual foi o seu faturamento em 2023?\"] || '';\nconst pergunta3 = $node[\"aplicacao_realizada\"].json[\"body\"][\"Qual é a meta de faturamento para 2024?\"] || '';\nconst pergunta4 = $node[\"aplicacao_realizada\"].json[\"body\"][\"Quantas pessoas trabalham na sua empresa?\"] || '';\nconst pergunta5 = $node[\"aplicacao_realizada\"].json[\"body\"][\"Qual é o seu modelo de negócio aqui no digital?\"] || '';\nconst pergunta6 = $node[\"aplicacao_realizada\"].json[\"body\"][\"Qual profissional você está procurando? Se ainda não tem certeza, descreva a função que precisa ser realizada.\"] || '';\nconst pergunta7 = '' || '';\nconst pergunta8 = '' || '';\nconst pergunta9 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta9\"] || '';\nconst pergunta10 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta10\"] || '';\nconst pergunta11 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta11\"] || '';\nconst pergunta12 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta12\"] || '';\nconst pergunta13 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta13\"] || '';\nconst pergunta14 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta14\"] || '';\nconst pergunta15 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta15\"] || '';\nconst pergunta16 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta16\"] || '';\nconst pergunta17 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta17\"] || '';\nconst pergunta18 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta18\"] || '';\nconst pergunta19 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta19\"] || '';\nconst pergunta20 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta20\"] || '';\nconst parceiro =  $node[\"aplicacao_realizada\"].json[\"body\"][\"parceiro\"] || '';\nconst qualificacao = $node[\"aplicacao_realizada\"].json[\"body\"][\"Status Lead\"] || '';\nconst origem = $node[\"aplicacao_realizada\"].json[\"body\"][\"origem\"] || '';\nconst funil = $node[\"aplicacao_realizada\"].json[\"body\"][\"funil\"] || '';\nconst celula = $node[\"aplicacao_realizada\"].json[\"body\"][\"celula\"] || '';\n\n// Montar o objeto de output\nconst output = {\n \"Nome do Cliente\": nome,\n \"E-mail do Cliente\": email,\n \"Telefone do Cliente - Formato BC\": '+' + telefone,\n \"Telefone do Cliente - Formato Z-API\": telefone,\n  instagram,\n  pergunta0,\n  pergunta1,\n  pergunta2,\n  pergunta3,\n  pergunta4,\n  pergunta5,\n  pergunta6,\n  pergunta7,\n  pergunta8,\n  pergunta9,\n  pergunta10,\n  pergunta11,\n  pergunta12,\n  pergunta13,\n  pergunta14,\n  pergunta15,\n  pergunta16,\n  pergunta17,\n  pergunta18,\n  pergunta19,\n  pergunta20,\n  parceiro,\n  celula,\n  funil,\n  origem,\n  utm_content: utmContent,\n  utm_source: utmSource,\n  utm_campaign: utmCampaign,\n  utm_medium: utmMedium,\n  utm_term: utmTerm,\n  data_ultima_quinzena: getDataMenos15Dias(),\n  qualificacao: qualificacao,\n  data_aplicacao_milessegundos: dataAtualEmMilissegundos,\n  data_aplicacao: formattedDateTime\n};\n\nreturn [output];"
      },
      "id": "09195df1-f173-4aa4-944c-91c86f84d548",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        60,
        460
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "=Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"instagram\"]}}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta20\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"formata_dados\"].json[\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "3065086"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1780336"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "1780335"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1780334"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1780337"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1780338"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1780345"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1780344"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "1776705"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "1780340"
            },
            {
              "name": "id_campo_id_lead_crm_bot_conversa",
              "value": "1780343"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "1789193"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "6979786"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "7005347"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "1654521"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "1654523"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "1654886"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "1654541"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "1689038"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "1772554"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "1772555"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "1782967"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "1814217"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_link_do_instagram_crm",
              "value": "4d4434db-7404-4ca3-8586-88aacbe0069f"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_pergunta0_crm",
              "value": "38f71e36-b8c8-42a4-aab3-0eede967e3ec"
            },
            {
              "name": "id_campo_pergunta1_crm",
              "value": "cfdc19bd-7efe-48e2-8b83-ee721b0bf56c"
            },
            {
              "name": "id_campo_pergunta2_crm",
              "value": "9f7b4da0-1df8-45cc-8d19-3dc13b3c6120"
            },
            {
              "name": "id_campo_pergunta3_crm",
              "value": "ce42f281-0ad4-491b-b918-25754365f2fb"
            },
            {
              "name": "id_campo_pergunta4_crm",
              "value": "04fc4778-f22a-4343-8217-03257f178662"
            },
            {
              "name": "id_campo_pergunta5_crm"
            },
            {
              "name": "id_campo_pergunta6_crm"
            },
            {
              "name": "id_campo_pergunta7_crm"
            },
            {
              "name": "id_campo_pergunta8_crm",
              "value": "6d05cee0-28f8-474c-84cd-35e76468094c"
            },
            {
              "name": "id_campo_pergunta9_crm"
            },
            {
              "name": "id_campo_pergunta10_crm"
            },
            {
              "name": "id_campo_pergunta11_crm"
            },
            {
              "name": "id_campo_pergunta12_crm"
            },
            {
              "name": "id_campo_pergunta13_crm"
            },
            {
              "name": "id_campo_pergunta14_crm"
            },
            {
              "name": "id_campo_pergunta15_crm"
            },
            {
              "name": "id_campo_pergunta16_crm"
            },
            {
              "name": "id_campo_pergunta17_crm"
            },
            {
              "name": "id_campo_pergunta18_crm"
            },
            {
              "name": "id_campo_pergunta19_crm"
            },
            {
              "name": "id_campo_pergunta20_crm"
            },
            {
              "name": "id_stage_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_downsell_crm"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_crm_origem",
              "value": "ba2292d8-b72b-48b1-b2b6-159456a98d63"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta5\"].replace('Call de Sessão Estrategica','sessao-estrategica').replace('Funil Webnar','aplicacao-direta') }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "status_sessao_estrategica_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_ending_typeform"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_status_do_lead_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_status_do_lead_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_produto_mentoria_escala_ sem_caos_crm",
              "value": "fbd2bb16-6676-43bd-9938-fca73139fede"
            },
            {
              "name": "id_campo_produto_implementacao_escala_ sem_caos_crm",
              "value": "49b06aaf-209a-4a2c-84e0-65a6e135ab12"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"formata_dados\"].json[\"qualificacao\"] }}"
            },
            {
              "name": "etapa_pre_desqualificados_crm",
              "value": "77544d86-43b7-4cf6-bc87-ea059abbd7a5"
            },
            {
              "name": "etapa_pre_qualificados_crm",
              "value": "2c64ca7b-3988-4ce5-9163-be272209072b"
            },
            {
              "name": "id_campo_id_bc_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_data_da_aplicacao_crm",
              "value": "00ad74e6-783f-4153-8bfd-9bf9a5b39857"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "1814725"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "data_resposta_type_milesegundos",
              "value": "={{ $node[\"formata_dados\"].json[\"data_aplicacao\"] }}"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_status_aplicacao_realizada_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_fluxo_popular_campos",
              "value": "3317483"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"formata_dados\"].json[\"parceiro\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados\"].json[\"funil\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"formata_dados\"].json[\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"formata_dados\"].json[\"celula\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c669137-7b15-4707-a358-c6dfdb120e31",
      "name": "dados_validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Para consulta\n\npergunta0 - Já conhece a Portüs Digital? \npergunta1 - Quantas pessoas trabalham na sua empresa?\npergunta2 - Qual é o seu cargo?\npergunta3 - Vocês já têm um produto/serviço validado?\npergunta4 - Qual é o faturamento mensal aproximado dessa empresa?\npergunta5 - Qual é a meta de faturamento anual para 2024?\npergunta6 - Você está com alguma vaga aberta AGORA?\npergunta7 - Qual profissional você está procurando? Em caso de não estar, conte pra gente, de forma breve, qual setor do seu negócio te preocupa no momento.\npergunta8 - Vaga aberta?\npergunta9 -\npergunta10 -\npergunta11 -\npergunta12 -\npergunta13 -\npergunta14 -\npergunta15 -\npergunta16 -\npergunta17 - \npergunta18 - \npergunta19 - \npergunta20 - \n",
        "height": 500.46734209864053,
        "width": 1347.6212412267641
      },
      "id": "1ecbe532-d770-4105-988d-5d0910dcd3f4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -320
      ]
    },
    {
      "parameters": {
        "queue": "aplicacao - p2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "712a51bd-8fbe-4bb5-b33e-1dc039848b27",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        560,
        460
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = items[0].json;\nconst respostas = inputData.body;\n\n// Função para obter a data atual menos 15 dias no formato brasileiro (dia/mês/ano)\nfunction getDataMenos15Dias() {\n  const dataAtual = new Date();\n  dataAtual.setDate(dataAtual.getDate() - 15);\n  const dia = dataAtual.getDate().toString().padStart(2, '0');\n  const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); // +1 porque o mês começa em 0\n  const ano = dataAtual.getFullYear();\n  return `${ano}-${mes}-${dia}`;\n}\n\n// Função para formatação de usernames do Instagram/site\nfunction formatarInstagram(input) {\n  if (input) {\n    // Verificar se é um site\n    const siteRegex = /^(http|https):\\/\\/(.*)\\.(.*)$/;\n    if (siteRegex.test(input)) {\n      // Se for um site, retornar o input sem formatação\n      return input;\n    } else {\n      // Remover espaços em branco extras e o símbolo \"@\"\n      const usernameSemEspacosOuArroba = input.trim().replace(/@/g, '');\n\n      // Converter para minúsculas\n      const usernameFormatado = usernameSemEspacosOuArroba.toLowerCase();\n\n      return usernameFormatado;\n    }\n  }\n  return '';\n}\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.toString().replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// UTMS\nconst utmContent = utms.utm_content || '';\nconst utmSource = utms.utm_source || '';\nconst utmCampaign = utms.utm_campaign || '';\nconst utmMedium = utms.utm_medium || '';\nconst utmTerm = utms.utm_term || '';\n\n// Função para formatação de emails\nfunction formatarEmail(email) {\n  // Remover espaços em branco extras\n  const emailSemEspacos = email.trim();\n\n  // Converter para minúsculas\n  const emailFormatado = emailSemEspacos.toLowerCase();\n\n  return emailFormatado;\n}\n\n// Função para formatação de nomes\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n// Data da aplicação em milissegundos\nconst dataAtualEmMilissegundos = new Date().getTime();\n\n// Data atual\nconst dataAtual = new Date();\n\n// Função para adicionar um zero à esquerda se o número for menor que 10\nfunction adicionarZero(numero) {\n  if (numero < 10) {\n    return '0' + numero;\n  }\n  return numero;\n}\n\n// Formatar a data\nconst formatDate = (dateStr) => {\n  if (!dateStr) return '';\n  const months = {\n    \"Janeiro\": \"01\",\n    \"Fevereiro\": \"02\",\n    \"Março\": \"03\",\n    \"Abril\": \"04\",\n    \"Maio\": \"05\",\n    \"Junho\": \"06\",\n    \"Julho\": \"07\",\n    \"Agosto\": \"08\",\n    \"Setembro\": \"09\",\n    \"Outubro\": \"10\",\n    \"Novembro\": \"11\",\n    \"Dezembro\": \"12\"\n  };\n  const [year, month, day] = dateStr.split(\"-\");\n  if (!day || !month || !year) return '';\n  return `${year}-${month.padStart(2, \"0\")}-${day.padStart(2, \"0\")}`;\n};\n\n// Função para formatar o tempo\nconst formatTime = (timeStr) => {\n  if (!timeStr) return '';\n  const time = timeStr.split(\"-\")[0]; // Ignora o fuso horário\n  const [hour, minute, second] = time.split(\":\").map(Number);\n  return `${hour.toString().padStart(2, \"0\")}:${minute.toString().padStart(2, \"0\")}:${second.toString().padStart(2, \"0\")}`;\n};\n\nconst dateTimeStr = $node[\"aplicacao_manychat\"].json[\"body\"][\"ig_last_interaction\"] || '';\nconst [dateStr, timeWithTimezone] = dateTimeStr.split('T');\nconst timeStr = timeWithTimezone ? timeWithTimezone.split('-')[0] : '';\n\nconst formattedDateTime = dateStr && timeStr ? `${formatDate(dateStr)} ${formatTime(timeStr)}` : 'Data ou hora não fornecida';\n\nconsole.log(formattedDateTime); // Exibe a data e hora formatadas\n\n// INFORMAÇÕES PESSOAIS\nconst nome = formatarNome($node[\"aplicacao_manychat\"].json[\"body\"][\"name\"]) || \"\";\nconst telefone = formatarTelefone($node[\"aplicacao_manychat\"].json[\"body\"][\"custom_fields\"][\"Telefone\"]) || '';\nconst instagram = formatarInstagram($node[\"aplicacao_manychat\"].json[\"body\"][\"ig_username\"]) || '';\nconst email = formatarEmail($node[\"aplicacao_manychat\"].json[\"body\"][\"email\"]) || \"\";\nconst parceiro =  \"Manychat\";\n\n//PERGUNTAS\nconst pergunta0 = $node[\"aplicacao_manychat\"].json[\"body\"][\"custom_fields\"][\"nome_empresa\"] || '';\nconst pergunta1 = $node[\"aplicacao_manychat\"].json[\"body\"][\"Você já tem um produto/serviço validado?\"] || '';\nconst pergunta2 = $node[\"aplicacao_manychat\"].json[\"body\"][\"custom_fields\"][\"faturamento\"] || '';\nconst pergunta3 = $node[\"aplicacao_manychat\"].json[\"body\"][\"custom_fields\"][\"meta_2024\"] || '';\nconst pergunta4 = $node[\"aplicacao_manychat\"].json[\"body\"][\"custom_fields\"][\"qtd_funcionarios\"] || '';\nconst pergunta5 = $node[\"aplicacao_manychat\"].json[\"body\"][\"custom_fields\"][\"modelo_negocio\"] || '';\nconst pergunta6 = $node[\"aplicacao_manychat\"].json[\"body\"][\"custom_fields\"][\"qual_profissional\"] || '';\nconst pergunta7 = '' || '';\nconst pergunta8 = '' || '';\nconst pergunta9 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta9\"] || '';\nconst pergunta10 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta10\"] || '';\nconst pergunta11 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta11\"] || '';\nconst pergunta12 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta12\"] || '';\nconst pergunta13 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta13\"] || '';\nconst pergunta14 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta14\"] || '';\nconst pergunta15 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta15\"] || '';\nconst pergunta16 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta16\"] || '';\nconst pergunta17 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta17\"] || '';\nconst pergunta18 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta18\"] || '';\nconst pergunta19 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta19\"] || '';\nconst pergunta20 = $node[\"aplicacao_manychat\"].json[\"body\"][\"pergunta20\"] || '';\n\n// Montar o objeto de output\nconst output = {\n \"Nome do Cliente\": nome,\n \"E-mail do Cliente\": email,\n \"Telefone do Cliente - Formato BC\": '+' + telefone,\n \"Telefone do Cliente - Formato Z-API\": telefone,\n  instagram,\n  parceiro,\n  pergunta0,\n  pergunta1,\n  pergunta2,\n  pergunta3,\n  pergunta4,\n  pergunta5,\n  pergunta6,\n  pergunta7,\n  pergunta8,\n  pergunta9,\n  pergunta10,\n  pergunta11,\n  pergunta12,\n  pergunta13,\n  pergunta14,\n  pergunta15,\n  pergunta16,\n  pergunta17,\n  pergunta18,\n  pergunta19,\n  pergunta20,\n  utm_content: utmContent,\n  utm_source: utmSource,\n  utm_campaign: utmCampaign,\n  utm_medium: utmMedium,\n  utm_term: utmTerm,\n  data_ultima_quinzena: getDataMenos15Dias(),\n  data_aplicacao_milessegundos: dataAtualEmMilissegundos,\n  data_aplicacao: formattedDateTime\n};\n\nreturn [output];"
      },
      "id": "ffa84344-5edd-4f9d-ada7-9d82892e3180",
      "name": "formata_dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        60,
        660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados1\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados1\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "=Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"formata_dados1\"].json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados1\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"formata_dados1\"].json[\"instagram\"]}}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta20\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados1\"].json[\"utm_term\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"formata_dados1\"].json[\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "3065086"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1780336"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "1780335"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1780334"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1780337"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1780338"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1780345"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1780344"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "1776705"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "1780340"
            },
            {
              "name": "id_campo_id_lead_crm_bot_conversa",
              "value": "1780343"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "1789193"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "6979786"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "7005347"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "1654521"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "1654523"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "1654886"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "1654541"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "1689038"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "1772554"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "1772555"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "1782967"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "1814217"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_link_do_instagram_crm",
              "value": "4d4434db-7404-4ca3-8586-88aacbe0069f"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_pergunta0_crm",
              "value": "38f71e36-b8c8-42a4-aab3-0eede967e3ec"
            },
            {
              "name": "id_campo_pergunta1_crm",
              "value": "cfdc19bd-7efe-48e2-8b83-ee721b0bf56c"
            },
            {
              "name": "id_campo_pergunta2_crm",
              "value": "9f7b4da0-1df8-45cc-8d19-3dc13b3c6120"
            },
            {
              "name": "id_campo_pergunta3_crm",
              "value": "ce42f281-0ad4-491b-b918-25754365f2fb"
            },
            {
              "name": "id_campo_pergunta4_crm",
              "value": "04fc4778-f22a-4343-8217-03257f178662"
            },
            {
              "name": "id_campo_pergunta5_crm"
            },
            {
              "name": "id_campo_pergunta6_crm"
            },
            {
              "name": "id_campo_pergunta7_crm"
            },
            {
              "name": "id_campo_pergunta8_crm",
              "value": "6d05cee0-28f8-474c-84cd-35e76468094c"
            },
            {
              "name": "id_campo_pergunta9_crm"
            },
            {
              "name": "id_campo_pergunta10_crm"
            },
            {
              "name": "id_campo_pergunta11_crm"
            },
            {
              "name": "id_campo_pergunta12_crm"
            },
            {
              "name": "id_campo_pergunta13_crm"
            },
            {
              "name": "id_campo_pergunta14_crm"
            },
            {
              "name": "id_campo_pergunta15_crm"
            },
            {
              "name": "id_campo_pergunta16_crm"
            },
            {
              "name": "id_campo_pergunta17_crm"
            },
            {
              "name": "id_campo_pergunta18_crm"
            },
            {
              "name": "id_campo_pergunta19_crm"
            },
            {
              "name": "id_campo_pergunta20_crm"
            },
            {
              "name": "id_stage_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_downsell_crm"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_crm_origem",
              "value": "ba2292d8-b72b-48b1-b2b6-159456a98d63"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados1\"].json[\"pergunta5\"].replace('Call de Sessão Estrategica','sessao-estrategica').replace('Funil Webnar','aplicacao-direta') }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "status_sessao_estrategica_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_ending_typeform"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_status_do_lead_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_status_do_lead_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_produto_mentoria_escala_ sem_caos_crm",
              "value": "fbd2bb16-6676-43bd-9938-fca73139fede"
            },
            {
              "name": "id_campo_produto_implementacao_escala_ sem_caos_crm",
              "value": "49b06aaf-209a-4a2c-84e0-65a6e135ab12"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"formata_dados1\"].json[\"qualificacao\"] }}"
            },
            {
              "name": "etapa_pre_desqualificados_crm",
              "value": "77544d86-43b7-4cf6-bc87-ea059abbd7a5"
            },
            {
              "name": "etapa_pre_qualificados_crm",
              "value": "2c64ca7b-3988-4ce5-9163-be272209072b"
            },
            {
              "name": "id_campo_id_bc_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_data_da_aplicacao_crm",
              "value": "00ad74e6-783f-4153-8bfd-9bf9a5b39857"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "1814725"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "data_resposta_type_milesegundos",
              "value": "={{ $node[\"formata_dados1\"].json[\"data_aplicacao\"] }}"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_status_aplicacao_realizada_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_fluxo_popular_campos",
              "value": "3317483"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"formata_dados1\"].json[\"parceiro\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados1\"].json[\"funil\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"formata_dados1\"].json[\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"formata_dados1\"].json[\"celula\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a435ee3-ae61-41dc-8a1f-e64bc0fcfea6",
      "name": "dados_validados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        660
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aplicacao-manychat",
        "options": {}
      },
      "id": "ee52f0e5-c38f-4e04-8f49-b8a0f49a19a1",
      "name": "aplicacao_manychat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        660
      ],
      "webhookId": "6d98d62e-2ca9-48f8-b747-5c0915fa0c81"
    },
    {
      "parameters": {
        "queue": "p2 - manychat",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "4c3f7916-bc7f-4189-919d-478f64ef3acd",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        560,
        660
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = items[0].json;\nconst respostas = inputData.body;\n\n// Função para obter a data atual menos 15 dias no formato brasileiro (dia/mês/ano)\nfunction getDataMenos15Dias() {\n  const dataAtual = new Date();\n  dataAtual.setDate(dataAtual.getDate() - 15);\n  const dia = dataAtual.getDate().toString().padStart(2, '0');\n  const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); // +1 porque o mês começa em 0\n  const ano = dataAtual.getFullYear();\n  return `${ano}-${mes}-${dia}`;\n}\n\n// Função para formatação de usernames do Instagram/site\nfunction formatarInstagram(input) {\n  if (input) {\n    // Verificar se é um site\n    const siteRegex = /^(http|https):\\/\\/(.*)\\.(.*)$/;\n    if (siteRegex.test(input)) {\n      // Se for um site, retornar o input sem formatação\n      return input;\n    } else {\n      // Remover espaços em branco extras e o símbolo \"@\"\n      const usernameSemEspacosOuArroba = input.trim().replace(/@/g, '');\n\n      // Converter para minúsculas\n      const usernameFormatado = usernameSemEspacosOuArroba.toLowerCase();\n\n      return usernameFormatado;\n    }\n  }\n  return '';\n}\n\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// UTMS\nconst utmContent = utms.utm_content || '';\nconst utmSource = utms.utm_source || '';\nconst utmCampaign = utms.utm_campaign || '';\nconst utmMedium = utms.utm_medium || '';\nconst utmTerm = utms.utm_term || '';\n\n// Função para formatação de emails\nfunction formatarEmail(email) {\n  // Remover espaços em branco extras\n  const emailSemEspacos = email.trim();\n\n  // Converter para minúsculas\n  const emailFormatado = emailSemEspacos.toLowerCase();\n\n  return emailFormatado;\n}\n\n// Função para formatação de nomes\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n// Data da aplicação em milissefundos\nconst dataAtualEmMilissegundos = new Date().getTime();\n\n// Data atual\nconst dataAtual = new Date();\n\n// Função para adicionar um zero à esquerda se o número for menor que 10\nfunction adicionarZero(numero) {\n  if (numero < 10) {\n    return '0' + numero;\n  }\n  return numero;\n}\n\n// Formatar a data\nconst formatDate = (dateStr) => {\n  const months = {\n    \"Janeiro\": \"01\",\n    \"Fevereiro\": \"02\",\n    \"Março\": \"03\",\n    \"Abril\": \"04\",\n    \"Maio\": \"05\",\n    \"Junho\": \"06\",\n    \"Julho\": \"07\",\n    \"Agosto\": \"08\",\n    \"Setembro\": \"09\",\n    \"Outubro\": \"10\",\n    \"Novembro\": \"11\",\n    \"Dezembro\": \"12\"\n  };\n  const [month, day, year] = dateStr.split(\" \");\n  return `${day.replace(\",\", \"\").padStart(2, \"0\")}/${months[month]}/${year}`;\n};\n\nconst formatTime = (timeStr) => {\n  const [time, meridiem] = timeStr.split(\" \");\n  let [hour, minute] = time.split(\":\").map(Number);\n  if (meridiem === \"pm\" && hour !== 12) hour += 12;\n  if (meridiem === \"am\" && hour === 12) hour = 0;\n  return `${hour.toString().padStart(2, \"0\")}:${minute.toString().padStart(2, \"0\")}`;\n};\n\nconst dateStr = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Date\"] || '';\nconst timeStr = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Time\"] || '';\n\nconst formattedDateTime = `${formatDate(dateStr)} ${formatTime(timeStr)}`;\n\n// INFORMAÇÕES PESSOAIS\nconst nome = formatarNome($node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Seu primeiro nome\"]) || \"\";\nconst telefone = formatarTelefone($node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Seu DDD+WhatsApp\"]) || '';\nconst instagram = formatarInstagram($node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Informe o @ do seu Instagram\"]) || '';\nconst email = formatarEmail($node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Seu melhor e-mail\"]) || \"\";\n\n//PERGUNTAS\nconst pergunta0 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Qual é o nome da sua empresa?\"] || '';\nconst pergunta1 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Você já tem um produto/serviço validado?\"] || '';\nconst pergunta2 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Qual foi o seu faturamento em 2023?\"] || '';\nconst pergunta3 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Qual é a meta de faturamento para 2024?\"] || '';\nconst pergunta4 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Quantas pessoas trabalham na sua empresa?\"] || '';\nconst pergunta5 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Qual é o seu modelo de negócio aqui no digital?\"] || '';\nconst pergunta6 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Qual profissional você está procurando? Se ainda não tem certeza, descreva a função que precisa ser realizada.\"] || '';\nconst pergunta7 = '' || '';\nconst pergunta8 = '' || '';\nconst pergunta9 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta9\"] || '';\nconst pergunta10 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta10\"] || '';\nconst pergunta11 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta11\"] || '';\nconst pergunta12 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta12\"] || '';\nconst pergunta13 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta13\"] || '';\nconst pergunta14 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta14\"] || '';\nconst pergunta15 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta15\"] || '';\nconst pergunta16 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta16\"] || '';\nconst pergunta17 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta17\"] || '';\nconst pergunta18 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta18\"] || '';\nconst pergunta19 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta19\"] || '';\nconst pergunta20 = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"pergunta20\"] || '';\nconst parceiro =  \"SE-High Ticket\";\nconst qualificacao = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"Status Lead\"] || '';\nconst origem = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"origem\"] || '';\nconst funil = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"funil\"] || '';\nconst celula = $node[\"aplicacao_SE_highTicket\"].json[\"body\"][\"celula\"] || '';\n\n// Montar o objeto de output\nconst output = {\n \"Nome do Cliente\": nome,\n \"E-mail do Cliente\": email,\n \"Telefone do Cliente - Formato BC\": '+' + telefone,\n \"Telefone do Cliente - Formato Z-API\": telefone,\n  instagram,\n  pergunta0,\n  pergunta1,\n  pergunta2,\n  pergunta3,\n  pergunta4,\n  pergunta5,\n  pergunta6,\n  pergunta7,\n  pergunta8,\n  pergunta9,\n  pergunta10,\n  pergunta11,\n  pergunta12,\n  pergunta13,\n  pergunta14,\n  pergunta15,\n  pergunta16,\n  pergunta17,\n  pergunta18,\n  pergunta19,\n  pergunta20,\n  parceiro,\n  celula,\n  funil,\n  origem,\n  utm_content: utmContent,\n  utm_source: utmSource,\n  utm_campaign: utmCampaign,\n  utm_medium: utmMedium,\n  utm_term: utmTerm,\n  data_ultima_quinzena: getDataMenos15Dias(),\n  qualificacao: qualificacao,\n  data_aplicacao_milessegundos: dataAtualEmMilissegundos,\n  data_aplicacao: formattedDateTime\n};\n\nreturn [output];"
      },
      "id": "26ef1489-40f0-4844-85a9-c39bdbf9d8f9",
      "name": "formata_dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        60,
        860
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "=Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"formata_dados2\"].json[\"instagram\"]}}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta20\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados2\"].json[\"utm_term\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "3065086"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1780336"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "1780335"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1780334"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1780337"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1780338"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1780345"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1780344"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "1776705"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "1780340"
            },
            {
              "name": "id_campo_id_lead_crm_bot_conversa",
              "value": "1780343"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "1789193"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "6979786"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "7005347"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "1654521"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "1654523"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "1654886"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "1654541"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "1689038"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "1772554"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "1772555"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "1782967"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "1814217"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_link_do_instagram_crm",
              "value": "4d4434db-7404-4ca3-8586-88aacbe0069f"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_pergunta0_crm",
              "value": "38f71e36-b8c8-42a4-aab3-0eede967e3ec"
            },
            {
              "name": "id_campo_pergunta1_crm",
              "value": "cfdc19bd-7efe-48e2-8b83-ee721b0bf56c"
            },
            {
              "name": "id_campo_pergunta2_crm",
              "value": "9f7b4da0-1df8-45cc-8d19-3dc13b3c6120"
            },
            {
              "name": "id_campo_pergunta3_crm",
              "value": "ce42f281-0ad4-491b-b918-25754365f2fb"
            },
            {
              "name": "id_campo_pergunta4_crm",
              "value": "04fc4778-f22a-4343-8217-03257f178662"
            },
            {
              "name": "id_campo_pergunta5_crm"
            },
            {
              "name": "id_campo_pergunta6_crm"
            },
            {
              "name": "id_campo_pergunta7_crm"
            },
            {
              "name": "id_campo_pergunta8_crm",
              "value": "6d05cee0-28f8-474c-84cd-35e76468094c"
            },
            {
              "name": "id_campo_pergunta9_crm"
            },
            {
              "name": "id_campo_pergunta10_crm"
            },
            {
              "name": "id_campo_pergunta11_crm"
            },
            {
              "name": "id_campo_pergunta12_crm"
            },
            {
              "name": "id_campo_pergunta13_crm"
            },
            {
              "name": "id_campo_pergunta14_crm"
            },
            {
              "name": "id_campo_pergunta15_crm"
            },
            {
              "name": "id_campo_pergunta16_crm"
            },
            {
              "name": "id_campo_pergunta17_crm"
            },
            {
              "name": "id_campo_pergunta18_crm"
            },
            {
              "name": "id_campo_pergunta19_crm"
            },
            {
              "name": "id_campo_pergunta20_crm"
            },
            {
              "name": "id_stage_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_downsell_crm"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_crm_origem",
              "value": "ba2292d8-b72b-48b1-b2b6-159456a98d63"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados2\"].json[\"pergunta5\"].replace('Call de Sessão Estrategica','sessao-estrategica').replace('Funil Webnar','aplicacao-direta') }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "status_sessao_estrategica_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_ending_typeform"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_status_do_lead_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_status_do_lead_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_produto_mentoria_escala_ sem_caos_crm",
              "value": "fbd2bb16-6676-43bd-9938-fca73139fede"
            },
            {
              "name": "id_campo_produto_implementacao_escala_ sem_caos_crm",
              "value": "49b06aaf-209a-4a2c-84e0-65a6e135ab12"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"formata_dados2\"].json[\"qualificacao\"] }}"
            },
            {
              "name": "etapa_pre_desqualificados_crm",
              "value": "77544d86-43b7-4cf6-bc87-ea059abbd7a5"
            },
            {
              "name": "etapa_pre_qualificados_crm",
              "value": "2c64ca7b-3988-4ce5-9163-be272209072b"
            },
            {
              "name": "id_campo_id_bc_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_data_da_aplicacao_crm",
              "value": "00ad74e6-783f-4153-8bfd-9bf9a5b39857"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "1814725"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "data_resposta_type_milesegundos",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_aplicacao\"] }}"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_status_aplicacao_realizada_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_fluxo_popular_campos",
              "value": "3317483"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"formata_dados2\"].json[\"parceiro\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados2\"].json[\"funil\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"formata_dados2\"].json[\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"formata_dados2\"].json[\"celula\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f18fae12-336c-444c-a897-6b0801da8261",
      "name": "dados_validados2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        860
      ]
    },
    {
      "parameters": {
        "queue": "aplicacao - p2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "8d383e6d-0156-4b52-b4d0-d88f1629aa0d",
      "name": "entra_na_fila2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        560,
        860
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Se-Highticket",
        "options": {}
      },
      "id": "0d8a6ca3-9614-4ffe-a8f3-8143b36708d8",
      "name": "aplicacao_SE_highTicket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        860
      ],
      "webhookId": "6d98d62e-2ca9-48f8-b747-5c0915fa0c81"
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = items[0].json;\nconst respostas = inputData.body;\n\n// Função para obter a data atual menos 15 dias no formato brasileiro (dia/mês/ano)\nfunction getDataMenos15Dias() {\n  const dataAtual = new Date();\n  dataAtual.setDate(dataAtual.getDate() - 15);\n  const dia = dataAtual.getDate().toString().padStart(2, '0');\n  const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); // +1 porque o mês começa em 0\n  const ano = dataAtual.getFullYear();\n  return `${ano}-${mes}-${dia}`;\n}\n\n// Função para formatação de usernames do Instagram/site\nfunction formatarInstagram(input) {\n  if (input) {\n    // Verificar se é um site\n    const siteRegex = /^(http|https):\\/\\/(.*)\\.(.*)$/;\n    if (siteRegex.test(input)) {\n      // Se for um site, retornar o input sem formatação\n      return input;\n    } else {\n      // Remover espaços em branco extras e o símbolo \"@\"\n      const usernameSemEspacosOuArroba = input.trim().replace(/@/g, '');\n\n      // Converter para minúsculas\n      const usernameFormatado = usernameSemEspacosOuArroba.toLowerCase();\n\n      return usernameFormatado;\n    }\n  }\n  return '';\n}\n\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// UTMS\nconst utmContent = utms.utm_content || '';\nconst utmSource = utms.utm_source || '';\nconst utmCampaign = utms.utm_campaign || '';\nconst utmMedium = utms.utm_medium || '';\nconst utmTerm = utms.utm_term || '';\n\n// Função para formatação de emails\nfunction formatarEmail(email) {\n  // Remover espaços em branco extras\n  const emailSemEspacos = email.trim();\n\n  // Converter para minúsculas\n  const emailFormatado = emailSemEspacos.toLowerCase();\n\n  return emailFormatado;\n}\n\n// Função para formatação de nomes\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n// Data da aplicação em milissefundos\nconst dataAtualEmMilissegundos = new Date().getTime();\n\n// Data atual\nconst dataAtual = new Date();\n\n// Função para adicionar um zero à esquerda se o número for menor que 10\nfunction adicionarZero(numero) {\n  if (numero < 10) {\n    return '0' + numero;\n  }\n  return numero;\n}\n\n// Formatar a data\nconst formatDate = (dateStr) => {\n  const months = {\n    \"Janeiro\": \"01\",\n    \"Fevereiro\": \"02\",\n    \"Março\": \"03\",\n    \"Abril\": \"04\",\n    \"Maio\": \"05\",\n    \"Junho\": \"06\",\n    \"Julho\": \"07\",\n    \"Agosto\": \"08\",\n    \"Setembro\": \"09\",\n    \"Outubro\": \"10\",\n    \"Novembro\": \"11\",\n    \"Dezembro\": \"12\"\n  };\n  const [month, day, year] = dateStr.split(\" \");\n  return `${day.replace(\",\", \"\").padStart(2, \"0\")}/${months[month]}/${year}`;\n};\n\nconst formatTime = (timeStr) => {\n  const [time, meridiem] = timeStr.split(\" \");\n  let [hour, minute] = time.split(\":\").map(Number);\n  if (meridiem === \"pm\" && hour !== 12) hour += 12;\n  if (meridiem === \"am\" && hour === 12) hour = 0;\n  return `${hour.toString().padStart(2, \"0\")}:${minute.toString().padStart(2, \"0\")}`;\n};\n\nconst dateStr = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Date\"] || '';\nconst timeStr = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Time\"] || '';\n\nconst formattedDateTime = `${formatDate(dateStr)} ${formatTime(timeStr)}`;\n\n// INFORMAÇÕES PESSOAIS\nconst nome = formatarNome($node[\"aplicacao_SE_escala\"].json[\"body\"][\"Seu primeiro nome\"]) || \"\";\nconst telefone = formatarTelefone($node[\"aplicacao_SE_escala\"].json[\"body\"][\"Seu DDD+WhatsApp\"]) || '';\nconst instagram = formatarInstagram($node[\"aplicacao_SE_escala\"].json[\"body\"][\"Informe o @ do seu Instagram\"]) || '';\nconst email = formatarEmail($node[\"aplicacao_SE_escala\"].json[\"body\"][\"Seu melhor e-mail\"]) || \"\";\n\n//PERGUNTAS\nconst pergunta0 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Qual é o nome da sua empresa?\"] || '';\nconst pergunta1 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Você já tem um produto/serviço validado?\"] || '';\nconst pergunta2 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Qual foi o seu faturamento em 2023?\"] || '';\nconst pergunta3 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Qual é a meta de faturamento para 2024?\"] || '';\nconst pergunta4 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Quantas pessoas trabalham na sua empresa?\"] || '';\nconst pergunta5 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Qual é o seu modelo de negócio aqui no digital?\"] || '';\nconst pergunta6 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Qual profissional você está procurando? Se ainda não tem certeza, descreva a função que precisa ser realizada.\"] || '';\nconst pergunta7 = '' || '';\nconst pergunta8 = '' || '';\nconst pergunta9 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta9\"] || '';\nconst pergunta10 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta10\"] || '';\nconst pergunta11 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta11\"] || '';\nconst pergunta12 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta12\"] || '';\nconst pergunta13 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta13\"] || '';\nconst pergunta14 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta14\"] || '';\nconst pergunta15 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta15\"] || '';\nconst pergunta16 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta16\"] || '';\nconst pergunta17 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta17\"] || '';\nconst pergunta18 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta18\"] || '';\nconst pergunta19 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta19\"] || '';\nconst pergunta20 = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"pergunta20\"] || '';\nconst parceiro =  \"SE-Escala\";\nconst qualificacao = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"Status Lead\"] || '';\nconst origem = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"origem\"] || '';\nconst funil = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"funil\"] || '';\nconst celula = $node[\"aplicacao_SE_escala\"].json[\"body\"][\"celula\"] || '';\n\n// Montar o objeto de output\nconst output = {\n \"Nome do Cliente\": nome,\n \"E-mail do Cliente\": email,\n \"Telefone do Cliente - Formato BC\": '+' + telefone,\n \"Telefone do Cliente - Formato Z-API\": telefone,\n  instagram,\n  pergunta0,\n  pergunta1,\n  pergunta2,\n  pergunta3,\n  pergunta4,\n  pergunta5,\n  pergunta6,\n  pergunta7,\n  pergunta8,\n  pergunta9,\n  pergunta10,\n  pergunta11,\n  pergunta12,\n  pergunta13,\n  pergunta14,\n  pergunta15,\n  pergunta16,\n  pergunta17,\n  pergunta18,\n  pergunta19,\n  pergunta20,\n  parceiro,\n  celula,\n  funil,\n  origem,\n  utm_content: utmContent,\n  utm_source: utmSource,\n  utm_campaign: utmCampaign,\n  utm_medium: utmMedium,\n  utm_term: utmTerm,\n  data_ultima_quinzena: getDataMenos15Dias(),\n  qualificacao: qualificacao,\n  data_aplicacao_milessegundos: dataAtualEmMilissegundos,\n  data_aplicacao: formattedDateTime\n};\n\nreturn [output];"
      },
      "id": "9cab5483-8232-406f-aebc-24f404eb3038",
      "name": "formata_dados3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        60,
        1040
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados3\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados3\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "=Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"formata_dados3\"].json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados3\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"formata_dados3\"].json[\"instagram\"]}}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta20\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados3\"].json[\"utm_term\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"formata_dados3\"].json[\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "3065086"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1780336"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "1780335"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1780334"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1780337"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1780338"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1780345"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1780344"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "1776705"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "1780340"
            },
            {
              "name": "id_campo_id_lead_crm_bot_conversa",
              "value": "1780343"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "1789193"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "6979786"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "7005347"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "1654521"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "1654523"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "1654886"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "1654541"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "1689038"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "1772554"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "1772555"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "1782967"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "1814217"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_link_do_instagram_crm",
              "value": "4d4434db-7404-4ca3-8586-88aacbe0069f"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_pergunta0_crm",
              "value": "38f71e36-b8c8-42a4-aab3-0eede967e3ec"
            },
            {
              "name": "id_campo_pergunta1_crm",
              "value": "cfdc19bd-7efe-48e2-8b83-ee721b0bf56c"
            },
            {
              "name": "id_campo_pergunta2_crm",
              "value": "9f7b4da0-1df8-45cc-8d19-3dc13b3c6120"
            },
            {
              "name": "id_campo_pergunta3_crm",
              "value": "ce42f281-0ad4-491b-b918-25754365f2fb"
            },
            {
              "name": "id_campo_pergunta4_crm",
              "value": "04fc4778-f22a-4343-8217-03257f178662"
            },
            {
              "name": "id_campo_pergunta5_crm"
            },
            {
              "name": "id_campo_pergunta6_crm"
            },
            {
              "name": "id_campo_pergunta7_crm"
            },
            {
              "name": "id_campo_pergunta8_crm",
              "value": "6d05cee0-28f8-474c-84cd-35e76468094c"
            },
            {
              "name": "id_campo_pergunta9_crm"
            },
            {
              "name": "id_campo_pergunta10_crm"
            },
            {
              "name": "id_campo_pergunta11_crm"
            },
            {
              "name": "id_campo_pergunta12_crm"
            },
            {
              "name": "id_campo_pergunta13_crm"
            },
            {
              "name": "id_campo_pergunta14_crm"
            },
            {
              "name": "id_campo_pergunta15_crm"
            },
            {
              "name": "id_campo_pergunta16_crm"
            },
            {
              "name": "id_campo_pergunta17_crm"
            },
            {
              "name": "id_campo_pergunta18_crm"
            },
            {
              "name": "id_campo_pergunta19_crm"
            },
            {
              "name": "id_campo_pergunta20_crm"
            },
            {
              "name": "id_stage_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_downsell_crm"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_crm_origem",
              "value": "ba2292d8-b72b-48b1-b2b6-159456a98d63"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados3\"].json[\"pergunta5\"].replace('Call de Sessão Estrategica','sessao-estrategica').replace('Funil Webnar','aplicacao-direta') }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "status_sessao_estrategica_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_ending_typeform"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_status_do_lead_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_status_do_lead_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_produto_mentoria_escala_ sem_caos_crm",
              "value": "fbd2bb16-6676-43bd-9938-fca73139fede"
            },
            {
              "name": "id_campo_produto_implementacao_escala_ sem_caos_crm",
              "value": "49b06aaf-209a-4a2c-84e0-65a6e135ab12"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"formata_dados3\"].json[\"qualificacao\"] }}"
            },
            {
              "name": "etapa_pre_desqualificados_crm",
              "value": "77544d86-43b7-4cf6-bc87-ea059abbd7a5"
            },
            {
              "name": "etapa_pre_qualificados_crm",
              "value": "2c64ca7b-3988-4ce5-9163-be272209072b"
            },
            {
              "name": "id_campo_id_bc_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_data_da_aplicacao_crm",
              "value": "00ad74e6-783f-4153-8bfd-9bf9a5b39857"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "1814725"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "data_resposta_type_milesegundos",
              "value": "={{ $node[\"formata_dados3\"].json[\"data_aplicacao\"] }}"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_status_aplicacao_realizada_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_fluxo_popular_campos",
              "value": "3317483"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"formata_dados3\"].json[\"parceiro\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados3\"].json[\"funil\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"formata_dados3\"].json[\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"formata_dados3\"].json[\"celula\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5ff7a96-466b-4a57-af8b-0684051eb8dc",
      "name": "dados_validados3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        1040
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Se-Escala",
        "options": {}
      },
      "id": "5d6ce954-0ce7-4e87-8cfb-5a1c61cbe1cd",
      "name": "aplicacao_SE_escala",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        1040
      ],
      "webhookId": "6d98d62e-2ca9-48f8-b747-5c0915fa0c81"
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = items[0].json;\nconst respostas = inputData.body;\n\n// Função para obter a data atual menos 15 dias no formato brasileiro (dia/mês/ano)\nfunction getDataMenos15Dias() {\n  const dataAtual = new Date();\n  dataAtual.setDate(dataAtual.getDate() - 15);\n  const dia = dataAtual.getDate().toString().padStart(2, '0');\n  const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); // +1 porque o mês começa em 0\n  const ano = dataAtual.getFullYear();\n  return `${ano}-${mes}-${dia}`;\n}\n\n// Função para formatação de usernames do Instagram/site\nfunction formatarInstagram(input) {\n  if (input) {\n    // Verificar se é um site\n    const siteRegex = /^(http|https):\\/\\/(.*)\\.(.*)$/;\n    if (siteRegex.test(input)) {\n      // Se for um site, retornar o input sem formatação\n      return input;\n    } else {\n      // Remover espaços em branco extras e o símbolo \"@\"\n      const usernameSemEspacosOuArroba = input.trim().replace(/@/g, '');\n\n      // Converter para minúsculas\n      const usernameFormatado = usernameSemEspacosOuArroba.toLowerCase();\n\n      return usernameFormatado;\n    }\n  }\n  return '';\n}\n\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// UTMS\nconst utmContent = utms.utm_content || '';\nconst utmSource = utms.utm_source || '';\nconst utmCampaign = utms.utm_campaign || '';\nconst utmMedium = utms.utm_medium || '';\nconst utmTerm = utms.utm_term || '';\n\n// Função para formatação de emails\nfunction formatarEmail(email) {\n  // Remover espaços em branco extras\n  const emailSemEspacos = email.trim();\n\n  // Converter para minúsculas\n  const emailFormatado = emailSemEspacos.toLowerCase();\n\n  return emailFormatado;\n}\n\n// Função para formatação de nomes\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n// Data da aplicação em milissefundos\nconst dataAtualEmMilissegundos = new Date().getTime();\n\n// Data atual\nconst dataAtual = new Date();\n\n// Função para adicionar um zero à esquerda se o número for menor que 10\nfunction adicionarZero(numero) {\n  if (numero < 10) {\n    return '0' + numero;\n  }\n  return numero;\n}\n\n// Formatar a data\nconst formatDate = (dateStr) => {\n  const months = {\n    \"Janeiro\": \"01\",\n    \"Fevereiro\": \"02\",\n    \"Março\": \"03\",\n    \"Abril\": \"04\",\n    \"Maio\": \"05\",\n    \"Junho\": \"06\",\n    \"Julho\": \"07\",\n    \"Agosto\": \"08\",\n    \"Setembro\": \"09\",\n    \"Outubro\": \"10\",\n    \"Novembro\": \"11\",\n    \"Dezembro\": \"12\"\n  };\n  const [month, day, year] = dateStr.split(\" \");\n  return `${day.replace(\",\", \"\").padStart(2, \"0\")}/${months[month]}/${year}`;\n};\n\nconst formatTime = (timeStr) => {\n  const [time, meridiem] = timeStr.split(\" \");\n  let [hour, minute] = time.split(\":\").map(Number);\n  if (meridiem === \"pm\" && hour !== 12) hour += 12;\n  if (meridiem === \"am\" && hour === 12) hour = 0;\n  return `${hour.toString().padStart(2, \"0\")}:${minute.toString().padStart(2, \"0\")}`;\n};\n\nconst dateStr = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Date\"] || '';\nconst timeStr = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Time\"] || '';\n\nconst formattedDateTime = `${formatDate(dateStr)} ${formatTime(timeStr)}`;\n\n// INFORMAÇÕES PESSOAIS\nconst nome = formatarNome($node[\"aplicacao_parcerias\"].json[\"body\"][\"Seu primeiro nome\"]) || \"\";\nconst telefone = formatarTelefone($node[\"aplicacao_parcerias\"].json[\"body\"][\"Seu DDD+WhatsApp\"]) || '';\nconst instagram = formatarInstagram($node[\"aplicacao_parcerias\"].json[\"body\"][\"Informe o @ do seu Instagram\"]) || '';\nconst email = formatarEmail($node[\"aplicacao_parcerias\"].json[\"body\"][\"Seu melhor e-mail\"]) || \"\";\n\n//PERGUNTAS\nconst pergunta0 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Qual é o nome da sua empresa?\"] || '';\nconst pergunta1 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Você já tem um produto/serviço validado?\"] || '';\nconst pergunta2 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Qual foi o seu faturamento em 2023?\"] || '';\nconst pergunta3 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Qual é a meta de faturamento para 2024?\"] || '';\nconst pergunta4 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Quantas pessoas trabalham na sua empresa?\"] || '';\nconst pergunta5 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Qual é o seu modelo de negócio aqui no digital?\"] || '';\nconst pergunta6 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Qual profissional você está procurando? Se ainda não tem certeza, descreva a função que precisa ser realizada.\"] || '';\nconst pergunta7 = '' || '';\nconst pergunta8 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Você está com alguma vaga aberta para contratar agora?\"] || '';\nconst pergunta9 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta9\"] || '';\nconst pergunta10 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta10\"] || '';\nconst pergunta11 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta11\"] || '';\nconst pergunta12 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta12\"] || '';\nconst pergunta13 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta13\"] || '';\nconst pergunta14 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta14\"] || '';\nconst pergunta15 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta15\"] || '';\nconst pergunta16 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta16\"] || '';\nconst pergunta17 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta17\"] || '';\nconst pergunta18 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta18\"] || '';\nconst pergunta19 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta19\"] || '';\nconst pergunta20 = $node[\"aplicacao_parcerias\"].json[\"body\"][\"pergunta20\"] || '';\nconst parceiro =  $node[\"aplicacao_parcerias\"].json[\"body\"][\"parceiro\"] || '';\nconst qualificacao = $node[\"aplicacao_parcerias\"].json[\"body\"][\"Status Lead\"] || '';\nconst origem = $node[\"aplicacao_parcerias\"].json[\"body\"][\"origem\"] || '';\nconst funil = $node[\"aplicacao_parcerias\"].json[\"body\"][\"funil\"] || '';\nconst celula = $node[\"aplicacao_parcerias\"].json[\"body\"][\"celula\"] || '';\n\n// Montar o objeto de output\nconst output = {\n \"Nome do Cliente\": nome,\n \"E-mail do Cliente\": email,\n \"Telefone do Cliente - Formato BC\": '+' + telefone,\n \"Telefone do Cliente - Formato Z-API\": telefone,\n  instagram,\n  pergunta0,\n  pergunta1,\n  pergunta2,\n  pergunta3,\n  pergunta4,\n  pergunta5,\n  pergunta6,\n  pergunta7,\n  pergunta8,\n  pergunta9,\n  pergunta10,\n  pergunta11,\n  pergunta12,\n  pergunta13,\n  pergunta14,\n  pergunta15,\n  pergunta16,\n  pergunta17,\n  pergunta18,\n  pergunta19,\n  pergunta20,\n  parceiro,\n  celula,\n  funil,\n  origem,\n  utm_content: utmContent,\n  utm_source: utmSource,\n  utm_campaign: utmCampaign,\n  utm_medium: utmMedium,\n  utm_term: utmTerm,\n  data_ultima_quinzena: getDataMenos15Dias(),\n  qualificacao: qualificacao,\n  data_aplicacao_milessegundos: dataAtualEmMilissegundos,\n  data_aplicacao: formattedDateTime\n};\n\nreturn [output];"
      },
      "id": "b56c5887-bc48-4e95-9d99-3f80b7d244da",
      "name": "formata_dados5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        60,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados5\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados5\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "=Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"formata_dados5\"].json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados5\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"formata_dados5\"].json[\"instagram\"]}}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"formata_dados5\"].json[\"pergunta20\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados5\"].json[\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados5\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados5\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados5\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados5\"].json[\"utm_term\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"formata_dados5\"].json[\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "3065086"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1780336"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "1780335"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1780334"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1780337"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1780338"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1780345"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1780344"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "1776705"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "1780340"
            },
            {
              "name": "id_campo_id_lead_crm_bot_conversa",
              "value": "1780343"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "1789193"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "6979786"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "7005347"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "1654521"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "1654523"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "1654886"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "1654541"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "1689038"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "1772554"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "1772555"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "1782967"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "1814217"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_link_do_instagram_crm",
              "value": "4d4434db-7404-4ca3-8586-88aacbe0069f"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_pergunta0_crm",
              "value": "38f71e36-b8c8-42a4-aab3-0eede967e3ec"
            },
            {
              "name": "id_campo_pergunta1_crm",
              "value": "cfdc19bd-7efe-48e2-8b83-ee721b0bf56c"
            },
            {
              "name": "id_campo_pergunta2_crm",
              "value": "9f7b4da0-1df8-45cc-8d19-3dc13b3c6120"
            },
            {
              "name": "id_campo_pergunta3_crm",
              "value": "ce42f281-0ad4-491b-b918-25754365f2fb"
            },
            {
              "name": "id_campo_pergunta4_crm",
              "value": "04fc4778-f22a-4343-8217-03257f178662"
            },
            {
              "name": "id_campo_pergunta5_crm"
            },
            {
              "name": "id_campo_pergunta6_crm"
            },
            {
              "name": "id_campo_pergunta7_crm"
            },
            {
              "name": "id_campo_pergunta8_crm",
              "value": "6d05cee0-28f8-474c-84cd-35e76468094c"
            },
            {
              "name": "id_campo_pergunta9_crm"
            },
            {
              "name": "id_campo_pergunta10_crm"
            },
            {
              "name": "id_campo_pergunta11_crm"
            },
            {
              "name": "id_campo_pergunta12_crm"
            },
            {
              "name": "id_campo_pergunta13_crm"
            },
            {
              "name": "id_campo_pergunta14_crm"
            },
            {
              "name": "id_campo_pergunta15_crm"
            },
            {
              "name": "id_campo_pergunta16_crm"
            },
            {
              "name": "id_campo_pergunta17_crm"
            },
            {
              "name": "id_campo_pergunta18_crm"
            },
            {
              "name": "id_campo_pergunta19_crm"
            },
            {
              "name": "id_campo_pergunta20_crm"
            },
            {
              "name": "id_stage_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_downsell_crm"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_crm_origem",
              "value": "ba2292d8-b72b-48b1-b2b6-159456a98d63"
            },
            {
              "name": "funil",
              "value": "=sessao-estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "status_sessao_estrategica_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_ending_typeform"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_status_do_lead_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_status_do_lead_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_produto_mentoria_escala_ sem_caos_crm",
              "value": "fbd2bb16-6676-43bd-9938-fca73139fede"
            },
            {
              "name": "id_campo_produto_implementacao_escala_ sem_caos_crm",
              "value": "49b06aaf-209a-4a2c-84e0-65a6e135ab12"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"formata_dados5\"].json[\"qualificacao\"] }}"
            },
            {
              "name": "etapa_pre_desqualificados_crm",
              "value": "77544d86-43b7-4cf6-bc87-ea059abbd7a5"
            },
            {
              "name": "etapa_pre_qualificados_crm",
              "value": "2c64ca7b-3988-4ce5-9163-be272209072b"
            },
            {
              "name": "id_campo_id_bc_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_data_da_aplicacao_crm",
              "value": "00ad74e6-783f-4153-8bfd-9bf9a5b39857"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "1814725"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "data_resposta_type_milesegundos",
              "value": "={{ $node[\"formata_dados5\"].json[\"data_aplicacao\"] }}"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_status_aplicacao_realizada_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_fluxo_popular_campos",
              "value": "3317483"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"formata_dados5\"].json[\"parceiro\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados5\"].json[\"funil\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"formata_dados5\"].json[\"origem\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"formata_dados5\"].json[\"celula\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{$node[\"formata_dados5\"].json[\"parceiro\"].toLowerCase().includes('clint') ? 'parceiro-clint' : 'parceiro-henrique-marinho'  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22022ff0-ab6c-40a8-8c2a-b84666925234",
      "name": "dados_validados5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aplicacao-parcerias",
        "options": {}
      },
      "id": "552d6518-1823-4ed5-88de-50ca35673be4",
      "name": "aplicacao_parcerias",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        260
      ],
      "webhookId": "6d98d62e-2ca9-48f8-b747-5c0915fa0c81"
    }
  ],
  "pinData": {
    "id_etapas": [
      {
        "json": {
          "data": {
            "pipe": {
              "phases": [
                {
                  "id": "321485752",
                  "name": "NOVO LEAD"
                },
                {
                  "id": "317628280",
                  "name": "PRIMEIRO CONTATO"
                },
                {
                  "id": "317628283",
                  "name": "CONECTADO"
                },
                {
                  "id": "319617945",
                  "name": "OFERTA / REUNIÃO"
                },
                {
                  "id": "319618284",
                  "name": "FOLLOW-UP"
                },
                {
                  "id": "322398971",
                  "name": "CONTRATO ENVIADO"
                },
                {
                  "id": "317720323",
                  "name": "VENDA REALIZADA"
                },
                {
                  "id": "317762640",
                  "name": "PERDIDOS"
                }
              ]
            }
          }
        }
      }
    ],
    "get_users": [
      {
        "json": {
          "data": {
            "organization": {
              "id": "300890854",
              "name": "Portus Digital",
              "members": [
                {
                  "role_name": "admin",
                  "user": {
                    "id": "302129244",
                    "email": "kelly@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "super_admin",
                  "user": {
                    "id": "302206469",
                    "email": "igor@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "admin",
                  "user": {
                    "id": "302208885",
                    "email": "bruno@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "admin",
                  "user": {
                    "id": "302214410",
                    "email": "laila@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "302214458",
                    "email": "thais@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "admin",
                  "user": {
                    "id": "302237700",
                    "email": "lucas.lacerda@pipefy.com"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "302270341",
                    "email": "gabriela@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "302277865",
                    "email": "karen@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "302284256",
                    "email": "mariele@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "302333602",
                    "email": "juliana@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "302413323",
                    "email": "giovana@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "super_admin",
                  "user": {
                    "id": "302597257",
                    "email": "marcos@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "302677437",
                    "email": "financeiro@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "303149971",
                    "email": "vitor@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "303175486",
                    "email": "leticia@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "303180119",
                    "email": "raquel@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "303206080",
                    "email": "romulo@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "303239849",
                    "email": "beatriz@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "304041444",
                    "email": "jessica.barbara@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "304193055",
                    "email": "stephanie@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "304242346",
                    "email": "acessos@automagicbots.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "304308054",
                    "email": "luiza@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "304329483",
                    "email": "marcelo.eleto@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "304398254",
                    "email": "anna@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "304398255",
                    "email": "jessicadomingues@portusdigital.com.br"
                  }
                },
                {
                  "role_name": "normal",
                  "user": {
                    "id": "304403404",
                    "email": "ivan@portusdigital.com.br"
                  }
                }
              ]
            }
          }
        }
      }
    ],
    "aplicacao_realizada": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookportus.automagicbots.com.br",
            "user-agent": "WordPress/6.5.3; https://se.portusdigital.com.br",
            "content-length": "1358",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "66.206.11.114",
            "x-forwarded-host": "n8nwebhookportus.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d71ef73d891d",
            "x-real-ip": "66.206.11.114"
          },
          "params": {},
          "query": {},
          "body": {
            "No Label field_990af99": "",
            "Seu primeiro nome": "Jailson Clint",
            "Seu DDD+WhatsApp": "71992594557",
            "Seu melhor e-mail": "jailsonclint1@gmail.com",
            "Informe o @ do seu Instagram": "jailsonclint1",
            "No Label arroba": "",
            "Qual é o nome da sua empresa?": "Empresa Clint",
            "Você já tem um produto/serviço validado?": "Sim",
            "Qual foi o seu faturamento em 2023?": "Entre 3 e 5M",
            "Qual é a meta de faturamento para 2024?": "50M",
            "No Label field_8f233e2": "",
            "Quantas pessoas trabalham na sua empresa?": "⁠Estou sozinho",
            "Qual é o seu modelo de negócio aqui no digital?": "Empresa de educação",
            "Qual profissional você está procurando? Se ainda não tem certeza, descreva a função que precisa ser realizada.": "Profissional procurado",
            "utm_source": "",
            "utm_content": "",
            "utm_campaign": "",
            "utm_term": "",
            "utm_medium": "",
            "parceiro": "Sessão Estratégica",
            "celula": "",
            "funil": "",
            "origem": "",
            "Date": "Junho 4, 2024",
            "Time": "8:14 pm",
            "Page URL": "https://se.portusdigital.com.br/teste-2/?nome=Jailson+Clint&whatsapp=71992594557&email=jailsonclint1%40gmail.com&instagram=jailsonclint1",
            "User Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
            "Remote IP": "2804:4ec:103c:4000:d5e1:657f:835e:ed67",
            "Powered by": "Elementor",
            "form_id": "1f7920a",
            "form_name": "Formulário"
          }
        }
      }
    ],
    "aplicacao_manychat": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookportus.automagicbots.com.br",
            "user-agent": "ManyChat",
            "content-length": "1266",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "18.193.73.165",
            "x-forwarded-host": "n8nwebhookportus.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d71ef73d891d",
            "x-real-ip": "18.193.73.165",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "key": "user:1570075255",
            "id": "1570075255",
            "page_id": "106673468731104",
            "user_refs": [],
            "status": "active",
            "first_name": "𝙈𝙖𝙩𝙚𝙪𝙨",
            "last_name": "𝘿𝙞𝙣𝙞𝙯 | Automações",
            "name": "𝙈𝙖𝙩𝙚𝙪𝙨 𝘿𝙞𝙣𝙞𝙯 | Automações",
            "gender": null,
            "profile_pic": "https://manychat.com/ava/106673468731104/1570075255/8d1d5ed87f9d638fbc200fe5891df3cf",
            "locale": null,
            "language": null,
            "timezone": "UTC±00",
            "live_chat_url": "https://manychat.com/fb106673468731104/chat/1570075255",
            "last_input_text": "1 milhão",
            "optin_phone": false,
            "phone": null,
            "optin_email": true,
            "email": "mateusdiniz@automagicbots.com.br",
            "subscribed": "2024-05-23T17:28:16-03:00",
            "last_interaction": null,
            "ig_last_interaction": "2024-05-24T11:49:13-03:00",
            "last_seen": null,
            "ig_last_seen": "2024-05-24T11:49:13-03:00",
            "is_followup_enabled": true,
            "ig_username": "prmateusdiniz",
            "ig_id": 310474522103342,
            "whatsapp_phone": null,
            "optin_whatsapp": false,
            "phone_country_code": null,
            "last_growth_tool": null,
            "custom_fields": {
              "Telefone": 62981196678,
              "Checkpoint": "final",
              "nome_empresa": "Automagic bots",
              "qtd_funcionarios": "6 a 15 funcionários",
              "faturamento": "Entre 70 e 100k",
              "modelo_negocio": "Tecnologia",
              "qual_profissional": "Testando automação",
              "meta_2024": "1 milhão",
              "Checkpoint2": "final"
            }
          }
        }
      }
    ],
    "aplicacao_SE_highTicket": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookportus.automagicbots.com.br",
            "user-agent": "WordPress/6.5.3; https://se.portusdigital.com.br",
            "content-length": "827",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "66.206.11.114",
            "x-forwarded-host": "n8nwebhookportus.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d71ef73d891d",
            "x-real-ip": "66.206.11.114"
          },
          "params": {},
          "query": {},
          "body": {
            "Seu primeiro nome": "Mateus Diniz (automagicbots)",
            "Seu DDD+WhatsApp": "62981196678",
            "Seu melhor e-mail": "mateusdiniz@automagicbots.com.br",
            "Informe o @ do seu Instagram": "prmateusdiniz",
            "Você está com alguma vaga aberta para contratar agora?": "Ainda não, mas sinto que preciso de gente e abrirei em breve.",
            "utm_source": "",
            "utm_content": "",
            "utm_campaign": "",
            "utm_term": "",
            "utm_medium": "",
            "parceiro": "Sessão Estratégica",
            "celula": "",
            "funil": "",
            "origem": "",
            "Date": "Maio 31, 2024",
            "Time": "9:31 pm",
            "Page URL": "https://se.portusdigital.com.br/sessao-estrategica-highticket/",
            "User Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
            "Remote IP": "2804:1a90:9076:9000:9127:f752:e270:f7df",
            "Powered by": "Elementor",
            "form_id": "604031c",
            "form_name": "Formulário"
          }
        }
      }
    ],
    "aplicacao_SE_escala": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookportus.automagicbots.com.br",
            "user-agent": "WordPress/6.5.3; https://se.portusdigital.com.br",
            "content-length": "890",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "66.206.11.114",
            "x-forwarded-host": "n8nwebhookportus.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d71ef73d891d",
            "x-real-ip": "66.206.11.114"
          },
          "params": {},
          "query": {},
          "body": {
            "Seu primeiro nome": "Mateus Diniz (automagicbots)",
            "Seu DDD+WhatsApp": "62981196678",
            "Seu melhor e-mail": "mateusdiniz@automagicbots.com.br",
            "Informe o @ do seu Instagram": "prmateusdiniz",
            "Você está com alguma vaga aberta para contratar agora?": "Não estou com vagas abertas e não pretendo contratar agora.",
            "utm_source": "",
            "utm_content": "",
            "utm_campaign": "",
            "utm_term": "",
            "utm_medium": "",
            "parceiro": "Sessão Estratégica",
            "celula": "",
            "funil": "",
            "origem": "",
            "Date": "Maio 31, 2024",
            "Time": "9:20 pm",
            "Page URL": "https://se.portusdigital.com.br/sessao-estrategica-escala/?preview_id=1173&preview_nonce=4a23541a94&preview=true",
            "User Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
            "Remote IP": "2804:1a90:9076:9000:9127:f752:e270:f7df",
            "Powered by": "Elementor",
            "form_id": "604031c",
            "form_name": "Formulário"
          }
        }
      }
    ],
    "aplicacao_parcerias": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookportus.automagicbots.com.br",
            "user-agent": "WordPress/6.5.3; https://se.portusdigital.com.br",
            "content-length": "1042",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "66.206.11.114",
            "x-forwarded-host": "n8nwebhookportus.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d71ef73d891d",
            "x-real-ip": "66.206.11.114"
          },
          "params": {},
          "query": {},
          "body": {
            "Seu primeiro nome": "Jailson HM",
            "Seu DDD+WhatsApp": "71992594557",
            "Seu melhor e-mail": "jailsonhm@teste.io",
            "Informe o @ do seu Instagram": "hm.io",
            "Você está com alguma vaga aberta para contratar agora?": "Não estou com vagas abertas e não pretendo contratar agora.",
            "utm_source": "manychat",
            "utm_content": "adv2",
            "utm_campaign": "ad4",
            "utm_term": "hot",
            "utm_medium": "image",
            "parceiro": "Henrique Marinho - highticket",
            "celula": "celulateste",
            "funil": "funilteste",
            "origem": "teste",
            "Date": "Junho 4, 2024",
            "Time": "8:26 pm",
            "Page URL": "https://se.portusdigital.com.br/henriquemarinho-se/?parceiro=Henrique%20Marinho%20-%20highticket&celula=celulateste&funil=funilteste&utm_source=manychat&utm_medium=image&utm_content=adv2&utm_campaign=ad4&utm_term=hot&origem=teste",
            "User Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36",
            "Remote IP": "2804:4ec:103c:4000:d5e1:657f:835e:ed67",
            "Powered by": "Elementor",
            "form_id": "604031c",
            "form_name": "Formulário"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "p3FaRDkYc5EoM9KR"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 5,
  "updatedAt": "2024-06-04T20:37:37.877Z",
  "versionId": "a0237e75-3492-4926-aeb1-750799b1b9ee"
}