workflows/✅⌚[PORTUS][WEBINAR][RESPONDI] | PARTE 1.json
{
  "active": false,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados_validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_validados": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao_realizada": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_WhatsApp": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3s": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3s1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "3s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-04T17:45:31.018Z",
  "id": "fVTWtWVnk3CZQFqM",
  "meta": null,
  "name": "✅⌚[PORTUS][WEBINAR][RESPONDI] | PARTE 1",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  table(id:\"302838347\"){\n    table_fields{\n      id\n      label\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "9268254d-8abf-4ecb-b706-d284c4ffe5e2",
      "name": "get_id_campos_tables",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        380,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={  \n  pipe(id:302838347){\n    phases{ \n        id\n        name\n   }\n }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "0af5ab75-5b79-488a-b367-a79d218a5f64",
      "name": "id_etapas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  organization(id:300890854) {\n    id\n    name\n    members{\n      role_name\n      user {\n        id\n        email\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "36fca1a1-52e6-461b-8898-11853f7414b0",
      "name": "get_users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={\n  card(id: 884459980) {\n    id\n    fields {\n      name\n      value\n    }\n  }\n}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "efaba78a-810f-4950-a895-7c1b69eac07c",
      "name": "get_values_fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MTAwNzk2NDAsImp0aSI6Ijk0MmJkYTNhLTdhNjctNDg3My05NTMxLTkzMDU0MWExMWJiOSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMzA5NjgsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.yKZ1FNzA67oGFN152hMLs5FIkzRmYhawUPhJHdjLtud_CepdDMl9pLHX5hHb4b02NfITTqCtao0pJRb3-ceySw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=mutation {\n  createCard(input: {\n    pipe_id: \"302838347\",\n    phase_id: \"321485752\",\n    title: \"@heltonrdgs\",\n    fields_attributes: [\n      {field_id: \"respons_vel\", field_value: \"302208885\"},\n      {field_id: \"nome_do_representante_p_blico\", field_value: \"@heltonrdgs\"},\n      {field_id: \"nome_da_vaga\", field_value: \"@heltonrdgs\"},\n      {field_id: \"nome_do_lead\", field_value: \"@heltonrdgs\"},\n      {field_id: \"email\", field_value: \"contato@heltonrodrigues.com.br\"},\n      {field_id: \"whatsapp_do_lead\", field_value: \"+558398539693\"},\n      {field_id: \"cargo_do_lead\", field_value: \"@heltonrdgs\"},\n      {field_id: \"quantas_pessoas_tem_no_time_atual\", field_value: \"1\"},\n      {field_id: \"qual_tipo_de_servi_o_deseja_contratar\", field_value: \"Ambos\"},\n      {field_id: \"como_ficou_sabendo_da_portus\", field_value: \"Instagram\"},\n      {field_id: \"de_quem_foi_a_indica_o\", field_value: \"@heltonrdgs\"},\n      {field_id: \"empresa\", field_value: \"@heltonrdgs\"},\n      {field_id: \"sites_e_ou_redes_sociais_da_empresa_ou_projetos_em_que_o_candidato_atuar\", field_value: \"@heltonrdgs\"},\n      {field_id: \"tipo_de_contrato\", field_value: \"Certificação\"},\n      {field_id: \"valor_da_vaga\", field_value: \"1\"},\n      {field_id: \"copy_of_garantia\", field_value: \"Taxa de Abertura + Diferença\"},\n      {field_id: \"garantia\", field_value: \"12 meses\"},\n      {field_id: \"explique_um_pouco_sobre_o_seu_desafio_com_a_gest_o_de_pessoas\", field_value: \"@heltonrdgs\"},\n      {field_id: \"outras_observa_es_sobre_a_vaga\", field_value: \"@heltonrdgs\"}\n    ]\n  }) {\n    card {\n      id\n    }\n  }\n}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "811f4d1a-5705-44cb-9446-078e6614f333",
      "name": "create_deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        580,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webnar-portus-respondi",
        "options": {}
      },
      "id": "cd650fd3-1063-4aac-a8b1-7ddddcb0db74",
      "name": "aplicacao_realizada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        460
      ],
      "webhookId": "aac5ca6d-d381-4d9e-98e5-6a5b881f3905"
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = items[0].json;\nconst respostas = inputData.body;\n\n// Função para obter a data atual menos 15 dias no formato brasileiro (dia/mês/ano)\nfunction getDataMenos15Dias() {\n  const dataAtual = new Date();\n  dataAtual.setDate(dataAtual.getDate() - 15);\n  const dia = dataAtual.getDate().toString().padStart(2, '0');\n  const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); // +1 porque o mês começa em 0\n  const ano = dataAtual.getFullYear();\n  return `${ano}-${mes}-${dia}`;\n}\n\n// Função para formatação de usernames do Instagram/site\nfunction formatarInstagram(input) {\n  if (input) {\n    // Verificar se é um site\n    const siteRegex = /^(http|https):\\/\\/(.*)\\.(.*)$/;\n    if (siteRegex.test(input)) {\n      // Se for um site, retornar o input sem formatação\n      return input;\n    } else {\n      // Remover espaços em branco extras e o símbolo \"@\"\n      const usernameSemEspacosOuArroba = input.trim().replace(/@/g, '');\n\n      // Converter para minúsculas\n      const usernameFormatado = usernameSemEspacosOuArroba.toLowerCase();\n\n      return usernameFormatado;\n    }\n  }\n  return '';\n}\n\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// UTMS\nconst utmContent = utms.utm_content || '';\nconst utmSource = utms.utm_source || '';\nconst utmCampaign = utms.utm_campaign || '';\nconst utmMedium = utms.utm_medium || '';\nconst utmTerm = utms.utm_term || '';\n\n// Função para formatação de emails\nfunction formatarEmail(email) {\n  // Remover espaços em branco extras\n  const emailSemEspacos = email.trim();\n\n  // Converter para minúsculas\n  const emailFormatado = emailSemEspacos.toLowerCase();\n\n  return emailFormatado;\n}\n\n// Função para formatação de nomes\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n\nconst data_app = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"date\"] || '';\n\n// INFORMAÇÕES PESSOAIS\nconst nome = formatarNome($node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Seu primeiro nome\"]) || \"\";\nconst telefone = formatarTelefone($node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Seu DDD+WhatsApp\"]) || '';\nconst instagram = formatarInstagram($node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Informe o @ do seu Instagram\"]) || '';\nconst email = formatarEmail($node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Seu melhor e-mail\"]) || \"\";\n\n//PERGUNTAS\nconst pergunta0 = '';\nconst pergunta1 = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Quantas pessoas trabalham na sua empresa?\"] || '';\nconst pergunta2 = '';\nconst pergunta3 = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Você já tem produto/serviço validado?\"] || '';\nconst pergunta4 = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Qual foi o seu faturamento em 2023?\"] || '';\nconst pergunta5 = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Qual é a sua meta de faturamento para 2024?\"] || '';\nconst pergunta6 = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Você está com alguma vaga aberta para contratar agora?\"] || \"\";\nconst pergunta7 = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Qual profissional você está procurando? Se ainda não tem certeza, descreva a função que precisa ser realizada.\"] || '';\nconst pergunta8 = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Qual é o nome da sua empresa?\"] || '';\nconst pergunta9 = $node[\"aplicacao_realizada\"].json[\"body\"][\"respondent\"][\"answers\"][\"Qual é o seu modelo de negócio aqui no digital?\"] || '';\nconst pergunta10 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta10\"] || '';\nconst pergunta11 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta11\"] || '';\nconst pergunta12 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta12\"] || '';\nconst pergunta13 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta13\"] || '';\nconst pergunta14 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta14\"] || '';\nconst pergunta15 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta15\"] || '';\nconst pergunta16 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta16\"] || '';\nconst pergunta17 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta17\"] || '';\nconst pergunta18 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta18\"] || '';\nconst pergunta19 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta19\"] || '';\nconst pergunta20 = $node[\"aplicacao_realizada\"].json[\"body\"][\"pergunta20\"] || '';\nconst parceiro =  $node[\"aplicacao_realizada\"].json[\"body\"][\"parceiro\"] || '';\nconst qualificacao = $node[\"aplicacao_realizada\"].json[\"body\"][\"Status Lead\"] || '';\nconst celula = $node[\"aplicacao_realizada\"].json[\"body\"][\"celula\"] || '';\nconst funil = $node[\"aplicacao_realizada\"].json[\"body\"][\"funil\"] || '';\nconst origem = $node[\"aplicacao_realizada\"].json[\"body\"][\"origem\"] || '';\nconst form_id = $node[\"aplicacao_realizada\"].json[\"body\"][\"form\"][\"form_id\"] || '';\n\n// Montar o objeto de output\nconst output = {\n \"Nome do Cliente\": nome,\n \"E-mail do Cliente\": email,\n \"Telefone do Cliente - Formato BC\": '+' + telefone,\n \"Telefone do Cliente - Formato Z-API\": telefone,\n  instagram,\n  pergunta0,\n  pergunta1,\n  pergunta2,\n  pergunta3,\n  pergunta4,\n  pergunta5,\n  pergunta6,\n  pergunta7,\n  pergunta8,\n  pergunta9,\n  pergunta10,\n  pergunta11,\n  pergunta12,\n  pergunta13,\n  pergunta14,\n  pergunta15,\n  pergunta16,\n  pergunta17,\n  pergunta18,\n  pergunta19,\n  pergunta20,\n  parceiro,\n  origem,\n  funil,\n  celula,\n  utm_content: utmContent,\n  utm_source: utmSource,\n  utm_campaign: utmCampaign,\n  utm_medium: utmMedium,\n  utm_term: utmTerm,\n  data_ultima_quinzena: getDataMenos15Dias(),\n  data_aplicacao: data_app,\n  form_id\n};\n\nreturn [output];"
      },
      "id": "e4637001-5976-4dd9-91ca-9671a2ad10a4",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        60,
        460
      ]
    },
    {
      "parameters": {
        "queue": "Portus - [Webnario][Maio de 2023]",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "c3f69d39-7261-4ab8-8c61-cb285c70d0d5",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        500,
        460
      ],
      "credentials": {
        "rabbitmq": {
          "id": "quc6gfdQpKCDLaHX",
          "name": "[RabbitMQ] - Portus"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"instagram\"]}}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta20\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"formata_dados\"].json[\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "3065086"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1780336"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "1780335"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1780334"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1780337"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1780338"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1780345"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1780344"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "1776705"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "1780340"
            },
            {
              "name": "id_campo_id_lead_crm_bot_conversa",
              "value": "1780343"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "1789193"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "6979786"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "7005347"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "1654521"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "1654523"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "1654886"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "1654541"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "1689038"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "1772554"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "1772555"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "1782967"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "1814217"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_link_do_instagram_crm",
              "value": "4d4434db-7404-4ca3-8586-88aacbe0069f"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_pergunta0_crm",
              "value": "38f71e36-b8c8-42a4-aab3-0eede967e3ec"
            },
            {
              "name": "id_campo_pergunta1_crm",
              "value": "cfdc19bd-7efe-48e2-8b83-ee721b0bf56c"
            },
            {
              "name": "id_campo_pergunta2_crm",
              "value": "9f7b4da0-1df8-45cc-8d19-3dc13b3c6120"
            },
            {
              "name": "id_campo_pergunta3_crm",
              "value": "ce42f281-0ad4-491b-b918-25754365f2fb"
            },
            {
              "name": "id_campo_pergunta4_crm",
              "value": "04fc4778-f22a-4343-8217-03257f178662"
            },
            {
              "name": "id_campo_pergunta5_crm"
            },
            {
              "name": "id_campo_pergunta6_crm"
            },
            {
              "name": "id_campo_pergunta7_crm"
            },
            {
              "name": "id_campo_pergunta8_crm",
              "value": "6d05cee0-28f8-474c-84cd-35e76468094c"
            },
            {
              "name": "id_campo_pergunta9_crm"
            },
            {
              "name": "id_campo_pergunta10_crm"
            },
            {
              "name": "id_campo_pergunta11_crm"
            },
            {
              "name": "id_campo_pergunta12_crm"
            },
            {
              "name": "id_campo_pergunta13_crm"
            },
            {
              "name": "id_campo_pergunta14_crm"
            },
            {
              "name": "id_campo_pergunta15_crm"
            },
            {
              "name": "id_campo_pergunta16_crm"
            },
            {
              "name": "id_campo_pergunta17_crm"
            },
            {
              "name": "id_campo_pergunta18_crm"
            },
            {
              "name": "id_campo_pergunta19_crm"
            },
            {
              "name": "id_campo_pergunta20_crm"
            },
            {
              "name": "id_stage_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_downsell_crm"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_crm_origem",
              "value": "ba2292d8-b72b-48b1-b2b6-159456a98d63"
            },
            {
              "name": "funil",
              "value": "=sessao-estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "webninario-maio-2023"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "status_sessao_estrategica_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_ending_typeform"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_status_do_lead_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_status_do_lead_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_produto_mentoria_escala_ sem_caos_crm",
              "value": "fbd2bb16-6676-43bd-9938-fca73139fede"
            },
            {
              "name": "id_campo_produto_implementacao_escala_ sem_caos_crm",
              "value": "49b06aaf-209a-4a2c-84e0-65a6e135ab12"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"formata_dados\"].json[\"qualificacao\"] }}"
            },
            {
              "name": "etapa_pre_desqualificados_crm",
              "value": "77544d86-43b7-4cf6-bc87-ea059abbd7a5"
            },
            {
              "name": "etapa_pre_qualificados_crm",
              "value": "2c64ca7b-3988-4ce5-9163-be272209072b"
            },
            {
              "name": "id_campo_id_bc_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_data_da_aplicacao_crm",
              "value": "00ad74e6-783f-4153-8bfd-9bf9a5b39857"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "1814725"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "data_resposta_type_milesegundos",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_status_aplicacao_realizada_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_fluxo_popular_campos",
              "value": "3317483"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"formata_dados\"].json[\"parceiro\"] }}"
            },
            {
              "name": "origem",
              "value": "={{ $node[\"formata_dados\"].json[\"origem\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados\"].json[\"funil\"] }}"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"formata_dados\"].json[\"celula\"] }}"
            },
            {
              "name": "form_id",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c7703d74-0922-4223-b7c3-73a9ab912d92",
      "name": "dados_validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        280,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Para consulta\n\npergunta0 - Já conhece a Portüs Digital? \npergunta1 - Quantas pessoas trabalham na sua empresa?\npergunta2 - Qual é o seu cargo?\npergunta3 - Vocês já têm um produto/serviço validado?\npergunta4 - Qual é o faturamento mensal aproximado dessa empresa?\npergunta5 - Qual é a meta de faturamento anual para 2024?\npergunta6 - Você está com alguma vaga aberta AGORA?\npergunta7 - Qual profissional você está procurando? Em caso de não estar, conte pra gente, de forma breve, qual setor do seu negócio te preocupa no momento.\npergunta8 - Qual é o nome da sua empresa?\npergunta9 - Qual é o seu modelo de negócio aqui no digital?\npergunta10 -\npergunta11 -\npergunta12 -\npergunta13 -\npergunta14 -\npergunta15 -\npergunta16 -\npergunta17 - \npergunta18 - \npergunta19 - \npergunta20 - \n",
        "height": 500.46734209864053,
        "width": 1350.4065409393916
      },
      "id": "68fe9f8f-d9a7-4af4-8db6-6d05ffca1e40",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1O8y09-lnDCyCaOyXycg4n4cdOKmFvVK1O6jzcsnKPF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 520149888,
          "mode": "list",
          "cachedResultName": "Trafego",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8y09-lnDCyCaOyXycg4n4cdOKmFvVK1O6jzcsnKPF0/edit#gid=520149888"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WhatsApp": "={{ $node[\"dados_validados\"].json[\"Telefone do Cliente - Formato Z-API\"] }}",
            "Data de entrada": "={{ $node[\"dados_validados\"].json[\"data_resposta_type\"].slice (0,10) }}",
            "Origem": "={{ $node[\"dados_validados\"].json[\"utm_source\"] }} / {{ $node[\"dados_validados\"].json[\"utm_campaign\"] }} / {{ $node[\"dados_validados\"].json[\"utm_medium\"] }} / {{ $node[\"dados_validados\"].json[\"utm_content\"] }}",
            "Nome": "={{ $node[\"dados_validados\"].json[\"Nome do Cliente\"] }}",
            "E-mail": "={{ $node[\"dados_validados\"].json[\"E-mail do Cliente\"] }}",
            "instagram": "={{ $node[\"dados_validados\"].json[\"Instagram\"] }}"
          },
          "matchingColumns": [
            "WhatsApp"
          ],
          "schema": [
            {
              "id": "Data de entrada",
              "displayName": "Data de entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem",
              "displayName": "Origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Já conhecia a Kelly Eleto?",
              "displayName": "Já conhecia a Kelly Eleto?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O que fez você se inscrever",
              "displayName": "O que fez você se inscrever",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faz parte de algum mastermind ou mentoria?",
              "displayName": "Faz parte de algum mastermind ou mentoria?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você é dono de um negócio digital?",
              "displayName": "Você é dono de um negócio digital?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual é o seu modelo de negócio?",
              "displayName": "Qual é o seu modelo de negócio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantos funcionarios",
              "displayName": "Quantos funcionarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estrutura do time",
              "displayName": "estrutura do time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E o que te deixa mais insatisfeito com esse time hoje?",
              "displayName": "E o que te deixa mais insatisfeito com esse time hoje?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preso no operacional do seu negócio? O que sente que isso te custa no dia a dia?",
              "displayName": "preso no operacional do seu negócio? O que sente que isso te custa no dia a dia?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faturamento nos últimos 12 meses",
              "displayName": "faturamento nos últimos 12 meses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta de faturamento para 2024",
              "displayName": "meta de faturamento para 2024",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "principal dificuldade",
              "displayName": "principal dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vagas em abertas",
              "displayName": "vagas em abertas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posso (re)estruturar sua equipe",
              "displayName": "Posso (re)estruturar sua equipe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "922da382-d648-472a-8699-f8cb3033f441",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        600,
        840
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PTisU6jVH6GN1bDQ",
          "name": "[Google Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "12484b27-d3a3-4f80-b0e5-3ab6a3e49cf4",
              "leftValue": "={{ $node[\"aplicacao_realizada\"].json[\"body\"][\"Page URL\"] }}",
              "rightValue": "WhatsApp",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3e71f0af-1023-4f0a-8234-8ce3317c49f4",
      "name": "é_WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        360,
        680
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1O8y09-lnDCyCaOyXycg4n4cdOKmFvVK1O6jzcsnKPF0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1264475429,
          "mode": "list",
          "cachedResultName": "WhatsApp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8y09-lnDCyCaOyXycg4n4cdOKmFvVK1O6jzcsnKPF0/edit#gid=1264475429"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WhatsApp": "={{ $node[\"dados_validados\"].json[\"Telefone do Cliente - Formato Z-API\"] }}",
            "Data de entrada": "={{ $node[\"dados_validados\"].json[\"data_resposta_type\"].slice (0,10) }}",
            "Origem": "=Disparo WhatsApp",
            "Nome": "={{ $node[\"dados_validados\"].json[\"Nome do Cliente\"] }}",
            "E-mail": "={{ $node[\"dados_validados\"].json[\"E-mail do Cliente\"] }}",
            "instagram": "={{ $node[\"dados_validados\"].json[\"Instagram\"] }}"
          },
          "matchingColumns": [
            "WhatsApp"
          ],
          "schema": [
            {
              "id": "Data de entrada",
              "displayName": "Data de entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem",
              "displayName": "Origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Já conhecia a Kelly Eleto?",
              "displayName": "Já conhecia a Kelly Eleto?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O que fez você se inscrever",
              "displayName": "O que fez você se inscrever",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faz parte de algum mastermind ou mentoria?",
              "displayName": "Faz parte de algum mastermind ou mentoria?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você é dono de um negócio digital?",
              "displayName": "Você é dono de um negócio digital?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual é o seu modelo de negócio?",
              "displayName": "Qual é o seu modelo de negócio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantos funcionarios",
              "displayName": "Quantos funcionarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estrutura do time",
              "displayName": "estrutura do time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E o que te deixa mais insatisfeito com esse time hoje?",
              "displayName": "E o que te deixa mais insatisfeito com esse time hoje?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preso no operacional do seu negócio? O que sente que isso te custa no dia a dia?",
              "displayName": "preso no operacional do seu negócio? O que sente que isso te custa no dia a dia?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "faturamento nos últimos 12 meses",
              "displayName": "faturamento nos últimos 12 meses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta de faturamento para 2024",
              "displayName": "meta de faturamento para 2024",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "principal dificuldade",
              "displayName": "principal dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vagas em abertas",
              "displayName": "vagas em abertas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posso (re)estruturar sua equipe",
              "displayName": "Posso (re)estruturar sua equipe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f61b7e58-5a75-46af-a0fa-3a60e46f7fe7",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        600,
        660
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PTisU6jVH6GN1bDQ",
          "name": "[Google Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "6fe192b6-e210-4fbb-ba8f-3dc90b06cbf9",
      "name": "3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        660
      ],
      "webhookId": "accd8bfe-193c-4a99-b51d-ca90ee8ca984"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rgg2JBWZZ7ZRuXwyDZJky8RmfgKxOVlFDz5ECq4SpQU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rgg2JBWZZ7ZRuXwyDZJky8RmfgKxOVlFDz5ECq4SpQU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $node[\"dados_validados\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "03814ab3-b00b-4e78-8f45-d57dd68219e2",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        980,
        660
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PTisU6jVH6GN1bDQ",
          "name": "[Google Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "fdb8f212-f309-488c-af4e-8420ef9df4ad",
      "name": "3s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        840
      ],
      "webhookId": "bde28724-d20f-4b08-bd36-8121e48d2fa7"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rgg2JBWZZ7ZRuXwyDZJky8RmfgKxOVlFDz5ECq4SpQU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rgg2JBWZZ7ZRuXwyDZJky8RmfgKxOVlFDz5ECq4SpQU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $node[\"dados_validados\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "3b148d99-0bd1-4ad7-80f9-db8ff782cdc0",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        980,
        840
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PTisU6jVH6GN1bDQ",
          "name": "[Google Sheets] - Automagic Bots"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "B5ErT6ObkzMJxzKU"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-04T17:45:31.018Z",
  "versionId": "f6915932-bcae-40e7-93cc-1fd8892f2471"
}