workflows/✅⌚[SESSÃO MANYCHAT] PRÉ-APLICAÇÃO | PARTE 1.json
{
  "active": true,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados_validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pre-aplicacao_manychat": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_validados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-24T11:50:03.010Z",
  "id": "53uVo5JmHaMZ5kuD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "✅⌚[SESSÃO MANYCHAT] PRÉ-APLICAÇÃO | PARTE 1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extrair informações do input\nconst inputData = items[0].json;\nconst respostas = inputData.body;\n\n// Função para obter a data atual menos 15 dias no formato brasileiro (dia/mês/ano)\nfunction getDataMenos15Dias() {\n  const dataAtual = new Date();\n  dataAtual.setDate(dataAtual.getDate() - 15);\n  const dia = dataAtual.getDate().toString().padStart(2, '0');\n  const mes = (dataAtual.getMonth() + 1).toString().padStart(2, '0'); // +1 porque o mês começa em 0\n  const ano = dataAtual.getFullYear();\n  return `${ano}-${mes}-${dia}`;\n}\n\n// Função para formatação de usernames do Instagram/site\nfunction formatarInstagram(input) {\n  if (input) {\n    // Verificar se é um site\n    const siteRegex = /^(http|https):\\/\\/(.*)\\.(.*)$/;\n    if (siteRegex.test(input)) {\n      // Se for um site, retornar o input sem formatação\n      return input;\n    } else {\n      // Remover espaços em branco extras e o símbolo \"@\"\n      const usernameSemEspacosOuArroba = input.trim().replace(/@/g, '');\n\n      // Converter para minúsculas\n      const usernameFormatado = usernameSemEspacosOuArroba.toLowerCase();\n\n      return usernameFormatado;\n    }\n  }\n  return '';\n}\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.toString().replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\n// Função para extrair as UTMs do objeto JSON\nfunction extractUTMs(json) {\n  const utmParams = {};\n\n  function searchUTMs(obj) {\n    for (const key in obj) {\n      if (key.startsWith('utm_')) {\n        utmParams[key] = obj[key];\n      } else if (typeof obj[key] === 'object') {\n        searchUTMs(obj[key]);\n      }\n    }\n  }\n\n  searchUTMs(json);\n\n  return utmParams;\n}\n\n// Extrair as UTMs do objeto JSON de entrada\nconst utms = extractUTMs(inputData);\n\n// UTMS\nconst utmContent = utms.utm_content || '';\nconst utmSource = utms.utm_source || '';\nconst utmCampaign = utms.utm_campaign || '';\nconst utmMedium = utms.utm_medium || '';\nconst utmTerm = utms.utm_term || '';\n\n// Função para formatação de emails\nfunction formatarEmail(email) {\n  // Remover espaços em branco extras\n  const emailSemEspacos = email.trim();\n\n  // Converter para minúsculas\n  const emailFormatado = emailSemEspacos.toLowerCase();\n\n  return emailFormatado;\n}\n\n// Função para formatação de nomes\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n// Data da aplicação em milissegundos\nconst dataAtualEmMilissegundos = new Date().getTime();\n\n// Data atual\nconst dataAtual = new Date();\n\n// Função para adicionar um zero à esquerda se o número for menor que 10\nfunction adicionarZero(numero) {\n  if (numero < 10) {\n    return '0' + numero;\n  }\n  return numero;\n}\n\n// Formatar a data\nconst formatDate = (dateStr) => {\n  if (!dateStr) return '';\n  const months = {\n    \"Janeiro\": \"01\",\n    \"Fevereiro\": \"02\",\n    \"Março\": \"03\",\n    \"Abril\": \"04\",\n    \"Maio\": \"05\",\n    \"Junho\": \"06\",\n    \"Julho\": \"07\",\n    \"Agosto\": \"08\",\n    \"Setembro\": \"09\",\n    \"Outubro\": \"10\",\n    \"Novembro\": \"11\",\n    \"Dezembro\": \"12\"\n  };\n  const [year, month, day] = dateStr.split(\"-\");\n  if (!day || !month || !year) return '';\n  return `${year}-${month.padStart(2, \"0\")}-${day.padStart(2, \"0\")}`;\n};\n\n// Função para formatar o tempo\nconst formatTime = (timeStr) => {\n  if (!timeStr) return '';\n  const time = timeStr.split(\"-\")[0]; // Ignora o fuso horário\n  const [hour, minute, second] = time.split(\":\").map(Number);\n  return `${hour.toString().padStart(2, \"0\")}:${minute.toString().padStart(2, \"0\")}:${second.toString().padStart(2, \"0\")}`;\n};\n\nconst dateTimeStr = $node[\"pre-aplicacao_manychat\"].json[\"body\"][\"ig_last_interaction\"] || '';\nconst [dateStr, timeWithTimezone] = dateTimeStr.split('T');\nconst timeStr = timeWithTimezone ? timeWithTimezone.split('-')[0] : '';\n\nconst formattedDateTime = dateStr && timeStr ? `${formatDate(dateStr)} ${formatTime(timeStr)}` : 'Data ou hora não fornecida';\n\nconsole.log(formattedDateTime); // Exibe a data e hora formatadas\n\n// INFORMAÇÕES PESSOAIS\nconst nome = formatarNome($node[\"pre-aplicacao_manychat\"].json[\"body\"][\"name\"]) || \"\";\nconst telefone = formatarTelefone($node[\"pre-aplicacao_manychat\"].json[\"body\"][\"custom_fields\"][\"Telefone\"]) || '';\nconst instagram = formatarInstagram($node[\"pre-aplicacao_manychat\"].json[\"body\"][\"ig_username\"]) || '';\nconst email = formatarEmail($node[\"pre-aplicacao_manychat\"].json[\"body\"][\"email\"]) || \"\";\nconst parceiro =  \"Manychat\";\n\n// Montar o objeto de output\nconst output = {\n \"Nome do Cliente\": nome,\n \"E-mail do Cliente\": email,\n \"Telefone do Cliente - Formato BC\": '+' + telefone,\n \"Telefone do Cliente - Formato Z-API\": telefone,\n  instagram,\n  parceiro,\n  utm_content: utmContent,\n  utm_source: utmSource,\n  utm_campaign: utmCampaign,\n  utm_medium: utmMedium,\n  utm_term: utmTerm,\n  data_ultima_quinzena: getDataMenos15Dias(),\n  data_aplicacao_milessegundos: dataAtualEmMilissegundos,\n  data_aplicacao: formattedDateTime\n};\n\nreturn [output];"
      },
      "id": "cc9db9ca-8768-4f55-858e-e82ade98ddff",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"E-mail do Cliente\"] }}"
            },
            {
              "name": "=Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"instagram\"]}}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"formata_dados\"].json[\"pergunta20\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"formata_dados\"].json[\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "3065086"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min_desqualificados"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "1780336"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "1780335"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "1780334"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "1780337"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "1780338"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "1780345"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "1780344"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "1776705"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "1780340"
            },
            {
              "name": "id_campo_id_lead_crm_bot_conversa",
              "value": "1780343"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "1789193"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "6979786"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "7005347"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "1654521"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "1654523"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "1654886"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "1654541"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "1689038"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "1772554"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "1772555"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "1782967"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "1814217"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_link_do_instagram_crm",
              "value": "4d4434db-7404-4ca3-8586-88aacbe0069f"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_pergunta0_crm",
              "value": "38f71e36-b8c8-42a4-aab3-0eede967e3ec"
            },
            {
              "name": "id_campo_pergunta1_crm",
              "value": "cfdc19bd-7efe-48e2-8b83-ee721b0bf56c"
            },
            {
              "name": "id_campo_pergunta2_crm",
              "value": "9f7b4da0-1df8-45cc-8d19-3dc13b3c6120"
            },
            {
              "name": "id_campo_pergunta3_crm",
              "value": "ce42f281-0ad4-491b-b918-25754365f2fb"
            },
            {
              "name": "id_campo_pergunta4_crm",
              "value": "04fc4778-f22a-4343-8217-03257f178662"
            },
            {
              "name": "id_campo_pergunta5_crm"
            },
            {
              "name": "id_campo_pergunta6_crm"
            },
            {
              "name": "id_campo_pergunta7_crm"
            },
            {
              "name": "id_campo_pergunta8_crm",
              "value": "6d05cee0-28f8-474c-84cd-35e76468094c"
            },
            {
              "name": "id_campo_pergunta9_crm"
            },
            {
              "name": "id_campo_pergunta10_crm"
            },
            {
              "name": "id_campo_pergunta11_crm"
            },
            {
              "name": "id_campo_pergunta12_crm"
            },
            {
              "name": "id_campo_pergunta13_crm"
            },
            {
              "name": "id_campo_pergunta14_crm"
            },
            {
              "name": "id_campo_pergunta15_crm"
            },
            {
              "name": "id_campo_pergunta16_crm"
            },
            {
              "name": "id_campo_pergunta17_crm"
            },
            {
              "name": "id_campo_pergunta18_crm"
            },
            {
              "name": "id_campo_pergunta19_crm"
            },
            {
              "name": "id_campo_pergunta20_crm"
            },
            {
              "name": "id_stage_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_downsell_crm"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "valor_produto_downsell_em_centavos"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_sdr"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_crm_origem",
              "value": "ba2292d8-b72b-48b1-b2b6-159456a98d63"
            },
            {
              "name": "funil",
              "value": "Manychat"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "status_sessao_estrategica_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_pipeline_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_ending_typeform"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "id_campo_idleadac_bot_conversa"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_status_do_lead_qualificado_crm",
              "value": "b1bdbadf-406b-4272-ae97-18b3c214005b"
            },
            {
              "name": "id_campo_status_do_lead_desqualificado_crm",
              "value": "0174e3df-8ec5-4f30-bbe7-027d3a839ed3"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_produto_mentoria_escala_ sem_caos_crm",
              "value": "fbd2bb16-6676-43bd-9938-fca73139fede"
            },
            {
              "name": "id_campo_produto_implementacao_escala_ sem_caos_crm",
              "value": "49b06aaf-209a-4a2c-84e0-65a6e135ab12"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"formata_dados\"].json[\"qualificacao\"] }}"
            },
            {
              "name": "etapa_pre_desqualificados_crm",
              "value": "77544d86-43b7-4cf6-bc87-ea059abbd7a5"
            },
            {
              "name": "etapa_pre_qualificados_crm",
              "value": "2c64ca7b-3988-4ce5-9163-be272209072b"
            },
            {
              "name": "id_campo_id_bc_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_data_da_aplicacao_crm",
              "value": "00ad74e6-783f-4153-8bfd-9bf9a5b39857"
            },
            {
              "name": "id_campo_data_da_aplicacao_bot_conversa",
              "value": "1814725"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "data_resposta_type_milesegundos",
              "value": "={{ $node[\"formata_dados\"].json[\"data_aplicacao\"] }}"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "a5eebcc6-1646-4e44-a1ae-0e034bd825ef"
            },
            {
              "name": "id_campo_status_aplicacao_realizada_crm",
              "value": "bbf14072-e675-4a28-915a-ede90e9d31fa"
            },
            {
              "name": "id_fluxo_popular_campos",
              "value": "3317483"
            },
            {
              "name": "parceiro",
              "value": "={{ $node[\"formata_dados\"].json[\"parceiro\"] }}"
            },
            {
              "name": "funil",
              "value": "manychat"
            },
            {
              "name": "origem",
              "value": "Instagram"
            },
            {
              "name": "celula",
              "value": "={{ $node[\"formata_dados\"].json[\"celula\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9fbc88d7-9627-49a4-ac8f-d3897cd7cd81",
      "name": "dados_validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1240,
        360
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pre-aplicacao-manychat",
        "options": {}
      },
      "id": "33f6a0c6-0147-4520-a4a1-4db8f67601f4",
      "name": "pre-aplicacao_manychat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        780,
        360
      ],
      "webhookId": "6d98d62e-2ca9-48f8-b747-5c0915fa0c81"
    },
    {
      "parameters": {
        "queue": "manychat - p2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "5da2546f-c653-4340-b330-4b3756d74565",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1460,
        360
      ],
      "credentials": {
        "rabbitmq": {
          "id": "UNsBZpoYhAtf5Api",
          "name": "[RabbitMQ] - Portus"
        }
      }
    }
  ],
  "pinData": {
    "pre-aplicacao_manychat": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookportus.automagicbots.com.br",
            "user-agent": "ManyChat",
            "content-length": "1181",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "18.193.73.165",
            "x-forwarded-host": "n8nwebhookportus.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d71ef73d891d",
            "x-real-ip": "18.193.73.165",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "key": "user:1570075255",
            "id": "1570075255",
            "page_id": "106673468731104",
            "user_refs": [],
            "status": "active",
            "first_name": "𝙈𝙖𝙩𝙚𝙪𝙨",
            "last_name": "𝘿𝙞𝙣𝙞𝙯 | Automações",
            "name": "𝙈𝙖𝙩𝙚𝙪𝙨 𝘿𝙞𝙣𝙞𝙯 | Automações",
            "gender": null,
            "profile_pic": "https://manychat.com/ava/106673468731104/1570075255/8d1d5ed87f9d638fbc200fe5891df3cf",
            "locale": null,
            "language": null,
            "timezone": "UTC±00",
            "live_chat_url": "https://manychat.com/fb106673468731104/chat/1570075255",
            "last_input_text": "mateusdiniz@automagicbots.com.br",
            "optin_phone": false,
            "phone": null,
            "optin_email": true,
            "email": "mateusdiniz@automagicbots.com.br",
            "subscribed": "2024-05-23T17:28:16-03:00",
            "last_interaction": null,
            "ig_last_interaction": "2024-05-24T09:12:59-03:00",
            "last_seen": null,
            "ig_last_seen": "2024-05-24T09:12:59-03:00",
            "is_followup_enabled": true,
            "ig_username": "prmateusdiniz",
            "ig_id": 310474522103342,
            "whatsapp_phone": null,
            "optin_whatsapp": false,
            "phone_country_code": null,
            "last_growth_tool": null,
            "custom_fields": {
              "Telefone": 62981196678,
              "Checkpoint": "nome_empresa",
              "nome_empresa": null,
              "qtd_funcionarios": null,
              "faturamento": null,
              "modelo_negocio": null,
              "qual_profissional": null
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-05-24T14:47:11.581Z",
  "versionId": "a7446df1-4b89-47a3-83f6-0a1b1b3dcad9"
}